Repository AlexAegis/rx_bevy: changes, and which Codecov flags are due for each by the changed paths.
All: rx_bevy, rx_bevy_common, rx_bevy_context, rx_bevy_observable_event, rx_bevy_observable_keyboard, rx_bevy_observable_message, rx_bevy_observable_proxy, rx_bevy_observable_resource, rx_core, rx_core_emission_variants, rx_core_macro_common, rx_core_macro_executor_derive, rx_core_macro_observable_derive, rx_core_macro_observer_derive, rx_core_macro_operator_derive, rx_core_macro_scheduler_derive, rx_core_macro_subject_derive, rx_core_macro_subscriber_derive, rx_core_macro_subscription_derive, rx_core_macro_task_derive, rx_core_observable_combine_latest, rx_core_observable_connectable, rx_core_observable_deferred, rx_core_observable_empty, rx_core_observable_interval, rx_core_observable_iterator, rx_core_observable_iterator_on_tick, rx_core_observable_merge, rx_core_observable_of, rx_core_observable_pipe, rx_core_observable_throw, rx_core_observable_zip, rx_core_observer_fn, rx_core_observer_noop, rx_core_observer_print, rx_core_operator_adsr, rx_core_operator_composite, rx_core_operator_delay, rx_core_operator_enumerate, rx_core_operator_error_boundary, rx_core_operator_fallback_when_silent, rx_core_operator_filter, rx_core_operator_filter_map, rx_core_operator_finalize, rx_core_operator_identity, rx_core_operator_into_result, rx_core_operator_lift_option, rx_core_operator_lift_result, rx_core_operator_map, rx_core_operator_map_into, rx_core_operator_merge_all, rx_core_operator_merge_map, rx_core_operator_reduce, rx_core_operator_scan, rx_core_operator_skip, rx_core_operator_start_with, rx_core_operator_switch_all, rx_core_operator_switch_map, rx_core_operator_take, rx_core_operator_tap_next, rx_core_scheduler_ticking, rx_core_subject, rx_core_subject_async, rx_core_subject_behavior, rx_core_subject_replay, rx_core_subscriber_rc, rx_core_subscriber_merge, rx_core_subscriber_switch, rx_core_subscription_inert, rx_core_testing, rx_core_traits

chore: removed manual clone implementations
  Cargo.lock
  crates/rx_core_operator_into_result/Cargo.toml
  crates/rx_core_operator_into_result/src/into_result_operator.rs
  crates/rx_core_operator_lift_option/Cargo.toml
  crates/rx_core_operator_lift_option/src/lift_option_operator.rs
  crates/rx_core_operator_map/src/map_operator.rs
Due: rx_core_operator_into_result, rx_core_operator_lift_option, rx_core_operator_map

test(rx_core_operator_composite): added tests
  crates/rx_core_operator_composite/src/composite_operator.rs
  crates/rx_core_operator_composite/tests/composite_operator_test.rs
Due: rx_core_operator_composite

test(rx_core_operator_find): added tests
  crates/rx_core_operator_find/src/find_subscriber.rs
  crates/rx_core_operator_find/tests/find_operator_test.rs
Due: none

test(rx_core_operator_find_index): added tests
  crates/rx_core_observable_timer/src/timer_observable_test.rs
  crates/rx_core_operator_find/src/find_operator.rs
  crates/rx_core_operator_find/src/find_operator_error.rs
  crates/rx_core_operator_find/src/find_subscriber.rs
  crates/rx_core_operator_find/src/lib.rs
  crates/rx_core_operator_find_index/src/find_index_operator.rs
  crates/rx_core_operator_find_index/src/find_index_operator_error.rs
  crates/rx_core_operator_find_index/src/find_index_subscriber.rs
  crates/rx_core_operator_find_index/src/lib.rs
  crates/rx_core_operator_find_index/tests/find_index_operator_test.rs
Due: none

chore: moved throw observable tests to their own file
  crates/rx_core_observable_throw/src/throw_observable.rs
  crates/rx_core_observable_throw/tests/throw_observable_test.rs
  crates/rx_core_observable_timer/src/lib.rs
  crates/rx_core_observable_timer/tests/timer_observable_test.rs
  crates/rx_core_testing/src/lib.rs
Due: rx_core_observable_throw, rx_core_testing

chore: moved of observable tests to its own file
  crates/rx_core_observable_of/src/of_observable.rs
  crates/rx_core_observable_of/src/of_observable_fn.rs
  crates/rx_core_observable_of/tests/of_observable_test.rs
Due: rx_core_observable_of

chore: moved never observable tests to its own file
  crates/rx_core_observable_never/src/never_observable.rs
  crates/rx_core_observable_never/tests/never_observable_test.rs
Due: none

test(rx_core_operator_filter): added tests
  crates/rx_core_operator_filter/tests/filter_operator_test.rs
Due: rx_core_operator_filter

test(rx_core_operator_filter_map): added tests
  crates/rx_core_operator_filter_map/tests/filter_map_operator_test.rs
Due: rx_core_operator_filter_map

test(rx_core_operator_finalize): added tests
  crates/rx_core_observable_connectable/src/connectable_observable.rs
  crates/rx_core_operator_finalize/tests/finalize_operator_test.rs
Due: rx_core_observable_connectable, rx_core_operator_finalize

chore: disable release for now, actually
  release-plz.toml
Due: none

feat(rx_core_subject_provenance): added the provenance subject
  Cargo.lock
  Cargo.toml
  codecov.yml
  crates/rx_bevy/Cargo.toml
  crates/rx_bevy/examples/ad_hoc_observable.rs
  crates/rx_bevy/examples/observable_gallery.rs
  crates/rx_bevy_observable_keyboard/examples/observable_keyboard_example.rs
  crates/rx_core/Cargo.toml
  crates/rx_core/src/lib.rs
  crates/rx_core_operator_composite/examples/composite_operators_example.rs
  crates/rx_core_operator_filter/examples/filter_operator_example.rs
  crates/rx_core_operator_filter/src/filter_extension_compose.rs
  crates/rx_core_operator_filter/src/filter_extension_pipe.rs
  crates/rx_core_operator_filter/src/filter_operator.rs
  crates/rx_core_operator_filter/src/filter_subscriber.rs
  crates/rx_core_operator_filter/tests/filter_operator_test.rs
  crates/rx_core_operator_identity/examples/identity_operator_example.rs
  crates/rx_core_subject_async/src/lib.rs
  crates/rx_core_subject_async/tests/async_subject_test.rs
  crates/rx_core_subject_behavior/src/lib.rs
  crates/rx_core_subject_behavior/tests/behavior_subject_test.rs
  crates/rx_core_subject_provenance/Cargo.toml
  crates/rx_core_subject_provenance/examples/provenance_subject_example.rs
  crates/rx_core_subject_provenance/readme.md
  crates/rx_core_subject_provenance/src/lib.rs
  crates/rx_core_subject_provenance/src/provenance_subject.rs
  crates/rx_core_subject_provenance/tests/provenance_subject_test.rs
  crates/rx_core_subject_replay/tests/replay_subject_test.rs
  docs/SUMMARY.md
  docs/subject/provenance.md
Due: rx_bevy, rx_bevy_observable_keyboard, rx_core, rx_core_operator_composite, rx_core_operator_filter, rx_core_operator_identity, rx_core_subject_async, rx_core_subject_behavior, rx_core_subject_replay

test(rx_core_subject_provenance): more tests
  crates/rx_core_subject_provenance/tests/provenance_subject_test.rs
Due: none

test(rx_core_subject_publish): remaining multicast coverage
  crates/rx_core_subject_publish/src/multicast.rs
  crates/rx_core_subject_publish/src/multicast_notification_errors.rs
  crates/rx_core_subject_publish/tests/publish_subject_deferred_test.rs
Due: none

test(rx_core_subscriber_concurrent): added tests
  crates/rx_core_subscriber_concurrent/src/concurrent_subscriber.rs
  crates/rx_core_subscriber_concurrent/tests/concurrent_subscriber_test.rs
Due: none

chore(rx_core_observable_concat): moved tests into its own file
  crates/rx_core_observable_concat/src/concat_observable.rs
  crates/rx_core_observable_concat/tests/concat_observable_test.rs
Due: none

test(rx_core_observable_deferred): added tests
  crates/rx_core_observable_deferred/tests/deferred_observable_test.rs
Due: rx_core_observable_deferred

chore(rx_core_observable_empty): moved tests to their own file
  crates/rx_core_observable_empty/examples/empty_example.rs
  crates/rx_core_observable_empty/src/empty_observable.rs
  crates/rx_core_observable_empty/tests/empty_observable_test.rs
Due: rx_core_observable_empty

test(rx_core_observable_erased): added tests
  crates/rx_core_observable_erased/tests/erased_observables_test.rs
Due: none

chore(rx_core_observable_connectable): removed manual clone impl
  crates/rx_core_observable_connectable/src/connectable_observable.rs
Due: rx_core_observable_connectable

test(rx_core_operator_end_with): added tests
  crates/rx_core_operator_end_with/tests/end_with_operator_test.rs
Due: none

test(rx_core_operator_enumerate): added tests
  crates/rx_core_operator_enumerate/Cargo.toml
  crates/rx_core_operator_enumerate/src/enumerate_subscriber.rs
  crates/rx_core_operator_enumerate/tests/enumerate_operator_test.rs
Due: rx_core_operator_enumerate

test(rx_core_operator_error_boundary): added tests
  crates/rx_core_operator_error_boundary/src/error_boundary_operator.rs
  crates/rx_core_operator_error_boundary/src/error_boundary_subscriber.rs
  crates/rx_core_operator_error_boundary/tests/error_boundary_operator_test.rs
Due: rx_core_operator_error_boundary

test(rx_core_operator_delay): added tests
  crates/rx_core_operator_delay/control/delay.ts
  crates/rx_core_operator_delay/src/delay_subscriber.rs
  crates/rx_core_operator_delay/tests/delay_operator_test.rs
  crates/rx_core_testing/src/lib.rs
Due: rx_core_operator_delay, rx_core_testing

fix(rx_core_operator_delay): unsubscribe immediately if can
  crates/rx_core_operator_delay/src/delay_subscriber.rs
  crates/rx_core_operator_delay/tests/delay_operator_test.rs
Due: rx_core_operator_delay

test(rx_core_operator_reduce): added tests
  crates/rx_core_operator_reduce/src/reduce_operator.rs
  crates/rx_core_operator_reduce/tests/reduce_operator_test.rs
Due: rx_core_operator_reduce

test(rx_core_operator_scan): added tests
  crates/rx_core_operator_scan/src/scan_operator.rs
  crates/rx_core_operator_scan/tests/scan_operator_test.rs
Due: rx_core_operator_scan

test(rx_core_observable_iterator): moved tests to their own file
  crates/rx_core_observable_iterator/src/iterator_observable.rs
  crates/rx_core_observable_iterator/tests/iterator_observable_test.rs
  crates/rx_core_observable_iterator_on_tick/src/iterator_on_tick_observable.rs
  crates/rx_core_observable_iterator_on_tick/tests/iterator_on_tick_observable_test.rs
  crates/rx_core_testing/src/lib.rs
Due: rx_core_observable_iterator, rx_core_observable_iterator_on_tick, rx_core_testing

fix(rx_core_subscriber_concurrent): reworked concurrent subscriber
  Cargo.lock
  crates/rx_bevy_context/src/observer/detached_subscriber.rs
  crates/rx_bevy_observable_proxy/examples/proxy_observable_example.rs
  crates/rx_core_observable_connectable/control/connectable.ts
  crates/rx_core_observable_join/src/join_subscriber.rs
  crates/rx_core_operator_concat_all/examples/concat_all_example.rs
  crates/rx_core_operator_concat_all/src/concat_all_operator.rs
  crates/rx_core_operator_concat_all/tests/concat_all_operator_tests.rs
  crates/rx_core_subject_publish/examples/subject_self_teardown.rs
  crates/rx_core_subject_publish/src/multicast.rs
  crates/rx_core_subject_publish/src/publish_subject.rs
  crates/rx_core_subject_publish/tests/publish_subject_deferred_test.rs
  crates/rx_core_subject_publish/tests/publish_subject_test.rs
  crates/rx_core_subscriber_concurrent/Cargo.toml
  crates/rx_core_subscriber_concurrent/src/concurrent_subscriber.rs
  crates/rx_core_subscriber_concurrent/src/concurrent_subscriber_inner.rs
  crates/rx_core_subscriber_concurrent/src/concurrent_subscriber_state.rs
  crates/rx_core_subscriber_concurrent/src/lib.rs
  crates/rx_core_subscriber_concurrent/tests/concurrent_subscriber_test.rs
Due: rx_bevy_context, rx_bevy_observable_proxy, rx_core_observable_connectable

test(rx_core_operator_merge_map): added tests
  crates/rx_core_observable_zip/examples/zip_example.rs
  crates/rx_core_operator_merge_map/src/merge_map_operator.rs
  crates/rx_core_operator_merge_map/tests/merge_map_operator_tests.rs
Due: rx_core_observable_zip, rx_core_operator_merge_map

test(rx_core_operator_concat_all): added tests
  crates/rx_core_operator_concat_all/tests/concat_all_operator_tests.rs
  crates/rx_core_subscriber_concurrent/src/concurrent_subscriber_inner.rs
Due: none

test(rx_core_operator_concat_map): added tests
  crates/rx_core_operator_concat_map/src/concat_map_operator.rs
  crates/rx_core_operator_concat_map/tests/concat_map_operator_tests.rs
Due: none

test(rx_core_operator_merge_all): added tests
  crates/rx_core_operator_merge_all/src/merge_all_operator.rs
  crates/rx_core_operator_merge_all/tests/merge_all_operator_tests.rs
Due: rx_core_operator_merge_all

test(rx_core_subscriber_concurrent): tests for errors
  crates/rx_core_operator_concat_all/tests/concat_all_operator_tests.rs
  crates/rx_core_operator_concat_map/tests/concat_map_operator_tests.rs
  crates/rx_core_operator_merge_all/tests/merge_all_operator_tests.rs
  crates/rx_core_operator_merge_map/tests/merge_map_operator_tests.rs
  crates/rx_core_operator_switch_all/src/switch_all_operator.rs
  crates/rx_core_operator_switch_all/tests/switch_all_operator_test.rs
  crates/rx_core_operator_switch_map/src/switch_map_operator.rs
  crates/rx_core_operator_switch_map/tests/switch_map_operator_test.rs
  crates/rx_core_subscriber_concurrent/src/concurrent_subscriber.rs
  crates/rx_core_subscriber_concurrent/src/concurrent_subscriber_inner.rs
  crates/rx_core_subscriber_concurrent/src/concurrent_subscriber_state.rs
  crates/rx_core_subscriber_exhaust/tests/exhaust_subscriber_test.rs
Due: rx_core_operator_merge_all, rx_core_operator_merge_map, rx_core_operator_switch_all, rx_core_operator_switch_map

refactor(rx_core_subscriber_higher_order): extracted HigherOrderSubscriberState from ConcurrentSubscriber
  Cargo.lock
  crates/rx_core_notification_store/Cargo.toml
  crates/rx_core_notification_store/src/lib.rs
  crates/rx_core_notification_store/src/notification_queue.rs
  crates/rx_core_notification_store/src/notification_state.rs
  crates/rx_core_subscriber_concurrent/Cargo.toml
  crates/rx_core_subscriber_concurrent/src/concurrent_subscriber.rs
  crates/rx_core_subscriber_concurrent/src/concurrent_subscriber_inner.rs
  crates/rx_core_subscriber_concurrent/src/concurrent_subscriber_queue.rs
  crates/rx_core_subscriber_concurrent/src/concurrent_subscriber_state.rs
  crates/rx_core_subscriber_concurrent/src/lib.rs
  crates/rx_core_subscriber_higher_order/src/higher_order_subscriber_state.rs
  crates/rx_core_subscriber_higher_order/src/lib.rs
  crates/rx_core_traits/Cargo.toml
  crates/rx_core_traits/src/subscribers/mod.rs
  crates/rx_core_traits/src/subscribers/subscriber_state.rs
Due: rx_core_traits

refactor(rx_core_subscriber_higher_order): extracted HigherOrderInnerSubscriber from ConcurrentSubscriber
  Cargo.lock
  crates/rx_core_subscriber_concurrent/src/concurrent_subscriber.rs
  crates/rx_core_subscriber_concurrent/src/concurrent_subscriber_inner.rs
  crates/rx_core_subscriber_concurrent/src/lib.rs
  crates/rx_core_subscriber_concurrent/tests/concurrent_subscriber_test.rs
  crates/rx_core_subscriber_higher_order/Cargo.toml
  crates/rx_core_subscriber_higher_order/src/higher_order_subscriber_inner.rs
  crates/rx_core_subscriber_higher_order/src/lib.rs
Due: none

refactor(rx_core_subscriber_exhaust): refactored to use the new HigherOrderInnerSubscriber for shared behavior
  Cargo.lock
  crates/rx_core_operator_concat_map/tests/concat_map_operator_tests.rs
  crates/rx_core_operator_exhaust_all/src/exhaust_all_operator.rs
  crates/rx_core_operator_exhaust_all/tests/exhaust_all_operator_test.rs
  crates/rx_core_operator_exhaust_map/tests/exhaust_map_operator_tests.rs
  crates/rx_core_subscriber_concurrent/src/concurrent_subscriber.rs
  crates/rx_core_subscriber_exhaust/Cargo.toml
  crates/rx_core_subscriber_exhaust/src/exhaust_subscriber.rs
  crates/rx_core_subscriber_exhaust/src/exhaust_subscriber_provider.rs
  crates/rx_core_subscriber_exhaust/src/lib.rs
  crates/rx_core_subscriber_exhaust/tests/exhaust_subscriber_test.rs
  crates/rx_core_subscriber_higher_order/Cargo.toml
  crates/rx_core_subscriber_higher_order/src/higher_order_subscriber_inner.rs
  crates/rx_core_subscriber_higher_order/src/higher_order_subscriber_state.rs
Due: none

refactor(rx_core_subscriber_switch): refactor using the HigherOrderInnerSubscriber for shared behavior
  Cargo.lock
  crates/rx_core_operator_exhaust_all/tests/exhaust_all_operator_test.rs
  crates/rx_core_operator_exhaust_map/tests/exhaust_map_operator_tests.rs
  crates/rx_core_operator_switch_all/tests/switch_all_operator_test.rs
  crates/rx_core_operator_switch_map/tests/switch_map_operator_test.rs
  crates/rx_core_subscriber_concurrent/src/concurrent_subscriber.rs
  crates/rx_core_subscriber_exhaust/src/exhaust_subscriber.rs
  crates/rx_core_subscriber_higher_order/src/higher_order_subscriber_inner.rs
  crates/rx_core_subscriber_higher_order/src/higher_order_subscriber_state.rs
  crates/rx_core_subscriber_switch/Cargo.toml
  crates/rx_core_subscriber_switch/src/lib.rs
  crates/rx_core_subscriber_switch/src/switch_subscriber.rs
  crates/rx_core_subscriber_switch/src/switch_subscriber_provider.rs
  crates/rx_core_subscriber_switch/tests/switch_subscriber_test.rs
Due: rx_core_operator_switch_all, rx_core_operator_switch_map, rx_core_subscriber_switch

Path conditions:
  rx_bevy: any of: crates/rx_bevy/**
  rx_bevy_common: any of: crates/rx_bevy_common/**
  rx_bevy_context: any of: crates/rx_bevy_context/**
  rx_bevy_observable_event: any of: crates/rx_bevy_observable_event/**
  rx_bevy_observable_keyboard: any of: crates/rx_bevy_observable_keyboard/**
  rx_bevy_observable_message: any of: crates/rx_bevy_observable_message/**
  rx_bevy_observable_proxy: any of: crates/rx_bevy_observable_proxy/**
  rx_bevy_observable_resource: any of: crates/rx_bevy_observable_resource/**
  rx_core: any of: crates/rx_core/**
  rx_core_emission_variants: any of: crates/rx_core_emission_variants/**
  rx_core_macro_common: any of: crates/rx_core_macro_common/**
  rx_core_macro_executor_derive: any of: crates/rx_core_macro_executor_derive/**
  rx_core_macro_observable_derive: any of: crates/rx_core_macro_observable_derive/**
  rx_core_macro_observer_derive: any of: crates/rx_core_macro_observer_derive/**
  rx_core_macro_operator_derive: any of: crates/rx_core_macro_operator_derive/**
  rx_core_macro_scheduler_derive: any of: crates/rx_core_macro_scheduler_derive/**
  rx_core_macro_subject_derive: any of: crates/rx_core_macro_subject_derive/**
  rx_core_macro_subscriber_derive: any of: crates/rx_core_macro_subscriber_derive/**
  rx_core_macro_subscription_derive: any of: crates/rx_core_macro_subscription_derive/**
  rx_core_macro_task_derive: any of: crates/rx_core_macro_task_derive/**
  rx_core_observable_combine_latest: any of: crates/rx_core_observable_combine_latest/**
  rx_core_observable_connectable: any of: crates/rx_core_observable_connectable/**
  rx_core_observable_deferred: any of: crates/rx_core_observable_deferred/**
  rx_core_observable_empty: any of: crates/rx_core_observable_empty/**
  rx_core_observable_interval: any of: crates/rx_core_observable_interval/**
  rx_core_observable_iterator: any of: crates/rx_core_observable_iterator/**
  rx_core_observable_iterator_on_tick: any of: crates/rx_core_observable_iterator_on_tick/**
  rx_core_observable_merge: any of: crates/rx_core_observable_merge/**
  rx_core_observable_of: any of: crates/rx_core_observable_of/**
  rx_core_observable_pipe: any of: crates/rx_core_observable_pipe/**
  rx_core_observable_throw: any of: crates/rx_core_observable_throw/**
  rx_core_observable_zip: any of: crates/rx_core_observable_zip/**
  rx_core_observer_fn: any of: crates/rx_core_observer_fn/**
  rx_core_observer_noop: any of: crates/rx_core_observer_noop/**
  rx_core_observer_print: any of: crates/rx_core_observer_print/**
  rx_core_operator_adsr: any of: crates/rx_core_operator_adsr/**
  rx_core_operator_composite: any of: crates/rx_core_operator_composite/**
  rx_core_operator_delay: any of: crates/rx_core_operator_delay/**
  rx_core_operator_enumerate: any of: crates/rx_core_operator_enumerate/**
  rx_core_operator_error_boundary: any of: crates/rx_core_operator_error_boundary/**
  rx_core_operator_fallback_when_silent: any of: crates/rx_core_operator_fallback_when_silent/**
  rx_core_operator_filter: any of: crates/rx_core_operator_filter/**
  rx_core_operator_filter_map: any of: crates/rx_core_operator_filter_map/**
  rx_core_operator_finalize: any of: crates/rx_core_operator_finalize/**
  rx_core_operator_identity: any of: crates/rx_core_operator_identity/**
  rx_core_operator_into_result: any of: crates/rx_core_operator_into_result/**
  rx_core_operator_lift_option: any of: crates/rx_core_operator_lift_option/**
  rx_core_operator_lift_result: any of: crates/rx_core_operator_lift_result/**
  rx_core_operator_map: any of: crates/rx_core_operator_map/**
  rx_core_operator_map_into: any of: crates/rx_core_operator_map_into/**
  rx_core_operator_merge_all: any of: crates/rx_core_operator_merge_all/**
  rx_core_operator_merge_map: any of: crates/rx_core_operator_merge_map/**
  rx_core_operator_reduce: any of: crates/rx_core_operator_reduce/**
  rx_core_operator_scan: any of: crates/rx_core_operator_scan/**
  rx_core_operator_skip: any of: crates/rx_core_operator_skip/**
  rx_core_operator_start_with: any of: crates/rx_core_operator_start_with/**
  rx_core_operator_switch_all: any of: crates/rx_core_operator_switch_all/**
  rx_core_operator_switch_map: any of: crates/rx_core_operator_switch_map/**
  rx_core_operator_take: any of: crates/rx_core_operator_take/**
  rx_core_operator_tap_next: any of: crates/rx_core_operator_tap_next/**
  rx_core_scheduler_ticking: any of: crates/rx_core_scheduler_ticking/**
  rx_core_subject: any of: crates/rx_core_subject/**
  rx_core_subject_async: any of: crates/rx_core_subject_async/**
  rx_core_subject_behavior: any of: crates/rx_core_subject_behavior/**
  rx_core_subject_replay: any of: crates/rx_core_subject_replay/**
  rx_core_subscriber_rc: any of: crates/rx_core_subscriber_rc/**
  rx_core_subscriber_merge: any of: crates/rx_core_subscriber_merge/**
  rx_core_subscriber_switch: any of: crates/rx_core_subscriber_switch/**
  rx_core_subscription_inert: any of: crates/rx_core_subscription_inert/**
  rx_core_testing: any of: crates/rx_core_testing/**
  rx_core_traits: any of: crates/rx_core_traits/**
