Repository AlexAegis/rx_bevy: changes, and which Codecov flags are due for each by the changed paths.
All: rx_bevy, rx_bevy_common, rx_bevy_context, rx_bevy_observable_event, rx_bevy_observable_keyboard, rx_bevy_observable_message, rx_bevy_observable_proxy, rx_bevy_observable_resource, rx_core, rx_core_emission_variants, rx_core_macro_common, rx_core_macro_executor_derive, rx_core_macro_observable_derive, rx_core_macro_observer_derive, rx_core_macro_operator_derive, rx_core_macro_scheduler_derive, rx_core_macro_subject_derive, rx_core_macro_subscriber_derive, rx_core_macro_subscription_derive, rx_core_macro_task_derive, rx_core_observable_combine_latest, rx_core_observable_connectable, rx_core_observable_deferred, rx_core_observable_empty, rx_core_observable_interval, rx_core_observable_iterator, rx_core_observable_iterator_on_tick, rx_core_observable_merge, rx_core_observable_of, rx_core_observable_pipe, rx_core_observable_throw, rx_core_observable_zip, rx_core_observer_fn, rx_core_observer_noop, rx_core_observer_print, rx_core_operator_adsr, rx_core_operator_composite, rx_core_operator_delay, rx_core_operator_enumerate, rx_core_operator_error_boundary, rx_core_operator_fallback_when_silent, rx_core_operator_filter, rx_core_operator_filter_map, rx_core_operator_finalize, rx_core_operator_identity, rx_core_operator_into_result, rx_core_operator_lift_option, rx_core_operator_lift_result, rx_core_operator_map, rx_core_operator_map_into, rx_core_operator_merge_all, rx_core_operator_merge_map, rx_core_operator_reduce, rx_core_operator_scan, rx_core_operator_skip, rx_core_operator_start_with, rx_core_operator_switch_all, rx_core_operator_switch_map, rx_core_operator_take, rx_core_operator_tap_next, rx_core_scheduler_ticking, rx_core_subject, rx_core_subject_async, rx_core_subject_behavior, rx_core_subject_replay, rx_core_subscriber_rc, rx_core_subscriber_merge, rx_core_subscriber_switch, rx_core_subscription_inert, rx_core_testing, rx_core_traits

Path conditions:
  rx_bevy: any of: crates/rx_bevy/**
  rx_bevy_common: any of: crates/rx_bevy_common/**
  rx_bevy_context: any of: crates/rx_bevy_context/**
  rx_bevy_observable_event: any of: crates/rx_bevy_observable_event/**
  rx_bevy_observable_keyboard: any of: crates/rx_bevy_observable_keyboard/**
  rx_bevy_observable_message: any of: crates/rx_bevy_observable_message/**
  rx_bevy_observable_proxy: any of: crates/rx_bevy_observable_proxy/**
  rx_bevy_observable_resource: any of: crates/rx_bevy_observable_resource/**
  rx_core: any of: crates/rx_core/**
  rx_core_emission_variants: any of: crates/rx_core_emission_variants/**
  rx_core_macro_common: any of: crates/rx_core_macro_common/**
  rx_core_macro_executor_derive: any of: crates/rx_core_macro_executor_derive/**
  rx_core_macro_observable_derive: any of: crates/rx_core_macro_observable_derive/**
  rx_core_macro_observer_derive: any of: crates/rx_core_macro_observer_derive/**
  rx_core_macro_operator_derive: any of: crates/rx_core_macro_operator_derive/**
  rx_core_macro_scheduler_derive: any of: crates/rx_core_macro_scheduler_derive/**
  rx_core_macro_subject_derive: any of: crates/rx_core_macro_subject_derive/**
  rx_core_macro_subscriber_derive: any of: crates/rx_core_macro_subscriber_derive/**
  rx_core_macro_subscription_derive: any of: crates/rx_core_macro_subscription_derive/**
  rx_core_macro_task_derive: any of: crates/rx_core_macro_task_derive/**
  rx_core_observable_combine_latest: any of: crates/rx_core_observable_combine_latest/**
  rx_core_observable_connectable: any of: crates/rx_core_observable_connectable/**
  rx_core_observable_deferred: any of: crates/rx_core_observable_deferred/**
  rx_core_observable_empty: any of: crates/rx_core_observable_empty/**
  rx_core_observable_interval: any of: crates/rx_core_observable_interval/**
  rx_core_observable_iterator: any of: crates/rx_core_observable_iterator/**
  rx_core_observable_iterator_on_tick: any of: crates/rx_core_observable_iterator_on_tick/**
  rx_core_observable_merge: any of: crates/rx_core_observable_merge/**
  rx_core_observable_of: any of: crates/rx_core_observable_of/**
  rx_core_observable_pipe: any of: crates/rx_core_observable_pipe/**
  rx_core_observable_throw: any of: crates/rx_core_observable_throw/**
  rx_core_observable_zip: any of: crates/rx_core_observable_zip/**
  rx_core_observer_fn: any of: crates/rx_core_observer_fn/**
  rx_core_observer_noop: any of: crates/rx_core_observer_noop/**
  rx_core_observer_print: any of: crates/rx_core_observer_print/**
  rx_core_operator_adsr: any of: crates/rx_core_operator_adsr/**
  rx_core_operator_composite: any of: crates/rx_core_operator_composite/**
  rx_core_operator_delay: any of: crates/rx_core_operator_delay/**
  rx_core_operator_enumerate: any of: crates/rx_core_operator_enumerate/**
  rx_core_operator_error_boundary: any of: crates/rx_core_operator_error_boundary/**
  rx_core_operator_fallback_when_silent: any of: crates/rx_core_operator_fallback_when_silent/**
  rx_core_operator_filter: any of: crates/rx_core_operator_filter/**
  rx_core_operator_filter_map: any of: crates/rx_core_operator_filter_map/**
  rx_core_operator_finalize: any of: crates/rx_core_operator_finalize/**
  rx_core_operator_identity: any of: crates/rx_core_operator_identity/**
  rx_core_operator_into_result: any of: crates/rx_core_operator_into_result/**
  rx_core_operator_lift_option: any of: crates/rx_core_operator_lift_option/**
  rx_core_operator_lift_result: any of: crates/rx_core_operator_lift_result/**
  rx_core_operator_map: any of: crates/rx_core_operator_map/**
  rx_core_operator_map_into: any of: crates/rx_core_operator_map_into/**
  rx_core_operator_merge_all: any of: crates/rx_core_operator_merge_all/**
  rx_core_operator_merge_map: any of: crates/rx_core_operator_merge_map/**
  rx_core_operator_reduce: any of: crates/rx_core_operator_reduce/**
  rx_core_operator_scan: any of: crates/rx_core_operator_scan/**
  rx_core_operator_skip: any of: crates/rx_core_operator_skip/**
  rx_core_operator_start_with: any of: crates/rx_core_operator_start_with/**
  rx_core_operator_switch_all: any of: crates/rx_core_operator_switch_all/**
  rx_core_operator_switch_map: any of: crates/rx_core_operator_switch_map/**
  rx_core_operator_take: any of: crates/rx_core_operator_take/**
  rx_core_operator_tap_next: any of: crates/rx_core_operator_tap_next/**
  rx_core_scheduler_ticking: any of: crates/rx_core_scheduler_ticking/**
  rx_core_subject: any of: crates/rx_core_subject/**
  rx_core_subject_async: any of: crates/rx_core_subject_async/**
  rx_core_subject_behavior: any of: crates/rx_core_subject_behavior/**
  rx_core_subject_replay: any of: crates/rx_core_subject_replay/**
  rx_core_subscriber_rc: any of: crates/rx_core_subscriber_rc/**
  rx_core_subscriber_merge: any of: crates/rx_core_subscriber_merge/**
  rx_core_subscriber_switch: any of: crates/rx_core_subscriber_switch/**
  rx_core_subscription_inert: any of: crates/rx_core_subscription_inert/**
  rx_core_testing: any of: crates/rx_core_testing/**
  rx_core_traits: any of: crates/rx_core_traits/**

refactor(rx_core): improved zip and combine_latest observables
  Cargo.lock
  contributing.md
  crates/rx_core_emission_variants/Cargo.toml
  crates/rx_core_emission_variants/src/either_out.rs
  crates/rx_core_emission_variants/src/either_out_error.rs
  crates/rx_core_emission_variants/src/into_variant_subscriber.rs
  crates/rx_core_emission_variants/src/lib.rs
  crates/rx_core_emission_variants/src/subscriber_state.rs
  crates/rx_core_observable_combine_latest/Cargo.toml
  crates/rx_core_observable_combine_latest/examples/combine_latest_example.rs
  crates/rx_core_observable_combine_latest/examples/combine_latest_subject_example.rs
  crates/rx_core_observable_combine_latest/src/combine_latest_fn.rs
  crates/rx_core_observable_combine_latest/src/combine_latest_observable.rs
  crates/rx_core_observable_combine_latest/src/combine_latest_observable_test.rs
  crates/rx_core_observable_combine_latest/src/combine_latest_subscriber.rs
  crates/rx_core_observable_combine_latest/src/lib.rs
  crates/rx_core_observable_combine_latest/src/observable_emission_state.rs
  crates/rx_core_observable_zip/Cargo.toml
  crates/rx_core_observable_zip/control/zip.ts
  crates/rx_core_observable_zip/examples/zip_backpressure_example.rs
  crates/rx_core_observable_zip/examples/zip_example.rs
  crates/rx_core_observable_zip/examples/zip_subject_example.rs
  crates/rx_core_observable_zip/src/lib.rs
  crates/rx_core_observable_zip/src/observable_emission_queue.rs
  crates/rx_core_observable_zip/src/subscriber_notification_queue.rs
  crates/rx_core_observable_zip/src/zip_observable.rs
  crates/rx_core_observable_zip/src/zip_observable_fn.rs
  crates/rx_core_observable_zip/src/zip_observable_test.rs
  crates/rx_core_observable_zip/src/zip_subscriber.rs
  crates/rx_core_subject_publish/control/subject_error_unsubscribes.ts
  crates/rx_core_subscriber_rc/src/inner_rc_subscriber.rs
  crates/rx_core_subscriber_rc/src/rc_subscriber.rs
  crates/rx_core_testing/src/lib.rs
  crates/rx_core_testing/src/mute_panic.rs
  docs/02_concepts.md
  docs/43_development_guidelines_and_rules.md
Due: rx_core_emission_variants, rx_core_observable_combine_latest, rx_core_observable_zip, rx_core_subscriber_rc, rx_core_testing

chore(rx_core): removed the unnecessary Add variant from Subscription and Subscriber notifications
  crates/rx_bevy_context/src/subscription_component.rs
  crates/rx_core_emission_variants/src/subscriber_state.rs
  crates/rx_core_observable_zip/src/subscriber_notification_queue.rs
  crates/rx_core_testing/src/mock_observer.rs
  crates/rx_core_testing/src/notification_collector.rs
  crates/rx_core_traits/src/signals/notification_subscriber.rs
  crates/rx_core_traits/src/signals/notification_subscription.rs
Due: rx_bevy_context, rx_core_emission_variants, rx_core_observable_zip, rx_core_testing, rx_core_traits

fix(rx_core): fixed error propagation for zip and combine_latest
  Cargo.lock
  Cargo.toml
  codecov.yml
  crates/rx_core_emission_variants/readme.md
  crates/rx_core_emission_variants/src/either_out.rs
  crates/rx_core_emission_variants/src/into_variant_subscriber.rs
  crates/rx_core_emission_variants/src/lib.rs
  crates/rx_core_notification_store/Cargo.toml
  crates/rx_core_notification_store/readme.md
  crates/rx_core_notification_store/src/lib.rs
  crates/rx_core_notification_store/src/notification_queue.rs
  crates/rx_core_notification_store/src/notification_state.rs
  crates/rx_core_notification_store/src/queue_overflow_options.rs
  crates/rx_core_notification_store/src/subscriber_state.rs
  crates/rx_core_notification_variadics/Cargo.toml
  crates/rx_core_notification_variadics/readme.md
  crates/rx_core_notification_variadics/src/either_observable_notification_2.rs
  crates/rx_core_notification_variadics/src/either_subscriber_2.rs
  crates/rx_core_notification_variadics/src/lib.rs
  crates/rx_core_observable_combine_latest/Cargo.toml
  crates/rx_core_observable_combine_latest/src/combine_latest_observable.rs
  crates/rx_core_observable_combine_latest/src/combine_latest_observable_test.rs
  crates/rx_core_observable_combine_latest/src/combine_latest_subscriber.rs
  crates/rx_core_observable_combine_latest/src/lib.rs
  crates/rx_core_observable_combine_latest/src/observable_emission_state.rs
  crates/rx_core_observable_zip/control/zip.ts
  crates/rx_core_observable_zip/examples/zip_backpressure_example.rs
  crates/rx_core_observable_zip/src/lib.rs
  crates/rx_core_observable_zip/src/subscriber_notification_queue.rs
  crates/rx_core_observable_zip/src/zip_observable.rs
  crates/rx_core_observable_zip/src/zip_observable_test.rs
  crates/rx_core_observable_zip/src/zip_subscriber.rs
  crates/xtask/src/lints/workspace.rs
Due: rx_core_emission_variants, rx_core_observable_combine_latest, rx_core_observable_zip

chore: clean up zip/combine_latest subscribers
  crates/rx_core_observable_combine_latest/src/combine_latest_subscriber.rs
  crates/rx_core_observable_zip/src/zip_observable.rs
  crates/rx_core_observable_zip/src/zip_subscriber.rs
Due: rx_core_observable_combine_latest, rx_core_observable_zip

fix(rx_core): combine_latest should not complete when only one of its sources completed
  Cargo.lock
  crates/rx_core_notification_store/readme.md
  crates/rx_core_notification_store/src/subscriber_state.rs
  crates/rx_core_observable_combine_latest/control/combine_latest.ts
  crates/rx_core_observable_combine_latest/examples/combine_latest_subject_example.rs
  crates/rx_core_observable_combine_latest/src/combine_latest_observable_test.rs
  crates/rx_core_observable_combine_latest/src/combine_latest_subscriber.rs
  crates/rx_core_observable_combine_latest/src/lib.rs
  crates/rx_core_observable_zip/examples/zip_overflow_example.rs
  crates/rx_core_observable_zip/readme.md
  crates/rx_core_observable_zip/src/zip_observable_test.rs
  crates/rx_core_observable_zip/src/zip_subscriber.rs
  crates/rx_core_subject_publish/src/publish_subject_test.rs
  crates/rx_core_traits/src/observer.rs
  docs/02_concepts.md
Due: rx_core_observable_combine_latest, rx_core_observable_zip, rx_core_traits

feat(rx_core): added the timer observable
  Cargo.lock
  Cargo.toml
  codecov.yml
  crates/rx_bevy/Cargo.toml
  crates/rx_core/Cargo.toml
  crates/rx_core/src/lib.rs
  crates/rx_core_observable_interval/examples/interval_example.rs
  crates/rx_core_observable_timer/Cargo.toml
  crates/rx_core_observable_timer/examples/timer_example.rs
  crates/rx_core_observable_timer/readme.md
  crates/rx_core_observable_timer/src/lib.rs
  crates/rx_core_observable_timer/src/timer_observable.rs
  crates/rx_core_observable_timer/src/timer_observable_fn.rs
  crates/rx_core_observable_timer/src/timer_observable_test.rs
  crates/rx_core_observable_timer/src/timer_subscription.rs
  crates/rx_core_scheduler_ticking/src/tick.rs
  crates/rx_core_traits/src/observer.rs
  docs/10_observables_core/timer.md
  docs/SUMMARY.md
Due: rx_bevy, rx_core, rx_core_observable_interval, rx_core_scheduler_ticking, rx_core_traits

feat(rx_core_operator_start_with): start_with now accepts an Fn instead of a fixed value, and evaluates on subscribe
  crates/rx_core_observable_timer/src/timer_observable_test.rs
  crates/rx_core_operator_start_with/examples/start_with_operator_default_example.rs
  crates/rx_core_operator_start_with/src/start_with_extension_compose.rs
  crates/rx_core_operator_start_with/src/start_with_extension_pipe.rs
  crates/rx_core_operator_start_with/src/start_with_operator.rs
Due: rx_core_operator_start_with

chore(rx_core_macro_common): reorganized crate and added tests
  crates/rx_bevy_context/src/scheduler/rx_bevy_executor.rs
  crates/rx_core_macro_common/src/derive_executor.rs
  crates/rx_core_macro_common/src/derive_observable.rs
  crates/rx_core_macro_common/src/derive_observer.rs
  crates/rx_core_macro_common/src/derive_primary_category.rs
  crates/rx_core_macro_common/src/derive_subscription.rs
  crates/rx_core_macro_common/src/derive_task.rs
  crates/rx_core_macro_common/src/derive_teardown_collection.rs
  crates/rx_core_macro_common/src/derive_with_context_provider.rs
  crates/rx_core_macro_common/src/helpers.rs
  crates/rx_core_macro_common/src/lib.rs
  crates/rx_core_macro_executor_derive/src/lib.rs
  crates/rx_core_macro_observable_derive/src/lib.rs
  crates/rx_core_macro_observer_derive/src/lib.rs
  crates/rx_core_macro_operator_derive/src/lib.rs
  crates/rx_core_macro_scheduler_derive/src/lib.rs
  crates/rx_core_macro_subject_derive/src/lib.rs
  crates/rx_core_macro_subscriber_derive/src/lib.rs
  crates/rx_core_macro_subscription_derive/src/lib.rs
  crates/rx_core_macro_task_derive/src/lib.rs
  crates/rx_core_testing/src/mock_executor.rs
Due: rx_bevy_context, rx_core_macro_common, rx_core_macro_executor_derive, rx_core_macro_observable_derive, rx_core_macro_observer_derive, rx_core_macro_operator_derive, rx_core_macro_scheduler_derive, rx_core_macro_subject_derive, rx_core_macro_subscriber_derive, rx_core_macro_subscription_derive, rx_core_macro_task_derive, rx_core_testing

feat(rx_core): added the share operator
  Cargo.lock
  Cargo.toml
  codecov.yml
  crates/rx_bevy/Cargo.toml
  crates/rx_core/Cargo.toml
  crates/rx_core/src/lib.rs
  crates/rx_core_observable_connectable/src/connectable_observable.rs
  crates/rx_core_observable_connectable/src/connection_handle.rs
  crates/rx_core_observable_connectable/src/lib.rs
  crates/rx_core_observable_interval/src/interval_observable_options.rs
  crates/rx_core_operator_share/Cargo.toml
  crates/rx_core_operator_share/examples/share_operator_example.rs
  crates/rx_core_operator_share/readme.md
  crates/rx_core_operator_share/src/lib.rs
  crates/rx_core_operator_share/src/share_extension_pipe.rs
  crates/rx_core_operator_share/src/share_observable.rs
  crates/rx_core_operator_share/src/share_operator.rs
  crates/rx_core_operator_share/src/share_options.rs
  crates/rx_core_operator_share/src/share_subscriber.rs
  crates/xtask/src/lints/aggregators.rs
  crates/xtask/src/lints/workspace.rs
  docs/12_operators_core/share.md
  docs/SUMMARY.md
Due: rx_bevy, rx_core, rx_core_observable_connectable, rx_core_observable_interval

refactor: multicast
  Cargo.lock
  Cargo.toml
  crates/rx_core_subject_publish/Cargo.toml
  crates/rx_core_subject_publish/examples/subject_self_teardown.rs
  crates/rx_core_subject_publish/src/multicast.rs
Due: none

feat(rx_core): a subjects own subscriptions can now interact with the same subject, with infinite loop protection
  Cargo.lock
  crates/rx_core_notification_variadics/src/lib.rs
  crates/rx_core_observable_combine_latest/src/combine_latest_subscriber.rs
  crates/rx_core_operator_share/src/share_observable.rs
  crates/rx_core_operator_tap_next/src/tap_next_extension_pipe.rs
  crates/rx_core_operator_tap_next/src/tap_next_operator.rs
  crates/rx_core_operator_tap_next/src/tap_next_subscriber.rs
  crates/rx_core_subject_async/src/async_subject.rs
  crates/rx_core_subject_behavior/src/behavior_subject.rs
  crates/rx_core_subject_publish/Cargo.toml
  crates/rx_core_subject_publish/examples/subject_self_teardown.rs
  crates/rx_core_subject_publish/src/lib.rs
  crates/rx_core_subject_publish/src/multicast.rs
  crates/rx_core_subject_publish/src/multicast_notification.rs
  crates/rx_core_subject_publish/src/multicast_notification_errors.rs
  crates/rx_core_subject_publish/src/multicast_subscription.rs
  crates/rx_core_subject_publish/src/multicast_test.rs
  crates/rx_core_subject_publish/src/publish_subject.rs
  crates/rx_core_subject_publish/tests/publish_subject_deferred_test.rs
  crates/rx_core_subject_publish/tests/publish_subject_test.rs
  crates/rx_core_subject_replay/src/replay_subject.rs
  crates/rx_core_subscriber_rc/src/rc_subscriber.rs
  crates/rx_core_testing/src/lib.rs
  crates/rx_core_testing/src/mock_observer.rs
  crates/rx_core_testing/src/multi_round_notification_collector.rs
  crates/rx_core_testing/src/notification_collector.rs
  crates/rx_core_traits/src/observer.rs
  crates/rx_core_traits/src/subscribers/shared_subscriber.rs
  crates/rx_core_traits/src/subscriptions/mod.rs
  crates/rx_core_traits/src/subscriptions/subscription_data.rs
  crates/rx_core_traits/src/subscriptions/subscription_handle.rs
Due: rx_core_observable_combine_latest, rx_core_operator_tap_next, rx_core_subject_async, rx_core_subject_behavior, rx_core_subject_replay, rx_core_subscriber_rc, rx_core_testing, rx_core_traits

feat: connector can now disconnect when the subscribers refcount reaches 0
  Cargo.lock
  crates/rx_core_observable_connectable/Cargo.toml
  crates/rx_core_observable_connectable/examples/connectable_of_example.rs
  crates/rx_core_observable_connectable/src/connectable.rs
  crates/rx_core_observable_connectable/src/connectable_observable.rs
  crates/rx_core_observable_connectable/src/connectable_observable_options.rs
  crates/rx_core_observable_connectable/src/inner_connectable_observable.rs
  crates/rx_core_operator_share/examples/share_operator_example.rs
  crates/rx_core_operator_share/src/share_observable.rs
  crates/rx_core_subject_publish/src/multicast.rs
  crates/rx_core_subject_publish/src/publish_subject.rs
  crates/rx_core_traits/src/subscribers/lock_with_poison_behavior.rs
Due: rx_core_observable_connectable, rx_core_traits

chore(rx_core_observable_connectable): progress on on complete and error resets
  Cargo.lock
  crates/rx_core_observable_connectable/Cargo.toml
  crates/rx_core_observable_connectable/examples/connectable_disconnect_reset_example.rs
  crates/rx_core_observable_connectable/examples/connectable_of_example.rs
  crates/rx_core_observable_connectable/examples/connectable_upstream_reset_example.rs
  crates/rx_core_observable_connectable/src/connectable_observable.rs
  crates/rx_core_observable_connectable/src/connectable_observable_options.rs
  crates/rx_core_observable_connectable/src/connection_handle.rs
  crates/rx_core_observable_connectable/src/inner_connectable_observable.rs
  crates/rx_core_observable_connectable/src/internal/connection.rs
  crates/rx_core_observable_connectable/src/internal/connection_state.rs
  crates/rx_core_observable_connectable/src/internal/connection_subscriber.rs
  crates/rx_core_observable_connectable/src/internal/connector_state.rs
  crates/rx_core_observable_connectable/src/internal/mod.rs
  crates/rx_core_observable_connectable/src/lib.rs
  crates/rx_core_operator_share/src/share_observable.rs
  crates/rx_core_subject_publish/src/multicast.rs
Due: rx_core_observable_connectable

test(rx_core_observable_connectable): added tests
  crates/rx_core_observable_combine_latest/src/combine_latest_observable_test.rs
  crates/rx_core_observable_connectable/examples/connectable_upstream_reset_example.rs
  crates/rx_core_observable_connectable/src/connectable_observable.rs
  crates/rx_core_observable_connectable/src/internal/connection_state.rs
  crates/rx_core_observable_connectable/src/internal/connector_state.rs
  crates/rx_core_observable_connectable/tests/connectable_observable_reset_on_test.rs
  crates/rx_core_observable_connectable/tests/connectable_observable_terminal_signals_test.rs
  crates/rx_core_observable_connectable/tests/connectable_observable_test.rs
  crates/rx_core_observable_timer/src/timer_observable_test.rs
  crates/rx_core_subject_publish/src/multicast.rs
  crates/rx_core_subject_publish/src/publish_subject.rs
  crates/rx_core_subject_publish/tests/publish_subject_test.rs
  crates/rx_core_testing/src/notification_collector.rs
Due: rx_core_observable_combine_latest, rx_core_observable_connectable, rx_core_testing

chore: remove dead code
  crates/rx_core_observable_connectable/src/internal/connection_state.rs
  crates/rx_core_observable_connectable/src/internal/connector_state.rs
Due: rx_core_observable_connectable

test(rx_core_observable_merge): tests for the merge observable; fixed missing unsubscribe on complete/error
  Cargo.lock
  crates/rx_core_observable_concat/src/concat_observable.rs
  crates/rx_core_observable_connectable/src/connectable_observable.rs
  crates/rx_core_observable_connectable/tests/connectable_observable_test.rs
  crates/rx_core_observable_merge/src/merge_observable.rs
  crates/rx_core_observable_merge/src/merge_observable_fn.rs
  crates/rx_core_observable_merge/tests/merge_observable_test.rs
  crates/rx_core_operator_concat_all/src/concat_all_operator.rs
  crates/rx_core_operator_concat_map/src/concat_map_operator.rs
  crates/rx_core_operator_exhaust_all/src/exhaust_all_operator.rs
  crates/rx_core_operator_exhaust_map/src/exhaust_map_operator.rs
  crates/rx_core_operator_merge_all/src/merge_all_operator.rs
  crates/rx_core_operator_merge_map/src/merge_map_operator.rs
  crates/rx_core_operator_switch_all/src/switch_all_operator.rs
  crates/rx_core_operator_switch_map/src/switch_map_operator.rs
  crates/rx_core_subscriber_concurrent/src/concurrent_subscriber.rs
  crates/rx_core_subscriber_concurrent/src/concurrent_subscriber_provider.rs
  crates/rx_core_subscriber_exhaust/src/exhaust_subscriber.rs
  crates/rx_core_subscriber_higher_order/src/higher_order_subscriber.rs
  crates/rx_core_subscriber_higher_order_all/src/higher_order_all_subscriber.rs
  crates/rx_core_subscriber_higher_order_map/src/higher_order_map_subscriber.rs
  crates/rx_core_subscriber_switch/src/switch_subscriber.rs
Due: rx_core_observable_connectable, rx_core_observable_merge, rx_core_operator_merge_all, rx_core_operator_merge_map, rx_core_operator_switch_all, rx_core_operator_switch_map, rx_core_subscriber_switch

test(rx_core_observer_fn): added tests
  crates/rx_core_observable_zip/src/lib.rs
  crates/rx_core_observable_zip/tests/zip_observable_test.rs
  crates/rx_core_observer_fn/src/dyn_fn_observer.rs
  crates/rx_core_observer_fn/src/fn_observer.rs
  crates/rx_core_observer_fn/tests/dyn_fn_observer_test.rs
  crates/rx_core_observer_fn/tests/fn_observer_test.rs
Due: rx_core_observable_zip, rx_core_observer_fn

test(rx_core_observer_noop): added tests
  crates/rx_core_observer_noop/Cargo.toml
  crates/rx_core_observer_noop/src/noop_observer.rs
  crates/rx_core_observer_noop/tests/noop_observer_test.rs
Due: rx_core_observer_noop

test(rx_core_observable_interval): added tests, fixed closing subscription when downstream completes
  crates/rx_core_observable_interval/src/interval_observable.rs
  crates/rx_core_observable_interval/src/interval_observable_fn.rs
  crates/rx_core_observable_interval/src/interval_observable_options.rs
  crates/rx_core_observable_interval/src/interval_subscription.rs
  crates/rx_core_observable_interval/tests/interval_observable_test.rs
  crates/rx_core_scheduler_ticking/src/tick_task_repeating.rs
  crates/rx_core_scheduler_ticking/src/ticking_executor.rs
  crates/rx_core_testing/src/mock_executor.rs
  crates/rx_core_traits/src/scheduling/scheduler.rs
  crates/rx_core_traits/src/scheduling/task.rs
Due: rx_core_observable_interval, rx_core_scheduler_ticking, rx_core_testing, rx_core_traits

fix: unreachable pub item
  crates/rx_core_subscriber_concurrent/src/concurrent_subscriber.rs
Due: none

test(rx_core_observable_combine_latest): removed dead code
  crates/rx_core_observable_combine_latest/src/combine_latest_subscriber.rs
  crates/rx_core_observable_combine_latest/src/lib.rs
  crates/rx_core_observable_combine_latest/tests/combine_latest_observable_test.rs
Due: rx_core_observable_combine_latest

fix: unreachable pub item
  crates/rx_core_subject_publish/src/multicast.rs
Due: none

ci: fix xtask name
  .github/workflows/ci.yml
Due: none

chore: disable release for now
  release-plz.toml
Due: none

chore(rx_core_operator_share): removed unused file
  Cargo.lock
  crates/rx_core_operator_share/Cargo.toml
  crates/rx_core_operator_share/src/lib.rs
  crates/rx_core_operator_share/src/share_subscriber.rs
Due: none

chore: moved tarpaulin settings to its config file
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  Makefile.toml
  crates/rx_core_macro_executor_derive/Cargo.toml
  crates/rx_core_macro_executor_derive/tests/executor_derive_test.rs
  crates/rx_core_observable_connectable/src/internal/connector_state.rs
  tarpaulin.toml
Due: rx_core_macro_executor_derive, rx_core_observable_connectable

feat(rx_core_observable_join): added the join observable
  Cargo.lock
  Cargo.toml
  codecov.yml
  crates/rx_bevy/Cargo.toml
  crates/rx_core/Cargo.toml
  crates/rx_core/src/lib.rs
  crates/rx_core_notification_store/src/subscriber_state.rs
  crates/rx_core_observable_join/Cargo.toml
  crates/rx_core_observable_join/examples/join_example.rs
  crates/rx_core_observable_join/examples/join_subject_example.rs
  crates/rx_core_observable_join/readme.md
  crates/rx_core_observable_join/src/join_fn.rs
  crates/rx_core_observable_join/src/join_observable.rs
  crates/rx_core_observable_join/src/join_subscriber.rs
  crates/rx_core_observable_join/src/lib.rs
  crates/rx_core_observable_join/tests/join_observable_test.rs
  docs/SUMMARY.md
  docs/observable/join.md
Due: rx_bevy, rx_core

feat(rx_core_operator_materialize): added the materialize operator
  Cargo.lock
  Cargo.toml
  codecov.yml
  crates/rx_bevy/Cargo.toml
  crates/rx_core/Cargo.toml
  crates/rx_core/src/lib.rs
  crates/rx_core_operator_materialize/Cargo.toml
  crates/rx_core_operator_materialize/examples/materialize_operator_example.rs
  crates/rx_core_operator_materialize/readme.md
  crates/rx_core_operator_materialize/src/lib.rs
  crates/rx_core_operator_materialize/src/materialize_extension_compose.rs
  crates/rx_core_operator_materialize/src/materialize_extension_pipe.rs
  crates/rx_core_operator_materialize/src/materialize_operator.rs
  crates/rx_core_operator_materialize/src/materialize_subscriber.rs
  crates/rx_core_operator_materialize/tests/materialize_operator_test.rs
  crates/rx_core_traits/src/signals/notification_observer.rs
  docs/SUMMARY.md
  docs/operator/materialize.md
Due: rx_bevy, rx_core, rx_core_traits

feat(rx_core_operator_dematerialize): added the dematerialize operator
  Cargo.lock
  Cargo.toml
  codecov.yml
  crates/rx_bevy/Cargo.toml
  crates/rx_core/Cargo.toml
  crates/rx_core/src/lib.rs
  crates/rx_core_operator_dematerialize/Cargo.toml
  crates/rx_core_operator_dematerialize/examples/dematerialize_operator_example.rs
  crates/rx_core_operator_dematerialize/readme.md
  crates/rx_core_operator_dematerialize/src/dematerialize_extension_compose.rs
  crates/rx_core_operator_dematerialize/src/dematerialize_extension_pipe.rs
  crates/rx_core_operator_dematerialize/src/dematerialize_operator.rs
  crates/rx_core_operator_dematerialize/src/dematerialize_subscriber.rs
  crates/rx_core_operator_dematerialize/src/lib.rs
  crates/rx_core_operator_dematerialize/tests/dematerialize_operator_test.rs
  crates/rx_core_operator_materialize/tests/materialize_operator_test.rs
  docs/SUMMARY.md
  docs/operator/dematerialize.md
Due: rx_bevy, rx_core

test(rx_core_operator_first): added tests
  crates/rx_core_operator_first/src/first_subscriber.rs
  crates/rx_core_operator_first/tests/first_operator_test.rs
Due: none

test(rx_core_operator_identity): added tests
  crates/rx_core_operator_identity/tests/identity_operator_test.rs
Due: rx_core_operator_identity

test(rx_core_operator_into_result): added tests
  crates/rx_core_operator_into_result/src/into_result_extension_compose.rs
  crates/rx_core_operator_into_result/tests/into_result_operator_test.rs
Due: rx_core_operator_into_result

test(rx_core_operator_lift_result): added tests
  Cargo.lock
  crates/rx_core_operator_into_result/tests/into_result_operator_test.rs
  crates/rx_core_operator_lift_result/Cargo.toml
  crates/rx_core_operator_lift_result/examples/lift_result_operator_example.rs
  crates/rx_core_operator_lift_result/src/lift_result_extension_compose.rs
  crates/rx_core_operator_lift_result/src/lift_result_extension_pipe.rs
  crates/rx_core_operator_lift_result/src/lift_result_operator.rs
  crates/rx_core_operator_lift_result/src/lift_result_subscriber.rs
  crates/rx_core_operator_lift_result/tests/lift_result_operator_test.rs
Due: rx_core_operator_into_result, rx_core_operator_lift_result

test(rx_core_operator_lift_option): added tests
  crates/rx_core_operator_lift_option/tests/lift_option_operator_test.rs
Due: rx_core_operator_lift_option

test(rx_core_operator_map): added tests
  crates/rx_core_operator_first/tests/first_operator_test.rs
  crates/rx_core_operator_identity/tests/identity_operator_test.rs
  crates/rx_core_operator_into_result/tests/into_result_operator_test.rs
  crates/rx_core_operator_lift_option/tests/lift_option_operator_test.rs
  crates/rx_core_operator_map/tests/map_operator_test.rs
Due: rx_core_operator_identity, rx_core_operator_into_result, rx_core_operator_lift_option, rx_core_operator_map

test(rx_core_operator_map_into): added tests
  crates/rx_core_operator_lift_result/tests/lift_result_operator_test.rs
  crates/rx_core_operator_map_into/tests/map_into_operator_test.rs
Due: rx_core_operator_lift_result, rx_core_operator_map_into

fix: unreachable pub item
  crates/rx_bevy_context/src/scheduler/rx_bevy_executor.rs
Due: rx_bevy_context
