Repository AlexAegis/rx_bevy: changes, and which Codecov flags are due for each by the changed paths.
All: rx_bevy, rx_bevy_common, rx_bevy_context, rx_bevy_observable_event, rx_bevy_observable_keyboard, rx_bevy_observable_message, rx_bevy_observable_proxy, rx_bevy_observable_resource, rx_core, rx_core_notification_store, rx_core_notification_variadics, rx_core_macro_common, rx_core_macro_executor_derive, rx_core_macro_observable_derive, rx_core_macro_observer_derive, rx_core_macro_operator_derive, rx_core_macro_scheduler_derive, rx_core_macro_subject_derive, rx_core_macro_subscriber_derive, rx_core_macro_subscription_derive, rx_core_macro_work_derive, rx_core_observable_closed, rx_core_observable_combine_changes, rx_core_observable_combine_latest, rx_core_observable_concat, rx_core_observable_connectable, rx_core_observable_deferred, rx_core_observable_empty, rx_core_observable_interval, rx_core_observable_iterator, rx_core_observable_iterator_on_tick, rx_core_observable_join, rx_core_observable_merge, rx_core_observable_never, rx_core_observable_of, rx_core_observable_throw, rx_core_observable_timer, rx_core_observable_zip, rx_core_observer_fn, rx_core_observer_noop, rx_core_observer_print, rx_core_operator_adsr, rx_core_operator_composite, rx_core_operator_concat_all, rx_core_operator_concat_map, rx_core_operator_delay, rx_core_operator_dematerialize, rx_core_operator_end_with, rx_core_operator_enumerate, rx_core_operator_error_boundary, rx_core_operator_exhaust_all, rx_core_operator_exhaust_map, rx_core_operator_fallback_when_silent, rx_core_operator_filter, rx_core_operator_filter_map, rx_core_operator_finalize, rx_core_operator_find, rx_core_operator_find_index, rx_core_operator_first, rx_core_operator_identity, rx_core_operator_into_result, rx_core_operator_lift_option, rx_core_operator_lift_result, rx_core_operator_map, rx_core_operator_map_error, rx_core_operator_map_into, rx_core_operator_materialize, rx_core_operator_merge_all, rx_core_operator_merge_map, rx_core_operator_on_next, rx_core_operator_on_subscribe, rx_core_operator_reduce, rx_core_operator_retry, rx_core_operator_scan, rx_core_operator_share, rx_core_operator_skip, rx_core_operator_start_with, rx_core_operator_switch_all, rx_core_operator_switch_map, rx_core_operator_take, rx_core_operator_tap, rx_core_operator_tap_next, rx_core_scheduler_ticking, rx_core_subject_async, rx_core_subject_behavior, rx_core_subject_provenance, rx_core_subject_publish, rx_core_subject_replay, rx_core_subscriber_higher_order_concurrent, rx_core_subscriber_higher_order_exhaust, rx_core_subscriber_higher_order, rx_core_subscriber_higher_order_all, rx_core_subscriber_higher_order_map, rx_core_subscriber_rc, rx_core_subscriber_higher_order_switch, rx_core_subscription_inert, rx_core_testing, rx_core_traits

fix(rx_core_scheduler_ticking): recursive immediate tasks can now execute in a single tick
  Cargo.lock
  Cargo.toml
  crates/rx_bevy_context/src/observer/entity_destination.rs
  crates/rx_bevy_context/src/observer/resource_destination.rs
  crates/rx_bevy_observable_event/src/event_subscription.rs
  crates/rx_bevy_observable_keyboard/src/keyboard_subscription.rs
  crates/rx_bevy_observable_message/src/message_subscription.rs
  crates/rx_bevy_observable_proxy/src/proxy_subscription.rs
  crates/rx_bevy_observable_resource/src/resource_subscription.rs
  crates/rx_core_notification_store/src/notification_queue.rs
  crates/rx_core_notification_store/tests/notification_state_test.rs
  crates/rx_core_observable_interval/src/interval_subscription.rs
  crates/rx_core_observable_iterator_on_tick/src/iterator_on_tick_subscription.rs
  crates/rx_core_observable_timer/src/timer_subscription.rs
  crates/rx_core_operator_adsr/src/adsr_subscriber.rs
  crates/rx_core_operator_delay/src/delay_subscriber.rs
  crates/rx_core_operator_delay/tests/delay_operator_test.rs
  crates/rx_core_operator_fallback_when_silent/src/fallback_when_silent_subscriber.rs
  crates/rx_core_operator_retry/src/retry_subscriber.rs
  crates/rx_core_scheduler_ticking/Cargo.toml
  crates/rx_core_scheduler_ticking/src/lib.rs
  crates/rx_core_scheduler_ticking/src/tick_index.rs
  crates/rx_core_scheduler_ticking/src/ticking_executor.rs
  crates/rx_core_scheduler_ticking/src/ticking_scheduler.rs
  crates/rx_core_scheduler_ticking/src/work/ticked_work_once_immediate.rs
  crates/rx_core_scheduler_ticking/src/work_id.rs
  crates/rx_core_scheduler_ticking/tests/ticking_executor_test.rs
  crates/rx_core_subject_publish/src/multicast.rs
  crates/rx_core_subject_publish/src/multicast_subscription.rs
  crates/rx_core_traits/src/scheduling/scheduler.rs
  crates/rx_core_traits/src/scheduling/scheduler_handle.rs
  crates/rx_core_traits/src/scheduling/work_cancellation_id.rs
  crates/rx_core_traits/src/scheduling/work_invoke_id.rs
Due: rx_bevy_context, rx_bevy_observable_event, rx_bevy_observable_keyboard, rx_bevy_observable_message, rx_bevy_observable_proxy, rx_bevy_observable_resource, rx_core_notification_store, rx_core_observable_interval, rx_core_observable_iterator_on_tick, rx_core_observable_timer, rx_core_operator_adsr, rx_core_operator_delay, rx_core_operator_fallback_when_silent, rx_core_operator_retry, rx_core_scheduler_ticking, rx_core_subject_publish, rx_core_traits

test(rx_core_notification_store): more tests
  crates/rx_core_notification_store/src/notification_queue.rs
  crates/rx_core_notification_store/tests/notification_queue_test.rs
Due: rx_core_notification_store

fix(rx_core_scheduler_ticking): fixed repeated work not being able to start immediately together with the executor
  crates/rx_core_scheduler_ticking/src/ticking_executor.rs
  crates/rx_core_scheduler_ticking/src/work/ticked_work_once_delayed.rs
  crates/rx_core_scheduler_ticking/src/work/ticked_work_repeating.rs
  crates/rx_core_scheduler_ticking/tests/ticking_executor_test.rs
Due: rx_core_scheduler_ticking

refactor(rx_core_scheduler_ticking): tick now only contains the now
  crates/rx_bevy_context/src/scheduler/rx_scheduler_plugin.rs
  crates/rx_core_scheduler_ticking/src/tick.rs
  crates/rx_core_scheduler_ticking/src/ticking_executor.rs
  crates/rx_core_scheduler_ticking/src/work/ticked_work_continuous.rs
  crates/rx_core_scheduler_ticking/tests/ticking_executor_test.rs
Due: rx_bevy_context, rx_core_scheduler_ticking

refactor(rx_core_traits): moved the now() fn to a much more logical place for the executor
  crates/rx_bevy_context/src/rx_bevy_context.rs
  crates/rx_bevy_context/src/scheduler/rx_scheduler_plugin.rs
  crates/rx_core_macro_executor_derive/tests/executor_derive_test.rs
  crates/rx_core_operator_adsr/src/adsr_subscriber.rs
  crates/rx_core_scheduler_ticking/src/tick.rs
  crates/rx_core_scheduler_ticking/src/ticking_executor.rs
  crates/rx_core_scheduler_ticking/tests/ticking_executor_test.rs
  crates/rx_core_testing/src/mock_executor.rs
  crates/rx_core_traits/src/scheduling/work_context.rs
Due: rx_bevy_context, rx_core_macro_executor_derive, rx_core_operator_adsr, rx_core_scheduler_ticking, rx_core_testing, rx_core_traits

fix(rx_core): subjects are no longer their own provider, use an actual provider
  crates/rx_core_observable_connectable/src/connectable_observable_options.rs
  crates/rx_core_observable_connectable/tests/connectable_observable_test.rs
  crates/rx_core_operator_share/examples/share_operator_example.rs
  crates/rx_core_operator_share/tests/share_operator_test.rs
  crates/rx_core_subject_behavior/src/behavior_subject.rs
  crates/rx_core_subject_provenance/src/provenance_subject.rs
  crates/rx_core_subject_publish/src/multicast.rs
  crates/rx_core_subject_publish/src/publish_subject.rs
  crates/rx_core_subject_replay/src/replay_subject.rs
  crates/rx_core_traits/src/providers.rs
  crates/rx_core_traits/src/providers/mod.rs
  crates/rx_core_traits/src/providers/provide_with_clone_of.rs
  crates/rx_core_traits/src/providers/provide_with_default.rs
  crates/rx_core_traits/src/providers/provide_with_factory.rs
  crates/rx_core_traits/src/providers/provider.rs
Due: rx_core_observable_connectable, rx_core_operator_share, rx_core_subject_behavior, rx_core_subject_provenance, rx_core_subject_publish, rx_core_subject_replay, rx_core_traits

chore: multicast now uses subscriberstate instead of two booleans
  crates/rx_core_subject_publish/src/multicast.rs
  crates/rx_core_subject_publish/src/publish_subject.rs
Due: rx_core_subject_publish

test(rx_core_subject_behavior): added test for default
  crates/rx_core_subject_behavior/tests/behavior_subject_test.rs
Due: rx_core_subject_behavior

refactor(rx_core_subject_publish): teardowns added to a multicast subscription should run instantly when closed
  crates/rx_core_subject_publish/src/multicast_subscription.rs
  crates/rx_core_subject_publish/tests/publish_subject_test.rs
Due: rx_core_subject_publish

test(rx_core_subject_provenance): added test for default
  crates/rx_core_subject_provenance/tests/provenance_subject_test.rs
Due: rx_core_subject_provenance

fix(rx_core_subscriber_higher_order_switch): switch subscriber now unsubscribes when downstream is closed after a next
  crates/rx_core_operator_take/src/take_subscriber.rs
  crates/rx_core_subscriber_higher_order/src/higher_order_subscriber_inner.rs
  crates/rx_core_subscriber_higher_order/src/higher_order_subscriber_state.rs
  crates/rx_core_subscriber_higher_order_exhaust/tests/exhaust_subscriber_test.rs
  crates/rx_core_subscriber_higher_order_switch/src/switch_subscriber.rs
  crates/rx_core_subscriber_higher_order_switch/tests/switch_subscriber_test.rs
Due: rx_core_operator_take, rx_core_subscriber_higher_order_exhaust, rx_core_subscriber_higher_order, rx_core_subscriber_higher_order_switch

chore: fix mod visibility
  crates/rx_core_operator_retry/src/lib.rs
  crates/rx_core_operator_retry/src/retry_subscriber.rs
Due: rx_core_operator_retry

docs: about testing
  codecov.yml
  contributing.md
  docs/SUMMARY.md
  docs/contracts.md
  docs/writing_observable.md
  docs/writing_observables.md
  docs/writing_operator.md
  docs/writing_operators.md
  docs/writing_tests.md
Due: none

feat(rx_core_testing): added the first version of the operator test harness
  Cargo.lock
  crates/rx_core_macro_common/src/helpers.rs
  crates/rx_core_operator_tap_next/tests/tap_next_operator_test.rs
  crates/rx_core_testing/Cargo.toml
  crates/rx_core_testing/src/harnesses/erased_finalize_operator.rs
  crates/rx_core_testing/src/harnesses/mod.rs
  crates/rx_core_testing/src/harnesses/operator_test_harness.rs
  crates/rx_core_testing/src/harnesses/single_subscriber_subject.rs
  crates/rx_core_testing/src/lib.rs
  crates/rx_core_testing/src/notification_collector.rs
  crates/rx_core_testing/src/tracked_teardown.rs
  crates/rx_core_traits/src/subscribers/subscriber_box.rs
  docs/contracts.md
  docs/writing_tests.md
Due: rx_core_macro_common, rx_core_operator_tap_next, rx_core_testing, rx_core_traits

feat(rx_core_testing): test harness v2
  Cargo.lock
  crates/rx_core_macro_subject_derive/src/lib.rs
  crates/rx_core_operator_tap_next/tests/tap_next_operator_test.rs
  crates/rx_core_testing/Cargo.toml
  crates/rx_core_testing/src/harness/erased_finalize_operator.rs
  crates/rx_core_testing/src/harness/mod.rs
  crates/rx_core_testing/src/harness/operator_test_harness.rs
  crates/rx_core_testing/src/harness/single_subscriber_subject.rs
  crates/rx_core_testing/src/harness/test_harness.rs
  crates/rx_core_testing/src/lib.rs
  crates/rx_core_testing/src/mock_observer.rs
  crates/rx_core_testing/src/tracked_teardown.rs
Due: rx_core_macro_subject_derive, rx_core_operator_tap_next, rx_core_testing

feat(rx_core_testing): test harness destination can now close after observing n emissions
  crates/rx_core_operator_tap_next/tests/tap_next_operator_test.rs
  crates/rx_core_testing/src/harness/mod.rs
  crates/rx_core_testing/src/harness/operator_test_harness.rs
  crates/rx_core_testing/src/harness/test_error.rs
  crates/rx_core_testing/src/harness/test_harness.rs
  crates/rx_core_testing/src/harness/test_subject.rs
  docs/contracts.md
Due: rx_core_operator_tap_next, rx_core_testing

fix(rx_core_operator_take): fixed is_closed checks
  crates/rx_core_observable_iterator/src/iterator_observable.rs
  crates/rx_core_operator_take/src/take_subscriber.rs
  crates/rx_core_operator_take/tests/take_operator_test.rs
Due: rx_core_observable_iterator, rx_core_operator_take

feat(rx_core_operator_map_never): added the map_never (next and error variants) and map_never_both operators
  Cargo.lock
  Cargo.toml
  codecov.yml
  crates/rx_bevy/Cargo.toml
  crates/rx_core/Cargo.toml
  crates/rx_core/src/lib.rs
  crates/rx_core_operator_map_never/Cargo.toml
  crates/rx_core_operator_map_never/examples/map_never_operator_example.rs
  crates/rx_core_operator_map_never/readme.md
  crates/rx_core_operator_map_never/src/lib.rs
  crates/rx_core_operator_map_never/src/map_never_both_extension_compose.rs
  crates/rx_core_operator_map_never/src/map_never_both_extension_pipe.rs
  crates/rx_core_operator_map_never/src/map_never_both_operator.rs
  crates/rx_core_operator_map_never/src/map_never_both_subscriber.rs
  crates/rx_core_operator_map_never/src/map_never_error_extension_compose.rs
  crates/rx_core_operator_map_never/src/map_never_error_extension_pipe.rs
  crates/rx_core_operator_map_never/src/map_never_error_operator.rs
  crates/rx_core_operator_map_never/src/map_never_error_subscriber.rs
  crates/rx_core_operator_map_never/src/map_never_next_extension_compose.rs
  crates/rx_core_operator_map_never/src/map_never_next_extension_pipe.rs
  crates/rx_core_operator_map_never/src/map_never_next_operator.rs
  crates/rx_core_operator_map_never/src/map_never_next_subscriber.rs
  crates/rx_core_operator_map_never/tests/map_never_both_operator_test.rs
  crates/rx_core_operator_map_never/tests/map_never_error_operator_test.rs
  crates/rx_core_operator_map_never/tests/map_never_next_operator_test.rs
  docs/SUMMARY.md
  docs/operator/map_never.md
Due: rx_bevy, rx_core

chore(rx_core_operator_retry): use map_never instead of manual implementations
  crates/rx_core_operator_retry/tests/retry_operator_test.rs
Due: rx_core_operator_retry

ci: migrate to llvm-cov from tarpaulin
  .config/nextest.toml
  .github/workflows/ci.yml
  Makefile.toml
  tarpaulin.toml
Due: none

chore: generate report directly in target
  .github/workflows/ci.yml
Due: none

chore: use a different target dir for llvm-cov
  .env
  .github/workflows/ci.yml
  Makefile.toml
Due: none

chore(rx_bevy): removed rx_bevy_common
  Cargo.lock
  Cargo.toml
  crates/examples_common/Cargo.toml
  crates/examples_common/src/print_notification_observer.rs
  crates/examples_common/src/subscription_map_resource.rs
  crates/rx_bevy_common/Cargo.toml
  crates/rx_bevy_common/readme.md
  crates/rx_bevy_common/src/bounds/mod.rs
  crates/rx_bevy_common/src/bounds/serialize_bound.rs
  crates/rx_bevy_common/src/lib.rs
  crates/rx_bevy_context/Cargo.toml
  crates/rx_bevy_context/src/bounds/clock.rs
  crates/rx_bevy_context/src/bounds/mod.rs
  crates/rx_bevy_context/src/bounds/reflect_bound.rs
  crates/rx_bevy_context/src/lib.rs
  crates/rx_bevy_context/src/scheduler/rx_bevy_executor.rs
  crates/rx_bevy_context/src/scheduler/rx_scheduler_plugin.rs
  crates/rx_bevy_context/src/scheduler/rx_scheduler_system_param.rs
  crates/xtask/src/lints/workspace.rs
Due: rx_bevy_common, rx_bevy_context

chore: moved crate to examples_common
  Cargo.lock
  Cargo.toml
  Makefile.toml
  crates/bevy_mod_alternate_system_on_press/Cargo.toml
  crates/examples_common/Cargo.toml
  crates/examples_common/src/alternate_system_on_press.rs
  crates/examples_common/src/lib.rs
  crates/examples_common/src/subscription_map_resource.rs
  crates/rx_bevy/Cargo.toml
  crates/xtask/src/lints/codecov.rs
Due: rx_bevy

chore: updated debug feature
  crates/examples_common/Cargo.toml
  crates/rx_bevy/Cargo.toml
  crates/rx_bevy_context/Cargo.toml
  crates/rx_bevy_observable_event/Cargo.toml
  crates/rx_bevy_observable_keyboard/Cargo.toml
  crates/rx_bevy_observable_message/Cargo.toml
  crates/rx_bevy_observable_proxy/Cargo.toml
  crates/rx_bevy_observable_resource/Cargo.toml
  crates/rx_core/Cargo.toml
  crates/rx_core_observable_closed/Cargo.toml
  crates/rx_core_observable_combine_changes/Cargo.toml
  crates/rx_core_observable_combine_latest/Cargo.toml
  crates/rx_core_observable_concat/Cargo.toml
  crates/rx_core_observable_connectable/Cargo.toml
  crates/rx_core_observable_join/Cargo.toml
  crates/rx_core_observable_merge/Cargo.toml
  crates/rx_core_observable_zip/Cargo.toml
  crates/rx_core_operator_catch/Cargo.toml
  crates/rx_core_operator_concat_all/Cargo.toml
  crates/rx_core_operator_concat_map/Cargo.toml
  crates/rx_core_operator_exhaust_all/Cargo.toml
  crates/rx_core_operator_exhaust_map/Cargo.toml
  crates/rx_core_operator_merge_all/Cargo.toml
  crates/rx_core_operator_merge_map/Cargo.toml
  crates/rx_core_operator_retry/Cargo.toml
  crates/rx_core_operator_share/Cargo.toml
  crates/rx_core_operator_switch_all/Cargo.toml
  crates/rx_core_operator_switch_map/Cargo.toml
  crates/rx_core_subject_provenance/Cargo.toml
  crates/rx_core_subscriber_higher_order_all/Cargo.toml
  crates/rx_core_subscriber_higher_order_concurrent/Cargo.toml
  crates/rx_core_subscriber_higher_order_exhaust/Cargo.toml
  crates/rx_core_subscriber_higher_order_map/Cargo.toml
  crates/rx_core_subscriber_higher_order_switch/Cargo.toml
  crates/rx_core_testing/Cargo.toml
Due: rx_bevy, rx_bevy_context, rx_bevy_observable_event, rx_bevy_observable_keyboard, rx_bevy_observable_message, rx_bevy_observable_proxy, rx_bevy_observable_resource, rx_core, rx_core_observable_closed, rx_core_observable_combine_changes, rx_core_observable_combine_latest, rx_core_observable_concat, rx_core_observable_connectable, rx_core_observable_join, rx_core_observable_merge, rx_core_observable_zip, rx_core_operator_concat_all, rx_core_operator_concat_map, rx_core_operator_exhaust_all, rx_core_operator_exhaust_map, rx_core_operator_merge_all, rx_core_operator_merge_map, rx_core_operator_retry, rx_core_operator_share, rx_core_operator_switch_all, rx_core_operator_switch_map, rx_core_subject_provenance, rx_core_subscriber_higher_order_concurrent, rx_core_subscriber_higher_order_exhaust, rx_core_subscriber_higher_order_all, rx_core_subscriber_higher_order_map, rx_core_subscriber_higher_order_switch, rx_core_testing

chore: remove unnecessary inline from unreachable functions
  Cargo.lock
  crates/rx_bevy/examples/observable_gallery.rs
  crates/rx_core_common/src/signals/never.rs
  crates/rx_core_observable_combine_changes/src/combine_changes_subscriber.rs
  crates/rx_core_observable_combine_latest/src/combine_latest_subscriber.rs
  crates/rx_core_observable_join/src/join_subscriber.rs
  crates/rx_core_observable_zip/src/zip_subscriber.rs
  crates/rx_core_operator_dematerialize/src/dematerialize_subscriber.rs
  crates/rx_core_operator_error_boundary/Cargo.toml
  crates/rx_core_operator_error_boundary/src/error_boundary_subscriber.rs
  crates/rx_core_operator_lift_result/src/lift_result_subscriber.rs
  crates/rx_core_operator_map_never/src/map_never_both_subscriber.rs
  crates/rx_core_operator_map_never/src/map_never_error_subscriber.rs
  crates/rx_core_operator_map_never/src/map_never_next_subscriber.rs
  crates/rx_core_operator_switch_map/examples/switch_map_example.rs
  crates/rx_core_operator_switch_map/examples/switch_map_inner_subject_example.rs
  crates/rx_core_operator_switch_map/examples/switch_map_operator_example.rs
  crates/rx_core_operator_switch_map/src/switch_map_extension_pipe.rs
  crates/rx_core_operator_switch_map/src/switch_map_operator.rs
Due: rx_bevy, rx_core_observable_combine_changes, rx_core_observable_combine_latest, rx_core_observable_join, rx_core_observable_zip, rx_core_operator_dematerialize, rx_core_operator_error_boundary, rx_core_operator_lift_result, rx_core_operator_switch_map

chore: remove unused attr
  crates/rx_core_notification_variadics/src/lib.rs
  crates/rx_core_observable_combine_latest/src/lib.rs
  crates/rx_core_observable_join/src/lib.rs
Due: rx_core_notification_variadics, rx_core_observable_combine_latest, rx_core_observable_join

chore: removed some unnecessary bounds
  crates/rx_core_common/src/observer.rs
  crates/rx_core_common/src/pipe/pipe_extension_pipe.rs
  crates/rx_core_testing/src/harness/test_harness.rs
Due: rx_core_testing

test(rx_bevy_common): added tests for SubjectComponent and EntityDestination
  crates/rx_bevy_common/src/notification/notification_event_observer.rs
  crates/rx_bevy_common/src/observer/entity_destination.rs
  crates/rx_bevy_common/src/subscription_component.rs
  crates/rx_bevy_common/tests/entity_destination_test.rs
  crates/rx_bevy_common/tests/scheduler_test.rs
  crates/rx_bevy_common/tests/subject_component_test.rs
  crates/rx_bevy_common/tests/utilities.rs
  crates/rx_bevy_observable_keyboard/src/keyboard_subscription.rs
  crates/rx_core_observable_interval/src/interval_subscription.rs
  crates/rx_core_operator_catch/src/catch_subscriber.rs
  crates/rx_core_operator_map_never/tests/map_never_both_operator_test.rs
  crates/rx_core_operator_map_never/tests/map_never_error_operator_test.rs
  crates/rx_core_operator_map_never/tests/map_never_next_operator_test.rs
  crates/rx_core_operator_switch_map/tests/switch_map_operator_test.rs
  crates/rx_core_operator_tap_next/tests/tap_next_operator_test.rs
  crates/rx_core_subscriber_higher_order/src/higher_order_subscriber_state.rs
  crates/rx_core_subscriber_higher_order_concurrent/src/concurrent_subscriber.rs
  crates/rx_core_subscriber_higher_order_exhaust/src/exhaust_subscriber.rs
  crates/rx_core_subscriber_higher_order_switch/src/switch_subscriber.rs
  crates/rx_core_testing/readme.md
  crates/rx_core_testing/src/harness/test_harness.rs
  crates/xtask/src/lints/readme.rs
  docs/concepts.md
  docs/contracts.md
Due: rx_bevy_common, rx_bevy_observable_keyboard, rx_core_observable_interval, rx_core_operator_switch_map, rx_core_operator_tap_next, rx_core_subscriber_higher_order_concurrent, rx_core_subscriber_higher_order_exhaust, rx_core_subscriber_higher_order, rx_core_subscriber_higher_order_switch, rx_core_testing

chore(rx_bevy_observable_keyboard): removed unnecessary vec to iterate over key codes
  crates/rx_bevy_observable_keyboard/src/keyboard_subscription.rs
Due: rx_bevy_observable_keyboard

test(rx_bevy_common): added tests for ResourceDestination and SubscriptionComponent
  crates/rx_bevy_common/src/notification/notification_event_subscription.rs
  crates/rx_bevy_common/src/observable/command_subscribe.rs
  crates/rx_bevy_common/tests/entity_destination_test.rs
  crates/rx_bevy_common/tests/resource_destination_test.rs
  crates/rx_bevy_common/tests/subscription_component_test.rs
Due: rx_bevy_common

fix(rx_core_common): ObserverSubscriber now correctly unsubscribes on terminal signals
  .cargo/config.toml
  Cargo.lock
  crates/rx_bevy_common/Cargo.toml
  crates/rx_bevy_common/src/notification/notification_event_subscriber.rs
  crates/rx_bevy_common/src/observable/entity_commands_observable.rs
  crates/rx_bevy_common/src/observer/detached_subscriber.rs
  crates/rx_bevy_common/src/observer/entity_destination.rs
  crates/rx_bevy_common/src/observer/mod.rs
  crates/rx_bevy_common/src/observer/resource_destination.rs
  crates/rx_bevy_common/tests/entity_destination_test.rs
  crates/rx_bevy_common/tests/subscription_component_test.rs
  crates/rx_bevy_common/tests/utilities.rs
  crates/rx_core_common/src/subscribers/subscriber_observer.rs
  crates/rx_core_subject_publish/tests/publish_subject_test.rs
Due: rx_bevy_common, rx_core_subject_publish

chore: tweak codecov treshhold
  codecov.yml
Due: none

Path conditions:
  rx_bevy: any of: crates/rx_bevy/**
  rx_bevy_common: any of: crates/rx_bevy_common/**
  rx_bevy_context: any of: crates/rx_bevy_context/**
  rx_bevy_observable_event: any of: crates/rx_bevy_observable_event/**
  rx_bevy_observable_keyboard: any of: crates/rx_bevy_observable_keyboard/**
  rx_bevy_observable_message: any of: crates/rx_bevy_observable_message/**
  rx_bevy_observable_proxy: any of: crates/rx_bevy_observable_proxy/**
  rx_bevy_observable_resource: any of: crates/rx_bevy_observable_resource/**
  rx_core: any of: crates/rx_core/**
  rx_core_notification_store: any of: crates/rx_core_notification_store/**
  rx_core_notification_variadics: any of: crates/rx_core_notification_variadics/**
  rx_core_macro_common: any of: crates/rx_core_macro_common/**
  rx_core_macro_executor_derive: any of: crates/rx_core_macro_executor_derive/**
  rx_core_macro_observable_derive: any of: crates/rx_core_macro_observable_derive/**
  rx_core_macro_observer_derive: any of: crates/rx_core_macro_observer_derive/**
  rx_core_macro_operator_derive: any of: crates/rx_core_macro_operator_derive/**
  rx_core_macro_scheduler_derive: any of: crates/rx_core_macro_scheduler_derive/**
  rx_core_macro_subject_derive: any of: crates/rx_core_macro_subject_derive/**
  rx_core_macro_subscriber_derive: any of: crates/rx_core_macro_subscriber_derive/**
  rx_core_macro_subscription_derive: any of: crates/rx_core_macro_subscription_derive/**
  rx_core_macro_work_derive: any of: crates/rx_core_macro_work_derive/**
  rx_core_observable_closed: any of: crates/rx_core_observable_closed/**
  rx_core_observable_combine_changes: any of: crates/rx_core_observable_combine_changes/**
  rx_core_observable_combine_latest: any of: crates/rx_core_observable_combine_latest/**
  rx_core_observable_concat: any of: crates/rx_core_observable_concat/**
  rx_core_observable_connectable: any of: crates/rx_core_observable_connectable/**
  rx_core_observable_deferred: any of: crates/rx_core_observable_deferred/**
  rx_core_observable_empty: any of: crates/rx_core_observable_empty/**
  rx_core_observable_interval: any of: crates/rx_core_observable_interval/**
  rx_core_observable_iterator: any of: crates/rx_core_observable_iterator/**
  rx_core_observable_iterator_on_tick: any of: crates/rx_core_observable_iterator_on_tick/**
  rx_core_observable_join: any of: crates/rx_core_observable_join/**
  rx_core_observable_merge: any of: crates/rx_core_observable_merge/**
  rx_core_observable_never: any of: crates/rx_core_observable_never/**
  rx_core_observable_of: any of: crates/rx_core_observable_of/**
  rx_core_observable_throw: any of: crates/rx_core_observable_throw/**
  rx_core_observable_timer: any of: crates/rx_core_observable_timer/**
  rx_core_observable_zip: any of: crates/rx_core_observable_zip/**
  rx_core_observer_fn: any of: crates/rx_core_observer_fn/**
  rx_core_observer_noop: any of: crates/rx_core_observer_noop/**
  rx_core_observer_print: any of: crates/rx_core_observer_print/**
  rx_core_operator_adsr: any of: crates/rx_core_operator_adsr/**
  rx_core_operator_composite: any of: crates/rx_core_operator_composite/**
  rx_core_operator_concat_all: any of: crates/rx_core_operator_concat_all/**
  rx_core_operator_concat_map: any of: crates/rx_core_operator_concat_map/**
  rx_core_operator_delay: any of: crates/rx_core_operator_delay/**
  rx_core_operator_dematerialize: any of: crates/rx_core_operator_dematerialize/**
  rx_core_operator_end_with: any of: crates/rx_core_operator_end_with/**
  rx_core_operator_enumerate: any of: crates/rx_core_operator_enumerate/**
  rx_core_operator_error_boundary: any of: crates/rx_core_operator_error_boundary/**
  rx_core_operator_exhaust_all: any of: crates/rx_core_operator_exhaust_all/**
  rx_core_operator_exhaust_map: any of: crates/rx_core_operator_exhaust_map/**
  rx_core_operator_fallback_when_silent: any of: crates/rx_core_operator_fallback_when_silent/**
  rx_core_operator_filter: any of: crates/rx_core_operator_filter/**
  rx_core_operator_filter_map: any of: crates/rx_core_operator_filter_map/**
  rx_core_operator_finalize: any of: crates/rx_core_operator_finalize/**
  rx_core_operator_find: any of: crates/rx_core_operator_find/**
  rx_core_operator_find_index: any of: crates/rx_core_operator_find_index/**
  rx_core_operator_first: any of: crates/rx_core_operator_first/**
  rx_core_operator_identity: any of: crates/rx_core_operator_identity/**
  rx_core_operator_into_result: any of: crates/rx_core_operator_into_result/**
  rx_core_operator_lift_option: any of: crates/rx_core_operator_lift_option/**
  rx_core_operator_lift_result: any of: crates/rx_core_operator_lift_result/**
  rx_core_operator_map: any of: crates/rx_core_operator_map/**
  rx_core_operator_map_error: any of: crates/rx_core_operator_map_error/**
  rx_core_operator_map_into: any of: crates/rx_core_operator_map_into/**
  rx_core_operator_materialize: any of: crates/rx_core_operator_materialize/**
  rx_core_operator_merge_all: any of: crates/rx_core_operator_merge_all/**
  rx_core_operator_merge_map: any of: crates/rx_core_operator_merge_map/**
  rx_core_operator_on_next: any of: crates/rx_core_operator_on_next/**
  rx_core_operator_on_subscribe: any of: crates/rx_core_operator_on_subscribe/**
  rx_core_operator_reduce: any of: crates/rx_core_operator_reduce/**
  rx_core_operator_retry: any of: crates/rx_core_operator_retry/**
  rx_core_operator_scan: any of: crates/rx_core_operator_scan/**
  rx_core_operator_share: any of: crates/rx_core_operator_share/**
  rx_core_operator_skip: any of: crates/rx_core_operator_skip/**
  rx_core_operator_start_with: any of: crates/rx_core_operator_start_with/**
  rx_core_operator_switch_all: any of: crates/rx_core_operator_switch_all/**
  rx_core_operator_switch_map: any of: crates/rx_core_operator_switch_map/**
  rx_core_operator_take: any of: crates/rx_core_operator_take/**
  rx_core_operator_tap: any of: crates/rx_core_operator_tap/**
  rx_core_operator_tap_next: any of: crates/rx_core_operator_tap_next/**
  rx_core_scheduler_ticking: any of: crates/rx_core_scheduler_ticking/**
  rx_core_subject_async: any of: crates/rx_core_subject_async/**
  rx_core_subject_behavior: any of: crates/rx_core_subject_behavior/**
  rx_core_subject_provenance: any of: crates/rx_core_subject_provenance/**
  rx_core_subject_publish: any of: crates/rx_core_subject_publish/**
  rx_core_subject_replay: any of: crates/rx_core_subject_replay/**
  rx_core_subscriber_higher_order_concurrent: any of: crates/rx_core_subscriber_higher_order_concurrent/**
  rx_core_subscriber_higher_order_exhaust: any of: crates/rx_core_subscriber_higher_order_exhaust/**
  rx_core_subscriber_higher_order: any of: crates/rx_core_subscriber_higher_order/**
  rx_core_subscriber_higher_order_all: any of: crates/rx_core_subscriber_higher_order_all/**
  rx_core_subscriber_higher_order_map: any of: crates/rx_core_subscriber_higher_order_map/**
  rx_core_subscriber_rc: any of: crates/rx_core_subscriber_rc/**
  rx_core_subscriber_higher_order_switch: any of: crates/rx_core_subscriber_higher_order_switch/**
  rx_core_subscription_inert: any of: crates/rx_core_subscription_inert/**
  rx_core_testing: any of: crates/rx_core_testing/**
  rx_core_traits: any of: crates/rx_core_traits/**
