Repository AlexAegis/rx_bevy: changes, and which Codecov flags are due for each by the changed paths.
All: rx_bevy, rx_bevy_common, rx_bevy_context, rx_bevy_observable_event, rx_bevy_observable_keyboard, rx_bevy_observable_message, rx_bevy_observable_proxy, rx_bevy_observable_resource, rx_core, rx_core_notification_store, rx_core_notification_variadics, rx_core_macro_common, rx_core_macro_executor_derive, rx_core_macro_observable_derive, rx_core_macro_observer_derive, rx_core_macro_operator_derive, rx_core_macro_scheduler_derive, rx_core_macro_subject_derive, rx_core_macro_subscriber_derive, rx_core_macro_subscription_derive, rx_core_macro_work_derive, rx_core_observable_closed, rx_core_observable_combine_changes, rx_core_observable_combine_latest, rx_core_observable_concat, rx_core_observable_connectable, rx_core_observable_deferred, rx_core_observable_empty, rx_core_observable_interval, rx_core_observable_iterator, rx_core_observable_iterator_on_tick, rx_core_observable_join, rx_core_observable_merge, rx_core_observable_never, rx_core_observable_of, rx_core_observable_throw, rx_core_observable_timer, rx_core_observable_zip, rx_core_observer_fn, rx_core_observer_noop, rx_core_observer_print, rx_core_operator_adsr, rx_core_operator_composite, rx_core_operator_concat_all, rx_core_operator_concat_map, rx_core_operator_delay, rx_core_operator_dematerialize, rx_core_operator_end_with, rx_core_operator_enumerate, rx_core_operator_error_boundary, rx_core_operator_exhaust_all, rx_core_operator_exhaust_map, rx_core_operator_fallback_when_silent, rx_core_operator_filter, rx_core_operator_filter_map, rx_core_operator_finalize, rx_core_operator_find, rx_core_operator_find_index, rx_core_operator_first, rx_core_operator_identity, rx_core_operator_into_result, rx_core_operator_lift_option, rx_core_operator_lift_result, rx_core_operator_map, rx_core_operator_map_error, rx_core_operator_map_into, rx_core_operator_materialize, rx_core_operator_merge_all, rx_core_operator_merge_map, rx_core_operator_on_next, rx_core_operator_on_subscribe, rx_core_operator_reduce, rx_core_operator_retry, rx_core_operator_scan, rx_core_operator_share, rx_core_operator_skip, rx_core_operator_start_with, rx_core_operator_switch_all, rx_core_operator_switch_map, rx_core_operator_take, rx_core_operator_tap, rx_core_operator_tap_next, rx_core_scheduler_ticking, rx_core_subject_async, rx_core_subject_behavior, rx_core_subject_provenance, rx_core_subject_publish, rx_core_subject_replay, rx_core_subscriber_higher_order_concurrent, rx_core_subscriber_higher_order_exhaust, rx_core_subscriber_higher_order, rx_core_subscriber_higher_order_all, rx_core_subscriber_higher_order_map, rx_core_subscriber_rc, rx_core_subscriber_higher_order_switch, rx_core_subscription_inert, rx_core_testing, rx_core_traits

Path conditions:
  rx_bevy: any of: crates/rx_bevy/**
  rx_bevy_common: any of: crates/rx_bevy_common/**
  rx_bevy_context: any of: crates/rx_bevy_context/**
  rx_bevy_observable_event: any of: crates/rx_bevy_observable_event/**
  rx_bevy_observable_keyboard: any of: crates/rx_bevy_observable_keyboard/**
  rx_bevy_observable_message: any of: crates/rx_bevy_observable_message/**
  rx_bevy_observable_proxy: any of: crates/rx_bevy_observable_proxy/**
  rx_bevy_observable_resource: any of: crates/rx_bevy_observable_resource/**
  rx_core: any of: crates/rx_core/**
  rx_core_notification_store: any of: crates/rx_core_notification_store/**
  rx_core_notification_variadics: any of: crates/rx_core_notification_variadics/**
  rx_core_macro_common: any of: crates/rx_core_macro_common/**
  rx_core_macro_executor_derive: any of: crates/rx_core_macro_executor_derive/**
  rx_core_macro_observable_derive: any of: crates/rx_core_macro_observable_derive/**
  rx_core_macro_observer_derive: any of: crates/rx_core_macro_observer_derive/**
  rx_core_macro_operator_derive: any of: crates/rx_core_macro_operator_derive/**
  rx_core_macro_scheduler_derive: any of: crates/rx_core_macro_scheduler_derive/**
  rx_core_macro_subject_derive: any of: crates/rx_core_macro_subject_derive/**
  rx_core_macro_subscriber_derive: any of: crates/rx_core_macro_subscriber_derive/**
  rx_core_macro_subscription_derive: any of: crates/rx_core_macro_subscription_derive/**
  rx_core_macro_work_derive: any of: crates/rx_core_macro_work_derive/**
  rx_core_observable_closed: any of: crates/rx_core_observable_closed/**
  rx_core_observable_combine_changes: any of: crates/rx_core_observable_combine_changes/**
  rx_core_observable_combine_latest: any of: crates/rx_core_observable_combine_latest/**
  rx_core_observable_concat: any of: crates/rx_core_observable_concat/**
  rx_core_observable_connectable: any of: crates/rx_core_observable_connectable/**
  rx_core_observable_deferred: any of: crates/rx_core_observable_deferred/**
  rx_core_observable_empty: any of: crates/rx_core_observable_empty/**
  rx_core_observable_interval: any of: crates/rx_core_observable_interval/**
  rx_core_observable_iterator: any of: crates/rx_core_observable_iterator/**
  rx_core_observable_iterator_on_tick: any of: crates/rx_core_observable_iterator_on_tick/**
  rx_core_observable_join: any of: crates/rx_core_observable_join/**
  rx_core_observable_merge: any of: crates/rx_core_observable_merge/**
  rx_core_observable_never: any of: crates/rx_core_observable_never/**
  rx_core_observable_of: any of: crates/rx_core_observable_of/**
  rx_core_observable_throw: any of: crates/rx_core_observable_throw/**
  rx_core_observable_timer: any of: crates/rx_core_observable_timer/**
  rx_core_observable_zip: any of: crates/rx_core_observable_zip/**
  rx_core_observer_fn: any of: crates/rx_core_observer_fn/**
  rx_core_observer_noop: any of: crates/rx_core_observer_noop/**
  rx_core_observer_print: any of: crates/rx_core_observer_print/**
  rx_core_operator_adsr: any of: crates/rx_core_operator_adsr/**
  rx_core_operator_composite: any of: crates/rx_core_operator_composite/**
  rx_core_operator_concat_all: any of: crates/rx_core_operator_concat_all/**
  rx_core_operator_concat_map: any of: crates/rx_core_operator_concat_map/**
  rx_core_operator_delay: any of: crates/rx_core_operator_delay/**
  rx_core_operator_dematerialize: any of: crates/rx_core_operator_dematerialize/**
  rx_core_operator_end_with: any of: crates/rx_core_operator_end_with/**
  rx_core_operator_enumerate: any of: crates/rx_core_operator_enumerate/**
  rx_core_operator_error_boundary: any of: crates/rx_core_operator_error_boundary/**
  rx_core_operator_exhaust_all: any of: crates/rx_core_operator_exhaust_all/**
  rx_core_operator_exhaust_map: any of: crates/rx_core_operator_exhaust_map/**
  rx_core_operator_fallback_when_silent: any of: crates/rx_core_operator_fallback_when_silent/**
  rx_core_operator_filter: any of: crates/rx_core_operator_filter/**
  rx_core_operator_filter_map: any of: crates/rx_core_operator_filter_map/**
  rx_core_operator_finalize: any of: crates/rx_core_operator_finalize/**
  rx_core_operator_find: any of: crates/rx_core_operator_find/**
  rx_core_operator_find_index: any of: crates/rx_core_operator_find_index/**
  rx_core_operator_first: any of: crates/rx_core_operator_first/**
  rx_core_operator_identity: any of: crates/rx_core_operator_identity/**
  rx_core_operator_into_result: any of: crates/rx_core_operator_into_result/**
  rx_core_operator_lift_option: any of: crates/rx_core_operator_lift_option/**
  rx_core_operator_lift_result: any of: crates/rx_core_operator_lift_result/**
  rx_core_operator_map: any of: crates/rx_core_operator_map/**
  rx_core_operator_map_error: any of: crates/rx_core_operator_map_error/**
  rx_core_operator_map_into: any of: crates/rx_core_operator_map_into/**
  rx_core_operator_materialize: any of: crates/rx_core_operator_materialize/**
  rx_core_operator_merge_all: any of: crates/rx_core_operator_merge_all/**
  rx_core_operator_merge_map: any of: crates/rx_core_operator_merge_map/**
  rx_core_operator_on_next: any of: crates/rx_core_operator_on_next/**
  rx_core_operator_on_subscribe: any of: crates/rx_core_operator_on_subscribe/**
  rx_core_operator_reduce: any of: crates/rx_core_operator_reduce/**
  rx_core_operator_retry: any of: crates/rx_core_operator_retry/**
  rx_core_operator_scan: any of: crates/rx_core_operator_scan/**
  rx_core_operator_share: any of: crates/rx_core_operator_share/**
  rx_core_operator_skip: any of: crates/rx_core_operator_skip/**
  rx_core_operator_start_with: any of: crates/rx_core_operator_start_with/**
  rx_core_operator_switch_all: any of: crates/rx_core_operator_switch_all/**
  rx_core_operator_switch_map: any of: crates/rx_core_operator_switch_map/**
  rx_core_operator_take: any of: crates/rx_core_operator_take/**
  rx_core_operator_tap: any of: crates/rx_core_operator_tap/**
  rx_core_operator_tap_next: any of: crates/rx_core_operator_tap_next/**
  rx_core_scheduler_ticking: any of: crates/rx_core_scheduler_ticking/**
  rx_core_subject_async: any of: crates/rx_core_subject_async/**
  rx_core_subject_behavior: any of: crates/rx_core_subject_behavior/**
  rx_core_subject_provenance: any of: crates/rx_core_subject_provenance/**
  rx_core_subject_publish: any of: crates/rx_core_subject_publish/**
  rx_core_subject_replay: any of: crates/rx_core_subject_replay/**
  rx_core_subscriber_higher_order_concurrent: any of: crates/rx_core_subscriber_higher_order_concurrent/**
  rx_core_subscriber_higher_order_exhaust: any of: crates/rx_core_subscriber_higher_order_exhaust/**
  rx_core_subscriber_higher_order: any of: crates/rx_core_subscriber_higher_order/**
  rx_core_subscriber_higher_order_all: any of: crates/rx_core_subscriber_higher_order_all/**
  rx_core_subscriber_higher_order_map: any of: crates/rx_core_subscriber_higher_order_map/**
  rx_core_subscriber_rc: any of: crates/rx_core_subscriber_rc/**
  rx_core_subscriber_higher_order_switch: any of: crates/rx_core_subscriber_higher_order_switch/**
  rx_core_subscription_inert: any of: crates/rx_core_subscription_inert/**
  rx_core_testing: any of: crates/rx_core_testing/**
  rx_core_traits: any of: crates/rx_core_traits/**

chore: added missing tickmark
  crates/rx_core/readme.md
  crates/rx_core_macro_common/readme.md
  crates/rx_core_macro_executor_derive/readme.md
  crates/rx_core_macro_observable_derive/readme.md
  crates/rx_core_macro_observer_derive/readme.md
  crates/rx_core_macro_scheduler_derive/readme.md
  crates/rx_core_macro_subject_derive/readme.md
  crates/rx_core_macro_subscriber_derive/readme.md
  crates/rx_core_macro_subscription_derive/readme.md
  crates/rx_core_macro_work_derive/readme.md
  readme.md
Due: rx_core, rx_core_macro_common, rx_core_macro_executor_derive, rx_core_macro_observable_derive, rx_core_macro_observer_derive, rx_core_macro_scheduler_derive, rx_core_macro_subject_derive, rx_core_macro_subscriber_derive, rx_core_macro_subscription_derive, rx_core_macro_work_derive

chore: added version numbers to the workspace Cargo.toml for workspace crates
  Cargo.toml
Due: none

chore: resolved circular depencency between rx_core and rx_core_common
  Cargo.lock
  crates/rx_core/tests/erased_observables_test.rs
  crates/rx_core_common/Cargo.toml
Due: rx_core

chore: removed derive test to resolve dependency issues
  Cargo.lock
  crates/rx_core_macro_executor_derive/Cargo.toml
  crates/rx_core_macro_executor_derive/tests/executor_derive_test.rs
Due: rx_core_macro_executor_derive

chore: removed rx_core_testing from rx_bevy_common
  Cargo.lock
  crates/rx_bevy/tests/rx_bevy_context_test.rs
  crates/rx_bevy_common/Cargo.toml
  crates/rx_bevy_common/src/rx_bevy_context.rs
  crates/rx_bevy_common/src/subscription/subscribe_event.rs
Due: rx_bevy, rx_bevy_common

chore: added initial release changelog.md
  CHANGELOG.md
Due: none

chore: increase coverage
  crates/rx_bevy_common/src/subscription/subscribe_event.rs
Due: rx_bevy_common

chore: added missing feature from bevy_window
  Cargo.toml
Due: none

chore: removed dev-dependency on rx_bevy from member crates
  Cargo.lock
  crates/rx_bevy/examples/observable_message_example.rs
  crates/rx_bevy_observable_keyboard/Cargo.toml
  crates/rx_bevy_observable_message/Cargo.toml
  crates/rx_bevy_observable_proxy/Cargo.toml
  crates/rx_bevy_observable_resource/Cargo.toml
Due: rx_bevy, rx_bevy_observable_keyboard, rx_bevy_observable_message, rx_bevy_observable_proxy, rx_bevy_observable_resource

chore: removed unused dev dependencies
  Cargo.lock
  crates/rx_bevy_observable_keyboard/Cargo.toml
  crates/rx_bevy_observable_message/Cargo.toml
  crates/rx_bevy_observable_proxy/Cargo.toml
  crates/rx_bevy_observable_resource/Cargo.toml
Due: rx_bevy_observable_keyboard, rx_bevy_observable_message, rx_bevy_observable_proxy, rx_bevy_observable_resource

chore: added release_plz version group entries for all crates, and a lint for it
  CHANGELOG.md
  Cargo.lock
  crates/rx_core_subscription_inert/Cargo.toml
  crates/xtask/src/lints/lint.rs
  crates/xtask/src/lints/mod.rs
  crates/xtask/src/lints/release_plz.rs
  release-plz.toml
Due: rx_core_subscription_inert

ci: added pre-publish step
  .github/workflows/release_plz.yml
Due: none

ci: added registry token env var
  .github/workflows/release_plz.yml
Due: none

ci: enable trusted publishing
  .github/workflows/release_plz.yml
Due: none

ci: use the registry token from auth
  .github/workflows/release_plz.yml
Due: none

chore: add release_pls lint to lint tasks
  Makefile.toml
Due: none

chore: release_plz lint now checks for matching git_tag_name entries
  crates/xtask/src/lints/release_plz.rs
  release-plz.toml
Due: none

chore: add editorconfig
  .editorconfig
Due: none

feat(rx_core_operator_element_at): added the element_at operator
  Cargo.lock
  Cargo.toml
  codecov.yml
  contributing.md
  crates/rx_bevy/Cargo.toml
  crates/rx_core/Cargo.toml
  crates/rx_core/examples/operator_element_at_example.rs
  crates/rx_core/src/lib.rs
  crates/rx_core/tests/element_at_operator_test.rs
  crates/rx_core_operator_element_at/Cargo.toml
  crates/rx_core_operator_element_at/readme.md
  crates/rx_core_operator_element_at/src/element_at_extension_compose.rs
  crates/rx_core_operator_element_at/src/element_at_extension_pipe.rs
  crates/rx_core_operator_element_at/src/element_at_operator.rs
  crates/rx_core_operator_element_at/src/element_at_operator_error.rs
  crates/rx_core_operator_element_at/src/element_at_subscriber.rs
  crates/rx_core_operator_element_at/src/lib.rs
  docs/SUMMARY.md
  docs/introduction.md
  docs/operator/element_at.md
  readme.md
  release-plz.toml
Due: rx_bevy, rx_core

chore: simplified map example
  crates/rx_core/examples/operator_map_example.rs
  crates/rx_core_operator_map/readme.md
Due: rx_core, rx_core_operator_map

feat(rx_core_operator_observe_on): added the observe_on operator
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  Makefile.toml
  codecov.yml
  contributing.md
  crates/rx_bevy/Cargo.toml
  crates/rx_core/Cargo.toml
  crates/rx_core/examples/operator_observe_on_example.rs
  crates/rx_core/readme.md
  crates/rx_core/src/lib.rs
  crates/rx_core/tests/observe_on_operator_test.rs
  crates/rx_core_operator_find/readme.md
  crates/rx_core_operator_find_index/readme.md
  crates/rx_core_operator_first/readme.md
  crates/rx_core_operator_observe_on/Cargo.toml
  crates/rx_core_operator_observe_on/readme.md
  crates/rx_core_operator_observe_on/src/lib.rs
  crates/rx_core_operator_observe_on/src/observe_on_extension_compose.rs
  crates/rx_core_operator_observe_on/src/observe_on_extension_pipe.rs
  crates/rx_core_operator_observe_on/src/observe_on_operator.rs
  crates/rx_core_operator_observe_on/src/observe_on_subscriber.rs
  docs/SUMMARY.md
  docs/contracts.md
  docs/operator/observe_on.md
  readme.md
  release-plz.toml
Due: rx_bevy, rx_core, rx_core_operator_find, rx_core_operator_find_index, rx_core_operator_first

feat(rx_core_operator_subscribe_on): added the subscribe_on operator
  Cargo.lock
  Cargo.toml
  codecov.yml
  crates/rx_bevy/Cargo.toml
  crates/rx_core/Cargo.toml
  crates/rx_core/examples/operator_retry_example.rs
  crates/rx_core/examples/operator_subscribe_on_example.rs
  crates/rx_core/readme.md
  crates/rx_core/src/lib.rs
  crates/rx_core/tests/subscribe_on_operator_test.rs
  crates/rx_core_operator_delay/readme.md
  crates/rx_core_operator_observe_on/readme.md
  crates/rx_core_operator_retry/readme.md
  crates/rx_core_operator_subscribe_on/Cargo.toml
  crates/rx_core_operator_subscribe_on/readme.md
  crates/rx_core_operator_subscribe_on/src/lib.rs
  crates/rx_core_operator_subscribe_on/src/subscribe_on_extension_pipe.rs
  crates/rx_core_operator_subscribe_on/src/subscribe_on_observable.rs
  crates/rx_core_operator_subscribe_on/src/subscribe_on_operator.rs
  crates/rx_core_operator_subscribe_on/src/subscribe_on_subscription.rs
  docs/SUMMARY.md
  docs/operator/subscribe_on.md
  readme.md
  release-plz.toml
Due: rx_bevy, rx_core, rx_core_operator_delay, rx_core_operator_retry

chore: updated logo
  docs/assets/rx_bevy_logo.png
Due: none

feat(rx_core_operator_count): added the count operator
  Cargo.lock
  Cargo.toml
  codecov.yml
  crates/rx_bevy/Cargo.toml
  crates/rx_core/Cargo.toml
  crates/rx_core/examples/operator_count_example.rs
  crates/rx_core/readme.md
  crates/rx_core/src/lib.rs
  crates/rx_core/tests/count_operator_test.rs
  crates/rx_core_operator_count/Cargo.toml
  crates/rx_core_operator_count/readme.md
  crates/rx_core_operator_count/src/count_extension_compose.rs
  crates/rx_core_operator_count/src/count_extension_pipe.rs
  crates/rx_core_operator_count/src/count_operator.rs
  crates/rx_core_operator_count/src/count_subscriber.rs
  crates/rx_core_operator_count/src/lib.rs
  docs/SUMMARY.md
  docs/operator/count.md
  readme.md
  release-plz.toml
Due: rx_bevy, rx_core

ci: increase swap
  .config/nextest.toml
  .github/workflows/ci.yml
  Makefile.toml
Due: none

feat(rx_bevy)!: upgrade to bevy 0.18
  Cargo.lock
  Cargo.toml
  crates/rx_bevy_common/src/scheduler/rx_plugin.rs
  crates/rx_bevy_observable_event/Cargo.toml
  crates/rx_bevy_observable_keyboard/Cargo.toml
  crates/rx_bevy_observable_message/Cargo.toml
  crates/rx_bevy_observable_proxy/Cargo.toml
  crates/rx_bevy_observable_resource/Cargo.toml
  crates/rx_core/Cargo.toml
  crates/rx_core_observable_closed/Cargo.toml
  crates/rx_core_observable_combine_changes/Cargo.toml
  crates/rx_core_observable_combine_latest/Cargo.toml
  crates/rx_core_observable_concat/Cargo.toml
  crates/rx_core_observable_connectable/Cargo.toml
  crates/rx_core_observable_create/Cargo.toml
  crates/rx_core_observable_deferred/Cargo.toml
  crates/rx_core_observable_empty/Cargo.toml
  crates/rx_core_observable_interval/Cargo.toml
  crates/rx_core_observable_iterator/Cargo.toml
  crates/rx_core_observable_iterator_on_tick/Cargo.toml
  crates/rx_core_observable_join/Cargo.toml
  crates/rx_core_observable_just/Cargo.toml
  crates/rx_core_observable_merge/Cargo.toml
  crates/rx_core_observable_never/Cargo.toml
  crates/rx_core_observable_throw/Cargo.toml
  crates/rx_core_observable_timer/Cargo.toml
  crates/rx_core_observable_zip/Cargo.toml
  crates/rx_core_scheduler_ticking/Cargo.toml
Due: rx_bevy_common, rx_bevy_observable_event, rx_bevy_observable_keyboard, rx_bevy_observable_message, rx_bevy_observable_proxy, rx_bevy_observable_resource, rx_core, rx_core_observable_closed, rx_core_observable_combine_changes, rx_core_observable_combine_latest, rx_core_observable_concat, rx_core_observable_connectable, rx_core_observable_deferred, rx_core_observable_empty, rx_core_observable_interval, rx_core_observable_iterator, rx_core_observable_iterator_on_tick, rx_core_observable_join, rx_core_observable_merge, rx_core_observable_never, rx_core_observable_throw, rx_core_observable_timer, rx_core_observable_zip, rx_core_scheduler_ticking

docs: added missing bevy destinations
  readme.md
Due: none

fix(rx_bevy): added missing observable_fn feature exports from prelude
  crates/rx_bevy/src/lib.rs
Due: rx_bevy

docs: added missing entries for destinations
  crates/rx_bevy/examples/observer_entity_destination.rs
  crates/rx_bevy/examples/observer_resource_destination.rs
  docs/SUMMARY.md
  docs/observer/fn.md
  docs/observer/noop.md
  docs/observer/print.md
  docs/observer_bevy/entity_destination.md
  docs/observer_bevy/resource_destination.md
  docs/observers.md
  docs/observers_bevy.md
  docs/operators_bevy.md
Due: rx_bevy

docs: added mdbook preprocessor to transform gh links to relative links
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  Makefile.toml
  book.toml
  crates/mdbook_crate_links/Cargo.toml
  crates/mdbook_crate_links/src/main.rs
  crates/xtask/src/lints/codecov.rs
Due: none

chore: revert pub api change
  crates/rx_bevy/src/lib.rs
Due: rx_bevy
