Repository AlexAegis/rx_bevy: changes, and which Codecov flags are due for each by the changed paths.
All: rx_bevy, rx_bevy_common, rx_bevy_context, rx_bevy_observable_event, rx_bevy_observable_keyboard, rx_bevy_observable_message, rx_bevy_observable_proxy, rx_bevy_observable_resource, rx_core, rx_core_notification_store, rx_core_notification_variadics, rx_core_macro_common, rx_core_macro_executor_derive, rx_core_macro_observable_derive, rx_core_macro_observer_derive, rx_core_macro_operator_derive, rx_core_macro_scheduler_derive, rx_core_macro_subject_derive, rx_core_macro_subscriber_derive, rx_core_macro_subscription_derive, rx_core_macro_work_derive, rx_core_observable_closed, rx_core_observable_combine_changes, rx_core_observable_combine_latest, rx_core_observable_concat, rx_core_observable_connectable, rx_core_observable_deferred, rx_core_observable_empty, rx_core_observable_interval, rx_core_observable_iterator, rx_core_observable_iterator_on_tick, rx_core_observable_join, rx_core_observable_merge, rx_core_observable_never, rx_core_observable_of, rx_core_observable_throw, rx_core_observable_timer, rx_core_observable_zip, rx_core_observer_fn, rx_core_observer_noop, rx_core_observer_print, rx_core_operator_adsr, rx_core_operator_composite, rx_core_operator_concat_all, rx_core_operator_concat_map, rx_core_operator_delay, rx_core_operator_dematerialize, rx_core_operator_end_with, rx_core_operator_enumerate, rx_core_operator_error_boundary, rx_core_operator_exhaust_all, rx_core_operator_exhaust_map, rx_core_operator_fallback_when_silent, rx_core_operator_filter, rx_core_operator_filter_map, rx_core_operator_finalize, rx_core_operator_find, rx_core_operator_find_index, rx_core_operator_first, rx_core_operator_identity, rx_core_operator_into_result, rx_core_operator_lift_option, rx_core_operator_lift_result, rx_core_operator_map, rx_core_operator_map_error, rx_core_operator_map_into, rx_core_operator_materialize, rx_core_operator_merge_all, rx_core_operator_merge_map, rx_core_operator_on_next, rx_core_operator_on_subscribe, rx_core_operator_reduce, rx_core_operator_retry, rx_core_operator_scan, rx_core_operator_share, rx_core_operator_skip, rx_core_operator_start_with, rx_core_operator_switch_all, rx_core_operator_switch_map, rx_core_operator_take, rx_core_operator_tap, rx_core_operator_tap_next, rx_core_scheduler_ticking, rx_core_subject_async, rx_core_subject_behavior, rx_core_subject_provenance, rx_core_subject_publish, rx_core_subject_replay, rx_core_subscriber_higher_order_concurrent, rx_core_subscriber_higher_order_exhaust, rx_core_subscriber_higher_order, rx_core_subscriber_higher_order_all, rx_core_subscriber_higher_order_map, rx_core_subscriber_rc, rx_core_subscriber_higher_order_switch, rx_core_subscription_inert, rx_core_testing, rx_core_traits

chore: removed some extensions from recommendation
  .vscode/extensions.json
Due: none

chore: use nextest for the vscode rust-analyzer plugin too
  .env
  .github/workflows/ci.yml
  .vscode/settings.json
  Makefile.toml
  crates/rx_core/Cargo.toml
Due: rx_core

test(rx_core): added tests for arc/mutex/rwlock implementations
  crates/rx_core/tests/subscriber_arc_mutex_test.rs
  crates/rx_core/tests/subscriber_arc_rw_lock_test.rs
  crates/rx_core/tests/subscriber_arc_weak_mutex_test.rs
  crates/rx_core_common/src/subscribers/subscriber_arc_weak_mutex.rs
  crates/rx_core_observable_just/src/just_observable.rs
  crates/rx_core_operator_tap/src/tap_operator.rs
  crates/rx_core_operator_tap/src/tap_subscriber.rs
  crates/rx_core_testing/src/mock_observer.rs
Due: rx_core, rx_core_operator_tap, rx_core_testing

test(rx_core_common): added unit tests for providers
  crates/rx_core_common/src/providers/provide_with_clone_of.rs
  crates/rx_core_common/src/providers/provide_with_default.rs
  crates/rx_core_common/src/providers/provide_with_factory.rs
Due: none

test(rx_core): added more tests
  crates/rx_core/tests/erased_subscribe_extension_test.rs
  crates/rx_core/tests/erased_subscription_test.rs
  crates/rx_core/tests/option_observable_extension_test.rs
  crates/rx_core/tests/subscriber_option_test.rs
Due: rx_core

test(rx_core_common): added tests for lock_with_poison_behavior
  crates/rx_core/tests/lock_with_poison_behavior_test.rs
Due: rx_core

test(rx_core_operator_adsr): added more tests
  crates/rx_core_operator_adsr/src/adsr/adsr_envelope_state.rs
  crates/rx_core_operator_adsr/src/adsr_subscriber.rs
  crates/rx_core_operator_adsr/tests/adsr_operator_tests.rs
  crates/rx_core_testing/src/notification_collector.rs
Due: rx_core_operator_adsr, rx_core_testing

test(rx_core_observer_print): more tests
  crates/rx_core_observer_print/tests/print_observer_test.rs
Due: rx_core_observer_print

test(rx_core): added shared destination tests
  crates/rx_core/tests/subscriber_arc_mutex_test.rs
  crates/rx_core/tests/subscriber_arc_rw_lock_test.rs
  crates/rx_core/tests/subscriber_arc_weak_mutex_test.rs
Due: rx_core

test(rx_core): added and organized lock_with_poison_behavior tests
  crates/rx_core/tests/lock_with_poison_behavior_test.rs
Due: rx_core

test(rx_bevy_common): added tests for entity_command_subscribe subscribe
  crates/rx_bevy_common/tests/entity_command_subscribe_test.rs
Due: rx_bevy_common

test(rx_bevy_common): added test for observable_with_commands
  crates/rx_bevy_common/tests/commands_with_observable_test.rs
Due: rx_bevy_common

test(rx_bevy_common): assert relationship for subject subscriptions
  crates/rx_bevy_common/tests/entity_command_subscribe_test.rs
Due: rx_bevy_common

test(rx_core_scheduler_ticking): added test for scheduler handle
  crates/rx_core_scheduler_ticking/tests/scheduler_handle_test.rs
Due: rx_core_scheduler_ticking

chore(rx_core_subscriber_rc): removed the unused rc subscriber
  Cargo.lock
  Cargo.toml
  codecov.yml
  crates/rx_core_subscriber_rc/Cargo.toml
  crates/rx_core_subscriber_rc/readme.md
  crates/rx_core_subscriber_rc/src/inner_rc_subscriber.rs
  crates/rx_core_subscriber_rc/src/lib.rs
  crates/rx_core_subscriber_rc/src/rc_subscriber.rs
  crates/rx_core_subscriber_rc/src/weak_rc_subscriber.rs
Due: rx_core_subscriber_rc

chore(rx_core_testing): removed unused testing operator
  Cargo.lock
  crates/rx_core_testing/Cargo.toml
  crates/rx_core_testing/src/harness/erased_finalize_operator.rs
  crates/rx_core_testing/src/harness/mod.rs
Due: rx_core_testing

test(rx_core_operator_catch): added compose test for catch
  crates/rx_core_operator_catch/tests/catch_operator_test.rs
Due: none

test(rx_core_operator_adsr): added test for trigger from bool
  crates/rx_core_operator_adsr/src/model/adsr_trigger.rs
Due: rx_core_operator_adsr

test(rx_bevy_common): added test for appexit unsubscribe
  crates/rx_bevy_common/tests/scheduler_test.rs
Due: rx_bevy_common

test(rx_bevy_common): added dropping unconsumed subscribe event test
  crates/rx_bevy_common/src/subscription/subscribe_event.rs
Due: rx_bevy_common

test(rx_core_operator_adsr): added compose test
  crates/rx_core_operator_adsr/tests/adsr_operator_tests.rs
Due: rx_core_operator_adsr

feat(rx_core_common): added is_terminal and is_closing subscribernotification fns
  crates/rx_core_common/src/signals/notification_subscriber.rs
  crates/rx_core_common/src/subscribers/subscriber_shared.rs
  crates/rx_core_observable_zip/src/zip_observable.rs
Due: rx_core_observable_zip

test(rx_core_scheduler_ticking): added test for immediate cancellation
  crates/rx_core_common/src/scheduling/scheduler.rs
  crates/rx_core_scheduler_ticking/src/ticking_executor.rs
  crates/rx_core_scheduler_ticking/tests/ticking_executor_test.rs
  crates/rx_core_testing/src/notification_collector.rs
Due: rx_core_scheduler_ticking, rx_core_testing

docs(rx_bevy_common): updated description of rxschedulerplugin
  crates/rx_bevy_common/src/scheduler/rx_scheduler_plugin.rs
  crates/rx_core_common/src/scheduling/scheduled_work.rs
Due: rx_bevy_common

chore(rx_bevy): added more examples
  crates/rx_bevy/examples/01_a_barely_integrated_observable.rs
  crates/rx_bevy/examples/02_a_somewhat_integrated_observable.rs
  crates/rx_bevy/examples/03_an_even_more_integrated_observable.rs
  crates/rx_bevy/examples/04_a_fully_integrated_observable.rs
  crates/rx_bevy/examples/10_the_mistake_of_subscribing_every_frame.rs
  crates/rx_bevy/examples/subjects.rs
  crates/rx_bevy/examples/subscribing_directly_to_an_observable_to_emit_events.rs
Due: rx_bevy

docs(rx_core_operator_delay): added description
  crates/rx_core_operator_delay/examples/delay_operator_example.rs
  crates/rx_core_operator_delay/readme.md
  crates/rx_core_operator_delay/src/delay_extension_compose.rs
  crates/rx_core_operator_delay/src/delay_extension_pipe.rs
  crates/rx_core_operator_delay/src/delay_operator.rs
  crates/rx_core_operator_delay/src/delay_subscriber.rs
  crates/rx_core_operator_delay/tests/delay_operator_test.rs
Due: rx_core_operator_delay

test(rx_core_observable_iterator): added tracked_iterator test for closing early
  crates/rx_core_observable_iterator/tests/iterator_observable_test.rs
  crates/rx_core_observable_iterator_on_tick/tests/iterator_on_tick_observable_test.rs
Due: rx_core_observable_iterator, rx_core_observable_iterator_on_tick

fix(rx_core_operator_take): take now reports if it closed without relying only on downstreams closed state
  crates/rx_core_operator_take/src/take_subscriber.rs
Due: rx_core_operator_take

chore(rx_bevy_common): updated error message still describing old panic behavior
  crates/rx_bevy_common/src/subscription/subscribe_event.rs
Due: rx_bevy_common

fix(rx_bevy_common): dropping an entitysubscription should not unsubscribe it
  crates/rx_bevy_common/src/subscription/entity_subscription.rs
  crates/rx_bevy_common/tests/commands_with_observable_test.rs
Due: rx_bevy_common

fix(rx_bevy_obserable_message): fix example missing a plugin
  crates/rx_bevy_observable_message/examples/message_observable_example.rs
Due: rx_bevy_observable_message

docs(rx_core): fix book link
  crates/rx_core_operator_retry/readme.md
  crates/rx_core_operator_share/readme.md
  crates/rx_core_operator_tap/readme.md
Due: rx_core_operator_retry, rx_core_operator_share, rx_core_operator_tap

docs: update readme
  contributing.md
  crates/rx_bevy_common/readme.md
  crates/rx_core/readme.md
  readme.md
Due: rx_bevy_common, rx_core

chore(rx_core_operator_adsr): removed unused adsr actuation related code for now
  crates/rx_core_operator_adsr/src/adsr/adsr_envelope.rs
Due: rx_core_operator_adsr

chore: removed TODO comments
  crates/rx_bevy_common/src/scheduler/rx_bevy_executor.rs
  crates/rx_core_observable_combine_changes/tests/combine_changes_observable_test.rs
  crates/rx_core_observable_combine_latest/tests/combine_latest_observable_test.rs
  crates/rx_core_operator_adsr/src/adsr/adsr_envelope.rs
  crates/rx_core_scheduler_ticking/src/ticking_scheduler.rs
  crates/rx_core_subject_publish/src/multicast.rs
  docs/concepts.md
  docs/contracts.md
Due: rx_bevy_common, rx_core_observable_combine_changes, rx_core_observable_combine_latest, rx_core_operator_adsr, rx_core_scheduler_ticking, rx_core_subject_publish

chore: removed reflection for now
  Cargo.lock
  crates/rx_bevy/Cargo.toml
  crates/rx_bevy_common/Cargo.toml
  crates/rx_bevy_common/src/bounds/clock.rs
  crates/rx_bevy_common/src/bounds/mod.rs
  crates/rx_bevy_common/src/bounds/reflect_bound.rs
  crates/rx_bevy_common/src/observable/observable_subscription_relationship.rs
  crates/rx_bevy_common/src/observable/subscribe_observer_relationship_erased.rs
  crates/rx_bevy_common/src/observable/subscribe_observer_satellite.rs
  crates/rx_bevy_common/src/subject/signal_observer_satellite.rs
  crates/rx_bevy_common/src/subscription/subscribe_event.rs
  crates/rx_bevy_observable_proxy/Cargo.toml
Due: rx_bevy, rx_bevy_common, rx_bevy_observable_proxy

docs: removed unused book pages
  crates/rx_bevy/examples/observable_gallery.rs
  docs/SUMMARY.md
  docs/design.md
  docs/observables.md
  docs/observables_bevy.md
  docs/operators.md
  docs/rx_in_bevy.md
  docs/usage_within_bevy.md
  docs/writing_observables.md
  docs/writing_operators.md
Due: rx_bevy

Path conditions:
  rx_bevy: any of: crates/rx_bevy/**
  rx_bevy_common: any of: crates/rx_bevy_common/**
  rx_bevy_context: any of: crates/rx_bevy_context/**
  rx_bevy_observable_event: any of: crates/rx_bevy_observable_event/**
  rx_bevy_observable_keyboard: any of: crates/rx_bevy_observable_keyboard/**
  rx_bevy_observable_message: any of: crates/rx_bevy_observable_message/**
  rx_bevy_observable_proxy: any of: crates/rx_bevy_observable_proxy/**
  rx_bevy_observable_resource: any of: crates/rx_bevy_observable_resource/**
  rx_core: any of: crates/rx_core/**
  rx_core_notification_store: any of: crates/rx_core_notification_store/**
  rx_core_notification_variadics: any of: crates/rx_core_notification_variadics/**
  rx_core_macro_common: any of: crates/rx_core_macro_common/**
  rx_core_macro_executor_derive: any of: crates/rx_core_macro_executor_derive/**
  rx_core_macro_observable_derive: any of: crates/rx_core_macro_observable_derive/**
  rx_core_macro_observer_derive: any of: crates/rx_core_macro_observer_derive/**
  rx_core_macro_operator_derive: any of: crates/rx_core_macro_operator_derive/**
  rx_core_macro_scheduler_derive: any of: crates/rx_core_macro_scheduler_derive/**
  rx_core_macro_subject_derive: any of: crates/rx_core_macro_subject_derive/**
  rx_core_macro_subscriber_derive: any of: crates/rx_core_macro_subscriber_derive/**
  rx_core_macro_subscription_derive: any of: crates/rx_core_macro_subscription_derive/**
  rx_core_macro_work_derive: any of: crates/rx_core_macro_work_derive/**
  rx_core_observable_closed: any of: crates/rx_core_observable_closed/**
  rx_core_observable_combine_changes: any of: crates/rx_core_observable_combine_changes/**
  rx_core_observable_combine_latest: any of: crates/rx_core_observable_combine_latest/**
  rx_core_observable_concat: any of: crates/rx_core_observable_concat/**
  rx_core_observable_connectable: any of: crates/rx_core_observable_connectable/**
  rx_core_observable_deferred: any of: crates/rx_core_observable_deferred/**
  rx_core_observable_empty: any of: crates/rx_core_observable_empty/**
  rx_core_observable_interval: any of: crates/rx_core_observable_interval/**
  rx_core_observable_iterator: any of: crates/rx_core_observable_iterator/**
  rx_core_observable_iterator_on_tick: any of: crates/rx_core_observable_iterator_on_tick/**
  rx_core_observable_join: any of: crates/rx_core_observable_join/**
  rx_core_observable_merge: any of: crates/rx_core_observable_merge/**
  rx_core_observable_never: any of: crates/rx_core_observable_never/**
  rx_core_observable_of: any of: crates/rx_core_observable_of/**
  rx_core_observable_throw: any of: crates/rx_core_observable_throw/**
  rx_core_observable_timer: any of: crates/rx_core_observable_timer/**
  rx_core_observable_zip: any of: crates/rx_core_observable_zip/**
  rx_core_observer_fn: any of: crates/rx_core_observer_fn/**
  rx_core_observer_noop: any of: crates/rx_core_observer_noop/**
  rx_core_observer_print: any of: crates/rx_core_observer_print/**
  rx_core_operator_adsr: any of: crates/rx_core_operator_adsr/**
  rx_core_operator_composite: any of: crates/rx_core_operator_composite/**
  rx_core_operator_concat_all: any of: crates/rx_core_operator_concat_all/**
  rx_core_operator_concat_map: any of: crates/rx_core_operator_concat_map/**
  rx_core_operator_delay: any of: crates/rx_core_operator_delay/**
  rx_core_operator_dematerialize: any of: crates/rx_core_operator_dematerialize/**
  rx_core_operator_end_with: any of: crates/rx_core_operator_end_with/**
  rx_core_operator_enumerate: any of: crates/rx_core_operator_enumerate/**
  rx_core_operator_error_boundary: any of: crates/rx_core_operator_error_boundary/**
  rx_core_operator_exhaust_all: any of: crates/rx_core_operator_exhaust_all/**
  rx_core_operator_exhaust_map: any of: crates/rx_core_operator_exhaust_map/**
  rx_core_operator_fallback_when_silent: any of: crates/rx_core_operator_fallback_when_silent/**
  rx_core_operator_filter: any of: crates/rx_core_operator_filter/**
  rx_core_operator_filter_map: any of: crates/rx_core_operator_filter_map/**
  rx_core_operator_finalize: any of: crates/rx_core_operator_finalize/**
  rx_core_operator_find: any of: crates/rx_core_operator_find/**
  rx_core_operator_find_index: any of: crates/rx_core_operator_find_index/**
  rx_core_operator_first: any of: crates/rx_core_operator_first/**
  rx_core_operator_identity: any of: crates/rx_core_operator_identity/**
  rx_core_operator_into_result: any of: crates/rx_core_operator_into_result/**
  rx_core_operator_lift_option: any of: crates/rx_core_operator_lift_option/**
  rx_core_operator_lift_result: any of: crates/rx_core_operator_lift_result/**
  rx_core_operator_map: any of: crates/rx_core_operator_map/**
  rx_core_operator_map_error: any of: crates/rx_core_operator_map_error/**
  rx_core_operator_map_into: any of: crates/rx_core_operator_map_into/**
  rx_core_operator_materialize: any of: crates/rx_core_operator_materialize/**
  rx_core_operator_merge_all: any of: crates/rx_core_operator_merge_all/**
  rx_core_operator_merge_map: any of: crates/rx_core_operator_merge_map/**
  rx_core_operator_on_next: any of: crates/rx_core_operator_on_next/**
  rx_core_operator_on_subscribe: any of: crates/rx_core_operator_on_subscribe/**
  rx_core_operator_reduce: any of: crates/rx_core_operator_reduce/**
  rx_core_operator_retry: any of: crates/rx_core_operator_retry/**
  rx_core_operator_scan: any of: crates/rx_core_operator_scan/**
  rx_core_operator_share: any of: crates/rx_core_operator_share/**
  rx_core_operator_skip: any of: crates/rx_core_operator_skip/**
  rx_core_operator_start_with: any of: crates/rx_core_operator_start_with/**
  rx_core_operator_switch_all: any of: crates/rx_core_operator_switch_all/**
  rx_core_operator_switch_map: any of: crates/rx_core_operator_switch_map/**
  rx_core_operator_take: any of: crates/rx_core_operator_take/**
  rx_core_operator_tap: any of: crates/rx_core_operator_tap/**
  rx_core_operator_tap_next: any of: crates/rx_core_operator_tap_next/**
  rx_core_scheduler_ticking: any of: crates/rx_core_scheduler_ticking/**
  rx_core_subject_async: any of: crates/rx_core_subject_async/**
  rx_core_subject_behavior: any of: crates/rx_core_subject_behavior/**
  rx_core_subject_provenance: any of: crates/rx_core_subject_provenance/**
  rx_core_subject_publish: any of: crates/rx_core_subject_publish/**
  rx_core_subject_replay: any of: crates/rx_core_subject_replay/**
  rx_core_subscriber_higher_order_concurrent: any of: crates/rx_core_subscriber_higher_order_concurrent/**
  rx_core_subscriber_higher_order_exhaust: any of: crates/rx_core_subscriber_higher_order_exhaust/**
  rx_core_subscriber_higher_order: any of: crates/rx_core_subscriber_higher_order/**
  rx_core_subscriber_higher_order_all: any of: crates/rx_core_subscriber_higher_order_all/**
  rx_core_subscriber_higher_order_map: any of: crates/rx_core_subscriber_higher_order_map/**
  rx_core_subscriber_rc: any of: crates/rx_core_subscriber_rc/**
  rx_core_subscriber_higher_order_switch: any of: crates/rx_core_subscriber_higher_order_switch/**
  rx_core_subscription_inert: any of: crates/rx_core_subscription_inert/**
  rx_core_testing: any of: crates/rx_core_testing/**
  rx_core_traits: any of: crates/rx_core_traits/**
