Repository AlexAegis/rx_bevy: changes, and which Codecov flags are due for each by the changed paths.
All: rx_bevy, rx_bevy_common, rx_bevy_context, rx_bevy_observable_event, rx_bevy_observable_keyboard, rx_bevy_observable_message, rx_bevy_observable_proxy, rx_bevy_observable_resource, rx_core, rx_core_emission_variants, rx_core_macro_common, rx_core_macro_executor_derive, rx_core_macro_observable_derive, rx_core_macro_observer_derive, rx_core_macro_operator_derive, rx_core_macro_scheduler_derive, rx_core_macro_subject_derive, rx_core_macro_subscriber_derive, rx_core_macro_subscription_derive, rx_core_macro_task_derive, rx_core_observable_combine_latest, rx_core_observable_connectable, rx_core_observable_deferred, rx_core_observable_empty, rx_core_observable_interval, rx_core_observable_iterator, rx_core_observable_iterator_on_tick, rx_core_observable_merge, rx_core_observable_of, rx_core_observable_pipe, rx_core_observable_throw, rx_core_observable_zip, rx_core_observer_fn, rx_core_observer_noop, rx_core_observer_print, rx_core_operator_adsr, rx_core_operator_composite, rx_core_operator_delay, rx_core_operator_enumerate, rx_core_operator_error_boundary, rx_core_operator_fallback_when_silent, rx_core_operator_filter, rx_core_operator_filter_map, rx_core_operator_finalize, rx_core_operator_identity, rx_core_operator_into_result, rx_core_operator_lift_option, rx_core_operator_lift_result, rx_core_operator_map, rx_core_operator_map_into, rx_core_operator_merge_all, rx_core_operator_merge_map, rx_core_operator_reduce, rx_core_operator_scan, rx_core_operator_skip, rx_core_operator_start_with, rx_core_operator_switch_all, rx_core_operator_switch_map, rx_core_operator_take, rx_core_operator_tap_next, rx_core_scheduler_ticking, rx_core_subject, rx_core_subject_async, rx_core_subject_behavior, rx_core_subject_replay, rx_core_subscriber_rc, rx_core_subscriber_merge, rx_core_subscriber_switch, rx_core_subscription_inert, rx_core_testing, rx_core_traits

Path conditions:
  rx_bevy: any of: crates/rx_bevy/**
  rx_bevy_common: any of: crates/rx_bevy_common/**
  rx_bevy_context: any of: crates/rx_bevy_context/**
  rx_bevy_observable_event: any of: crates/rx_bevy_observable_event/**
  rx_bevy_observable_keyboard: any of: crates/rx_bevy_observable_keyboard/**
  rx_bevy_observable_message: any of: crates/rx_bevy_observable_message/**
  rx_bevy_observable_proxy: any of: crates/rx_bevy_observable_proxy/**
  rx_bevy_observable_resource: any of: crates/rx_bevy_observable_resource/**
  rx_core: any of: crates/rx_core/**
  rx_core_emission_variants: any of: crates/rx_core_emission_variants/**
  rx_core_macro_common: any of: crates/rx_core_macro_common/**
  rx_core_macro_executor_derive: any of: crates/rx_core_macro_executor_derive/**
  rx_core_macro_observable_derive: any of: crates/rx_core_macro_observable_derive/**
  rx_core_macro_observer_derive: any of: crates/rx_core_macro_observer_derive/**
  rx_core_macro_operator_derive: any of: crates/rx_core_macro_operator_derive/**
  rx_core_macro_scheduler_derive: any of: crates/rx_core_macro_scheduler_derive/**
  rx_core_macro_subject_derive: any of: crates/rx_core_macro_subject_derive/**
  rx_core_macro_subscriber_derive: any of: crates/rx_core_macro_subscriber_derive/**
  rx_core_macro_subscription_derive: any of: crates/rx_core_macro_subscription_derive/**
  rx_core_macro_task_derive: any of: crates/rx_core_macro_task_derive/**
  rx_core_observable_combine_latest: any of: crates/rx_core_observable_combine_latest/**
  rx_core_observable_connectable: any of: crates/rx_core_observable_connectable/**
  rx_core_observable_deferred: any of: crates/rx_core_observable_deferred/**
  rx_core_observable_empty: any of: crates/rx_core_observable_empty/**
  rx_core_observable_interval: any of: crates/rx_core_observable_interval/**
  rx_core_observable_iterator: any of: crates/rx_core_observable_iterator/**
  rx_core_observable_iterator_on_tick: any of: crates/rx_core_observable_iterator_on_tick/**
  rx_core_observable_merge: any of: crates/rx_core_observable_merge/**
  rx_core_observable_of: any of: crates/rx_core_observable_of/**
  rx_core_observable_pipe: any of: crates/rx_core_observable_pipe/**
  rx_core_observable_throw: any of: crates/rx_core_observable_throw/**
  rx_core_observable_zip: any of: crates/rx_core_observable_zip/**
  rx_core_observer_fn: any of: crates/rx_core_observer_fn/**
  rx_core_observer_noop: any of: crates/rx_core_observer_noop/**
  rx_core_observer_print: any of: crates/rx_core_observer_print/**
  rx_core_operator_adsr: any of: crates/rx_core_operator_adsr/**
  rx_core_operator_composite: any of: crates/rx_core_operator_composite/**
  rx_core_operator_delay: any of: crates/rx_core_operator_delay/**
  rx_core_operator_enumerate: any of: crates/rx_core_operator_enumerate/**
  rx_core_operator_error_boundary: any of: crates/rx_core_operator_error_boundary/**
  rx_core_operator_fallback_when_silent: any of: crates/rx_core_operator_fallback_when_silent/**
  rx_core_operator_filter: any of: crates/rx_core_operator_filter/**
  rx_core_operator_filter_map: any of: crates/rx_core_operator_filter_map/**
  rx_core_operator_finalize: any of: crates/rx_core_operator_finalize/**
  rx_core_operator_identity: any of: crates/rx_core_operator_identity/**
  rx_core_operator_into_result: any of: crates/rx_core_operator_into_result/**
  rx_core_operator_lift_option: any of: crates/rx_core_operator_lift_option/**
  rx_core_operator_lift_result: any of: crates/rx_core_operator_lift_result/**
  rx_core_operator_map: any of: crates/rx_core_operator_map/**
  rx_core_operator_map_into: any of: crates/rx_core_operator_map_into/**
  rx_core_operator_merge_all: any of: crates/rx_core_operator_merge_all/**
  rx_core_operator_merge_map: any of: crates/rx_core_operator_merge_map/**
  rx_core_operator_reduce: any of: crates/rx_core_operator_reduce/**
  rx_core_operator_scan: any of: crates/rx_core_operator_scan/**
  rx_core_operator_skip: any of: crates/rx_core_operator_skip/**
  rx_core_operator_start_with: any of: crates/rx_core_operator_start_with/**
  rx_core_operator_switch_all: any of: crates/rx_core_operator_switch_all/**
  rx_core_operator_switch_map: any of: crates/rx_core_operator_switch_map/**
  rx_core_operator_take: any of: crates/rx_core_operator_take/**
  rx_core_operator_tap_next: any of: crates/rx_core_operator_tap_next/**
  rx_core_scheduler_ticking: any of: crates/rx_core_scheduler_ticking/**
  rx_core_subject: any of: crates/rx_core_subject/**
  rx_core_subject_async: any of: crates/rx_core_subject_async/**
  rx_core_subject_behavior: any of: crates/rx_core_subject_behavior/**
  rx_core_subject_replay: any of: crates/rx_core_subject_replay/**
  rx_core_subscriber_rc: any of: crates/rx_core_subscriber_rc/**
  rx_core_subscriber_merge: any of: crates/rx_core_subscriber_merge/**
  rx_core_subscriber_switch: any of: crates/rx_core_subscriber_switch/**
  rx_core_subscription_inert: any of: crates/rx_core_subscription_inert/**
  rx_core_testing: any of: crates/rx_core_testing/**
  rx_core_traits: any of: crates/rx_core_traits/**

chore(rx_core_subscriber_higher_order): use past tense
  crates/rx_core_subscriber_concurrent/src/concurrent_subscriber.rs
  crates/rx_core_subscriber_exhaust/src/exhaust_subscriber.rs
  crates/rx_core_subscriber_higher_order/src/higher_order_subscriber_inner.rs
  crates/rx_core_subscriber_higher_order/src/higher_order_subscriber_state.rs
  crates/rx_core_subscriber_switch/src/switch_subscriber.rs
Due: rx_core_subscriber_switch

refactor(rx_core_subscriber_higher_order): consolidated some state tracking
  crates/rx_core_subscriber_concurrent/src/concurrent_subscriber.rs
  crates/rx_core_subscriber_exhaust/src/exhaust_subscriber.rs
  crates/rx_core_subscriber_higher_order/src/higher_order_subscriber_inner.rs
  crates/rx_core_subscriber_higher_order/src/higher_order_subscriber_state.rs
  crates/rx_core_subscriber_switch/src/switch_subscriber.rs
Due: rx_core_subscriber_switch

chore(rx_core_operator_merge_map): added test for composability
  crates/rx_core_operator_concat_all/src/concat_all_operator.rs
  crates/rx_core_operator_concat_map/src/concat_map_operator.rs
  crates/rx_core_operator_exhaust_all/src/exhaust_all_operator.rs
  crates/rx_core_operator_exhaust_map/src/exhaust_map_operator.rs
  crates/rx_core_operator_merge_map/tests/merge_map_operator_tests.rs
  crates/rx_core_operator_switch_all/src/switch_all_operator.rs
  crates/rx_core_operator_switch_map/src/switch_map_operator.rs
Due: rx_core_operator_merge_map, rx_core_operator_switch_all, rx_core_operator_switch_map

chore(rx_core_traits): moved erased observables to rx_core_traits
  Cargo.lock
  Cargo.toml
  codecov.yml
  crates/rx_bevy/Cargo.toml
  crates/rx_core/Cargo.toml
  crates/rx_core/src/lib.rs
  crates/rx_core_observable_concat/Cargo.toml
  crates/rx_core_observable_concat/src/concat_observable.rs
  crates/rx_core_observable_concat/src/concat_observable_fn.rs
  crates/rx_core_observable_erased/Cargo.toml
  crates/rx_core_observable_erased/readme.md
  crates/rx_core_observable_erased/src/lib.rs
  crates/rx_core_observable_merge/Cargo.toml
  crates/rx_core_observable_merge/src/merge_observable.rs
  crates/rx_core_observable_merge/src/merge_observable_fn.rs
  crates/rx_core_operator_merge_all/tests/merge_all_operator_tests.rs
  crates/rx_core_operator_switch_map/examples/switch_map_inner_subject_example.rs
  crates/rx_core_operator_switch_map/tests/switch_map_operator_test.rs
  crates/rx_core_subscriber_higher_order/src/higher_order_subscriber_inner.rs
  crates/rx_core_traits/Cargo.toml
  crates/rx_core_traits/src/lib.rs
  crates/rx_core_traits/src/observables/erase_observable_extension.rs
  crates/rx_core_traits/src/observables/erased_observable.rs
  crates/rx_core_traits/src/observables/erased_observables.rs
  crates/rx_core_traits/src/observables/erased_subscribe_observable_extension.rs
  crates/rx_core_traits/src/observables/mod.rs
  crates/rx_core_traits/src/subscribers/box_subscriber.rs
  crates/rx_core_traits/src/subscribers/erased_subscriber.rs
  crates/rx_core_traits/tests/erased_observables_test.rs
  docs/SUMMARY.md
  docs/observable/erased.md
Due: rx_bevy, rx_core, rx_core_observable_merge, rx_core_operator_merge_all, rx_core_operator_switch_map, rx_core_traits

fix(rx_core_subscriber_higher_order): inner subscriptions are now unsubscribed immediately with teardowns
  crates/rx_core_operator_merge_all/tests/merge_all_operator_tests.rs
  crates/rx_core_subject_publish/tests/publish_subject_deferred_test.rs
  crates/rx_core_subscriber_higher_order/src/higher_order_subscriber_inner.rs
  crates/rx_core_subscriber_higher_order/src/higher_order_subscriber_state.rs
  crates/rx_core_subscriber_higher_order_concurrent/src/concurrent_subscriber.rs
  crates/rx_core_subscriber_higher_order_exhaust/src/exhaust_subscriber.rs
  crates/rx_core_subscriber_higher_order_switch/src/switch_subscriber.rs
  crates/rx_core_traits/src/subscriptions/subscription_erased.rs
  docs/concepts.md
Due: rx_core_operator_merge_all, rx_core_traits

chore: ignore local dev tools from code coverage
  tarpaulin.toml
Due: none

test(rx_core_operator_map): added tests
  crates/rx_core_operator_identity/tests/identity_operator_test.rs
  crates/rx_core_operator_map/tests/map_operator_test.rs
  crates/rx_core_testing/src/lib.rs
  crates/rx_core_testing/src/mock_observer.rs
  crates/rx_core_testing/src/tracked_teardown.rs
Due: rx_core_operator_identity, rx_core_operator_map, rx_core_testing

test(rx_core_operator_skip): added tests
  crates/rx_core_operator_skip/tests/skip_operator_test.rs
Due: rx_core_operator_skip

test(rx_core_operator_take): added tests
  crates/rx_core_operator_take/tests/take_operator_test.rs
Due: rx_core_operator_take

test(rx_core_operator_tap_next): added tests
  crates/rx_core_operator_tap_next/tests/tap_next_operator_test.rs
Due: rx_core_operator_tap_next

test(rx_core_operator_tap): added tests
  crates/rx_core_operator_tap/tests/tap_operator_test.rs
Due: none

chore: removed duplicate type definition
  crates/rx_core_traits/src/observables/erased_subscribe_observable_extension.rs
  crates/rx_core_traits/src/subscribers/mod.rs
Due: rx_core_traits

feat(rx_core_operator_on_subscribe): added on_subscribe operator
  Cargo.lock
  Cargo.toml
  codecov.yml
  crates/rx_bevy/Cargo.toml
  crates/rx_core/Cargo.toml
  crates/rx_core/src/lib.rs
  crates/rx_core_operator_on_subscribe/Cargo.toml
  crates/rx_core_operator_on_subscribe/examples/on_subscribe_operator_example.rs
  crates/rx_core_operator_on_subscribe/readme.md
  crates/rx_core_operator_on_subscribe/src/lib.rs
  crates/rx_core_operator_on_subscribe/src/on_subscribe_extension_compose.rs
  crates/rx_core_operator_on_subscribe/src/on_subscribe_extension_pipe.rs
  crates/rx_core_operator_on_subscribe/src/on_subscribe_operator.rs
  crates/rx_core_operator_on_subscribe/tests/on_subscribe_operator_test.rs
  docs/SUMMARY.md
  docs/operator/on_subscribe.md
Due: rx_bevy, rx_core

feat(rx_core_operator_start_with): reverted start_with to only take a clonable starting value
  crates/rx_core_operator_start_with/examples/start_with_operator_default_example.rs
  crates/rx_core_operator_start_with/examples/start_with_operator_example.rs
  crates/rx_core_operator_start_with/src/start_with_extension_compose.rs
  crates/rx_core_operator_start_with/src/start_with_extension_pipe.rs
  crates/rx_core_operator_start_with/src/start_with_operator.rs
  crates/rx_core_operator_start_with/tests/start_with_operator_test.rs
  crates/rx_core_subject_publish/tests/publish_subject_deferred_test.rs
Due: rx_core_operator_start_with

feat(rx_core_fallback_when_silent): added tick input, context and index as parameters
  crates/rx_bevy/examples/adsr_example.rs
  crates/rx_core_operator_fallback_when_silent/examples/fallback_when_silent_operator_example.rs
  crates/rx_core_operator_fallback_when_silent/src/fallback_when_silent_extension_compose.rs
  crates/rx_core_operator_fallback_when_silent/src/fallback_when_silent_extension_pipe.rs
  crates/rx_core_operator_fallback_when_silent/src/fallback_when_silent_operator.rs
  crates/rx_core_operator_fallback_when_silent/src/fallback_when_silent_subscriber.rs
  crates/rx_core_operator_fallback_when_silent/tests/fallback_when_silent_operator_test.rs
Due: rx_bevy, rx_core_operator_fallback_when_silent

feat(rx_core): introduced providers and a more capable connectable options now shared with the share operator
  Cargo.lock
  crates/rx_core_observable_connectable/examples/connectable_example.rs
  crates/rx_core_observable_connectable/examples/connectable_upstream_reset_example.rs
  crates/rx_core_observable_connectable/src/connectable_observable.rs
  crates/rx_core_observable_connectable/src/connectable_observable_options.rs
  crates/rx_core_observable_connectable/src/connection_handle.rs
  crates/rx_core_observable_connectable/src/internal/connection_state.rs
  crates/rx_core_observable_connectable/src/internal/connector_state.rs
  crates/rx_core_observable_connectable/tests/connectable_observable_reset_on_test.rs
  crates/rx_core_observable_connectable/tests/connectable_observable_terminal_signals_test.rs
  crates/rx_core_observable_connectable/tests/connectable_observable_test.rs
  crates/rx_core_operator_share/Cargo.toml
  crates/rx_core_operator_share/examples/share_operator_example.rs
  crates/rx_core_operator_share/src/lib.rs
  crates/rx_core_operator_share/src/share_extension_pipe.rs
  crates/rx_core_operator_share/src/share_observable.rs
  crates/rx_core_operator_share/src/share_operator.rs
  crates/rx_core_operator_share/src/share_options.rs
  crates/rx_core_operator_share/tests/share_operator_test.rs
  crates/rx_core_subject_behavior/src/behavior_subject.rs
  crates/rx_core_subject_publish/src/publish_subject.rs
  crates/rx_core_subject_replay/src/replay_subject.rs
  crates/rx_core_traits/src/lib.rs
  crates/rx_core_traits/src/providers.rs
  crates/rx_core_traits/src/subject.rs
Due: rx_core_observable_connectable, rx_core_subject_behavior, rx_core_subject_replay, rx_core_traits

test(rx_core_operator_share): two funny tests
  crates/rx_core_observable_connectable/src/connectable_observable_options.rs
  crates/rx_core_operator_share/tests/share_operator_test.rs
Due: rx_core_observable_connectable

feat(rx_core_operator_map_error): added the map_error operator
  Cargo.lock
  Cargo.toml
  codecov.yml
  crates/rx_bevy/Cargo.toml
  crates/rx_core/Cargo.toml
  crates/rx_core/src/lib.rs
  crates/rx_core_observable_concat/src/concat_observable.rs
  crates/rx_core_observable_merge/src/merge_observable.rs
  crates/rx_core_operator_concat_all/examples/concat_all_example.rs
  crates/rx_core_operator_concat_map/examples/concat_map_example.rs
  crates/rx_core_operator_exhaust_all/examples/exhaust_all_example.rs
  crates/rx_core_operator_exhaust_map/examples/exhaust_map_example.rs
  crates/rx_core_operator_exhaust_map/examples/exhaust_map_subject_example.rs
  crates/rx_core_operator_map_error/Cargo.toml
  crates/rx_core_operator_map_error/examples/map_error_operator_example.rs
  crates/rx_core_operator_map_error/readme.md
  crates/rx_core_operator_map_error/src/lib.rs
  crates/rx_core_operator_map_error/src/map_error_extension_compose.rs
  crates/rx_core_operator_map_error/src/map_error_extension_pipe.rs
  crates/rx_core_operator_map_error/src/map_error_operator.rs
  crates/rx_core_operator_map_error/src/map_error_subscriber.rs
  crates/rx_core_operator_map_error/tests/map_error_operator_test.rs
  crates/rx_core_operator_merge_all/examples/merge_all_example.rs
  crates/rx_core_operator_merge_map/examples/merge_map_example.rs
  crates/rx_core_operator_switch_all/examples/switch_all_example.rs
  crates/rx_core_traits/src/signals/never.rs
  docs/SUMMARY.md
  docs/operator/map_error.md
Due: rx_bevy, rx_core, rx_core_observable_merge, rx_core_operator_merge_all, rx_core_operator_merge_map, rx_core_operator_switch_all, rx_core_traits

feat(rx_core_operator_on_next): now can also cancel the downstream emission
  crates/rx_core_operator_on_next/examples/on_next_operator_example.rs
  crates/rx_core_operator_on_next/src/on_next_extension_compose.rs
  crates/rx_core_operator_on_next/src/on_next_extension_pipe.rs
  crates/rx_core_operator_on_next/src/on_next_operator.rs
  crates/rx_core_operator_on_next/src/on_next_subscriber.rs
  crates/rx_core_operator_on_next/tests/on_next_operator_test.rs
Due: none

fix(rx_core_observable_combine_latest): now unsubscribes on drop correctly
  crates/rx_core_notification_store/src/notification_state.rs
  crates/rx_core_observable_combine_latest/src/combine_latest_subscriber.rs
  crates/rx_core_testing/src/notification_collector.rs
Due: rx_core_observable_combine_latest, rx_core_testing

fix(rx_core_observable_zip): now unsubscribes on drop correctly
  crates/rx_core_observable_zip/src/zip_subscriber.rs
Due: rx_core_observable_zip

fix(rx_core_subject_publish): multicast subscription now unsubscribes deadlock free like the subjects own unsubscribe fn
  Cargo.lock
  crates/rx_core_subject_publish/Cargo.toml
  crates/rx_core_subject_publish/src/lib.rs
  crates/rx_core_subject_publish/src/multicast.rs
  crates/rx_core_subject_publish/src/multicast_notification.rs
  crates/rx_core_subject_publish/src/multicast_notification_errors.rs
  crates/rx_core_subject_publish/src/multicast_subscriber_id.rs
  crates/rx_core_subject_publish/src/multicast_subscription.rs
  crates/rx_core_subject_publish/src/publish_subject.rs
Due: none

fix(rx_core_operator_retry): now closes correctly on complete
  crates/rx_core_operator_retry/src/retry_observable.rs
  crates/rx_core_operator_retry/src/retry_subscriber.rs
  crates/rx_core_operator_retry/tests/retry_operator_test.rs
Due: none

fix(rx_core): shared subscribers and subscriptions now enjoy the same deferred anti-deadlock mechanism as subjects
  crates/rx_bevy_observable_keyboard/src/keyboard_subscription.rs
  crates/rx_bevy_observable_resource/src/resource_subscription.rs
  crates/rx_core_observable_interval/src/interval_subscription.rs
  crates/rx_core_observable_iterator_on_tick/src/iterator_on_tick_subscription.rs
  crates/rx_core_operator_adsr/src/adsr_subscriber.rs
  crates/rx_core_operator_fallback_when_silent/src/fallback_when_silent_subscriber.rs
  crates/rx_core_operator_retry/tests/retry_operator_test.rs
  crates/rx_core_subject_publish/src/multicast.rs
  crates/rx_core_subject_publish/src/multicast_subscription.rs
  crates/rx_core_subject_publish/src/publish_subject.rs
  crates/rx_core_subscriber_higher_order/src/higher_order_subscriber_inner.rs
  crates/rx_core_subscriber_higher_order_concurrent/src/concurrent_subscriber.rs
  crates/rx_core_subscriber_higher_order_exhaust/src/exhaust_subscriber.rs
  crates/rx_core_subscriber_higher_order_switch/src/switch_subscriber.rs
  crates/rx_core_traits/src/subscribers/shared_subscriber.rs
  crates/rx_core_traits/src/subscriptions/subscription_handle.rs
Due: rx_bevy_observable_keyboard, rx_bevy_observable_resource, rx_core_observable_interval, rx_core_observable_iterator_on_tick, rx_core_operator_adsr, rx_core_operator_fallback_when_silent, rx_core_traits

fix(rx_core_operator_fallback_when_silent): now unsubscribes on error and complete
  crates/rx_core_operator_fallback_when_silent/src/fallback_when_silent_subscriber.rs
  crates/rx_core_operator_fallback_when_silent/tests/fallback_when_silent_operator_test.rs
Due: rx_core_operator_fallback_when_silent

feat(rx_core_observable_combine_changes): added the combine_changes observable
  Cargo.lock
  Cargo.toml
  codecov.yml
  crates/rx_bevy/Cargo.toml
  crates/rx_core/Cargo.toml
  crates/rx_core/src/lib.rs
  crates/rx_core_observable_combine_changes/Cargo.toml
  crates/rx_core_observable_combine_changes/examples/combine_changes_example.rs
  crates/rx_core_observable_combine_changes/examples/combine_changes_subject_example.rs
  crates/rx_core_observable_combine_changes/readme.md
  crates/rx_core_observable_combine_changes/src/change.rs
  crates/rx_core_observable_combine_changes/src/combine_changes_fn.rs
  crates/rx_core_observable_combine_changes/src/combine_changes_observable.rs
  crates/rx_core_observable_combine_changes/src/combine_changes_subscriber.rs
  crates/rx_core_observable_combine_changes/src/lib.rs
  crates/rx_core_observable_combine_changes/tests/combine_changes_observable_test.rs
  docs/SUMMARY.md
  docs/observable/combine_changes.md
Due: rx_bevy, rx_core

feat(rx_core_observable_connectable): add a new function to create options with a connector provider
  crates/rx_core_observable_combine_changes/examples/combine_changes_example.rs
  crates/rx_core_observable_connectable/src/connectable_observable_options.rs
  crates/rx_core_observable_connectable/tests/connectable_observable_reset_on_test.rs
Due: rx_core_observable_connectable

test(rx_core_notification_store): more tests
  crates/rx_core_notification_store/src/notification_queue.rs
  crates/rx_core_notification_store/src/notification_state.rs
  crates/rx_core_notification_store/tests/notification_queue_test.rs
  crates/rx_core_notification_store/tests/notification_state_test.rs
Due: none

docs(rx_core_traits): operator
  crates/rx_core_operator_retry/src/retry_operator.rs
  crates/rx_core_operator_share/src/share_operator.rs
  crates/rx_core_traits/src/lib.rs
  crates/rx_core_traits/src/operator.rs
  crates/rx_core_traits/src/operator_composable.rs
  crates/rx_core_traits/src/pipe/compose_operator.rs
  crates/rx_core_traits/src/pipe/mod.rs
Due: rx_core_traits

feat(rx_core_traits): added ObserverTerminalNotification and missing cross-notification conversions and tests
  crates/rx_bevy_context/src/notification/notification_event_subscriber.rs
  crates/rx_core_traits/src/signals/mod.rs
  crates/rx_core_traits/src/signals/never.rs
  crates/rx_core_traits/src/signals/notification_observer.rs
  crates/rx_core_traits/src/signals/notification_observer_terminal.rs
  crates/rx_core_traits/src/signals/notification_subscriber.rs
  crates/rx_core_traits/src/signals/notification_subscription.rs
  crates/rx_core_traits/src/signals/signal.rs
  crates/rx_core_traits/src/subscriptions/subscription_handle.rs
Due: rx_bevy_context, rx_core_traits

fix(rx_core_operator_retry): fixed non-retrying completion should also unsubscribe, and added more tests
  crates/rx_core_observable_deferred/src/deferred_observable.rs
  crates/rx_core_observable_deferred/src/deferred_observable_fn.rs
  crates/rx_core_operator_retry/src/retry_observable.rs
  crates/rx_core_operator_retry/src/retry_subscriber.rs
  crates/rx_core_operator_retry/tests/retry_operator_test.rs
Due: rx_core_observable_deferred

chore(rx_core_traits): renamed SubscriptionHandle to SharedSubscription, and a few other files
  crates/rx_core_operator_retry/src/retry_observable.rs
  crates/rx_core_operator_retry/src/retry_subscriber.rs
  crates/rx_core_subject_publish/src/multicast_subscription.rs
  crates/rx_core_subject_publish/src/publish_subject.rs
  crates/rx_core_subject_publish/tests/publish_subject_deferred_test.rs
  crates/rx_core_subscriber_higher_order_concurrent/src/concurrent_subscriber.rs
  crates/rx_core_subscriber_higher_order_exhaust/src/exhaust_subscriber.rs
  crates/rx_core_subscriber_higher_order_switch/src/switch_subscriber.rs
  crates/rx_core_traits/src/subscribers/mod.rs
  crates/rx_core_traits/src/subscribers/subscriber_arc_mutex.rs
  crates/rx_core_traits/src/subscribers/subscriber_arc_rw_lock.rs
  crates/rx_core_traits/src/subscribers/subscriber_arc_weak_mutex.rs
  crates/rx_core_traits/src/subscribers/subscriber_box.rs
  crates/rx_core_traits/src/subscribers/subscriber_erased.rs
  crates/rx_core_traits/src/subscribers/subscriber_observer.rs
  crates/rx_core_traits/src/subscribers/subscriber_option.rs
  crates/rx_core_traits/src/subscribers/subscriber_shared.rs
  crates/rx_core_traits/src/subscriptions/mod.rs
  crates/rx_core_traits/src/subscriptions/subscription_shared.rs
Due: rx_core_traits

fix(rx_core_operator_retry): retry can now be unsubscribed by upstream without a terminal signal
  crates/rx_core_observable_never/src/never_observable.rs
  crates/rx_core_operator_retry/src/retry_subscriber.rs
  crates/rx_core_operator_retry/tests/retry_operator_test.rs
Due: none

feat(rx_core_observable_closed): added the closed observable
  Cargo.lock
  Cargo.toml
  codecov.yml
  crates/rx_bevy/Cargo.toml
  crates/rx_core/Cargo.toml
  crates/rx_core/src/lib.rs
  crates/rx_core_observable_closed/Cargo.toml
  crates/rx_core_observable_closed/examples/closed_example.rs
  crates/rx_core_observable_closed/readme.md
  crates/rx_core_observable_closed/src/closed_observable.rs
  crates/rx_core_observable_closed/src/closed_observable_fn.rs
  crates/rx_core_observable_closed/src/lib.rs
  crates/rx_core_observable_closed/tests/closed_observable_test.rs
  crates/rx_core_observable_never/examples/never_example.rs
  crates/rx_core_operator_retry/tests/retry_operator_test.rs
  crates/rx_core_testing/src/notification_collector.rs
  docs/SUMMARY.md
  docs/observable/closed.md
Due: rx_bevy, rx_core, rx_core_testing

feat(rx_core_operator_buffer_count): added the buffer_count operator
  Cargo.lock
  Cargo.toml
  codecov.yml
  crates/rx_bevy/Cargo.toml
  crates/rx_core/Cargo.toml
  crates/rx_core/src/lib.rs
  crates/rx_core_operator_buffer_count/Cargo.toml
  crates/rx_core_operator_buffer_count/examples/buffer_count_operator_example.rs
  crates/rx_core_operator_buffer_count/readme.md
  crates/rx_core_operator_buffer_count/src/buffer_count_extension_compose.rs
  crates/rx_core_operator_buffer_count/src/buffer_count_extension_pipe.rs
  crates/rx_core_operator_buffer_count/src/buffer_count_operator.rs
  crates/rx_core_operator_buffer_count/src/buffer_count_subscriber.rs
  crates/rx_core_operator_buffer_count/src/lib.rs
  crates/rx_core_operator_buffer_count/tests/buffer_count_operator_test.rs
  docs/SUMMARY.md
  docs/operator/buffer_count.md
Due: rx_bevy, rx_core

fix(rx_core_operator_retry): close when downstream closes due to a next
  crates/rx_core_operator_retry/src/retry_subscriber.rs
  crates/rx_core_operator_retry/tests/retry_operator_test.rs
Due: none

feat(rx_core_operator_pairwise): added the pairwise operator
  Cargo.lock
  Cargo.toml
  codecov.yml
  crates/rx_bevy/Cargo.toml
  crates/rx_core/Cargo.toml
  crates/rx_core/src/lib.rs
  crates/rx_core_operator_pairwise/Cargo.toml
  crates/rx_core_operator_pairwise/examples/pairwise_operator_example.rs
  crates/rx_core_operator_pairwise/readme.md
  crates/rx_core_operator_pairwise/src/lib.rs
  crates/rx_core_operator_pairwise/src/pairwise_extension_compose.rs
  crates/rx_core_operator_pairwise/src/pairwise_extension_pipe.rs
  crates/rx_core_operator_pairwise/src/pairwise_operator.rs
  crates/rx_core_operator_pairwise/src/pairwise_subscriber.rs
  crates/rx_core_operator_pairwise/tests/pairwise_operator_test.rs
  crates/rx_core_operator_retry/src/retry_subscriber.rs
  docs/SUMMARY.md
  docs/operator/pairwise.md
Due: rx_bevy, rx_core
