Repository AlexAegis/rx_bevy: changes, and which Codecov flags are due for each by the changed paths.
All: rx_bevy, rx_bevy_common, rx_bevy_context, rx_bevy_observable_event, rx_bevy_observable_keyboard, rx_bevy_observable_message, rx_bevy_observable_proxy, rx_bevy_observable_resource, rx_core, rx_core_notification_store, rx_core_notification_variadics, rx_core_macro_common, rx_core_macro_executor_derive, rx_core_macro_observable_derive, rx_core_macro_observer_derive, rx_core_macro_operator_derive, rx_core_macro_scheduler_derive, rx_core_macro_subject_derive, rx_core_macro_subscriber_derive, rx_core_macro_subscription_derive, rx_core_macro_work_derive, rx_core_observable_closed, rx_core_observable_combine_changes, rx_core_observable_combine_latest, rx_core_observable_concat, rx_core_observable_connectable, rx_core_observable_deferred, rx_core_observable_empty, rx_core_observable_interval, rx_core_observable_iterator, rx_core_observable_iterator_on_tick, rx_core_observable_join, rx_core_observable_merge, rx_core_observable_never, rx_core_observable_of, rx_core_observable_throw, rx_core_observable_timer, rx_core_observable_zip, rx_core_observer_fn, rx_core_observer_noop, rx_core_observer_print, rx_core_operator_adsr, rx_core_operator_composite, rx_core_operator_concat_all, rx_core_operator_concat_map, rx_core_operator_delay, rx_core_operator_dematerialize, rx_core_operator_end_with, rx_core_operator_enumerate, rx_core_operator_error_boundary, rx_core_operator_exhaust_all, rx_core_operator_exhaust_map, rx_core_operator_fallback_when_silent, rx_core_operator_filter, rx_core_operator_filter_map, rx_core_operator_finalize, rx_core_operator_find, rx_core_operator_find_index, rx_core_operator_first, rx_core_operator_identity, rx_core_operator_into_result, rx_core_operator_lift_option, rx_core_operator_lift_result, rx_core_operator_map, rx_core_operator_map_error, rx_core_operator_map_into, rx_core_operator_materialize, rx_core_operator_merge_all, rx_core_operator_merge_map, rx_core_operator_on_next, rx_core_operator_on_subscribe, rx_core_operator_reduce, rx_core_operator_retry, rx_core_operator_scan, rx_core_operator_share, rx_core_operator_skip, rx_core_operator_start_with, rx_core_operator_switch_all, rx_core_operator_switch_map, rx_core_operator_take, rx_core_operator_tap, rx_core_operator_tap_next, rx_core_scheduler_ticking, rx_core_subject_async, rx_core_subject_behavior, rx_core_subject_provenance, rx_core_subject_publish, rx_core_subject_replay, rx_core_subscriber_higher_order_concurrent, rx_core_subscriber_higher_order_exhaust, rx_core_subscriber_higher_order, rx_core_subscriber_higher_order_all, rx_core_subscriber_higher_order_map, rx_core_subscriber_rc, rx_core_subscriber_higher_order_switch, rx_core_subscription_inert, rx_core_testing, rx_core_traits

chore: release v0.4.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/rx_bevy/Cargo.toml
  crates/rx_bevy_common/Cargo.toml
  crates/rx_bevy_observable_event/Cargo.toml
  crates/rx_bevy_observable_keyboard/Cargo.toml
  crates/rx_bevy_observable_message/Cargo.toml
  crates/rx_bevy_observable_proxy/Cargo.toml
  crates/rx_bevy_observable_resource/Cargo.toml
Due: rx_bevy, rx_bevy_common, rx_bevy_observable_event, rx_bevy_observable_keyboard, rx_bevy_observable_message, rx_bevy_observable_proxy, rx_bevy_observable_resource

chore: release v0.3.1
  CHANGELOG.md
Due: none

chore: release v0.3.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/rx_bevy/Cargo.toml
  crates/rx_bevy_common/Cargo.toml
  crates/rx_bevy_observable_event/Cargo.toml
  crates/rx_bevy_observable_keyboard/Cargo.toml
  crates/rx_bevy_observable_message/Cargo.toml
  crates/rx_bevy_observable_proxy/Cargo.toml
  crates/rx_bevy_observable_resource/Cargo.toml
Due: rx_bevy, rx_bevy_common, rx_bevy_observable_event, rx_bevy_observable_keyboard, rx_bevy_observable_message, rx_bevy_observable_proxy, rx_bevy_observable_resource

chore: release v0.3.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/rx_bevy/Cargo.toml
  crates/rx_bevy_common/Cargo.toml
  crates/rx_bevy_observable_event/Cargo.toml
  crates/rx_bevy_observable_keyboard/Cargo.toml
  crates/rx_bevy_observable_message/Cargo.toml
  crates/rx_bevy_observable_proxy/Cargo.toml
  crates/rx_bevy_observable_resource/Cargo.toml
Due: rx_bevy, rx_bevy_common, rx_bevy_observable_event, rx_bevy_observable_keyboard, rx_bevy_observable_message, rx_bevy_observable_proxy, rx_bevy_observable_resource

feat(rx_core_operator_debounce_time): added the debounce_time operator
  .env
  .github/workflows/ci.yml
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  codecov.yml
  crates/rx_bevy/Cargo.toml
  crates/rx_core/Cargo.toml
  crates/rx_core/examples/operator_debounce_time_example.rs
  crates/rx_core/readme.md
  crates/rx_core/src/lib.rs
  crates/rx_core/tests/debounce_time_operator_test.rs
  crates/rx_core_operator_adsr/readme.md
  crates/rx_core_operator_debounce_time/Cargo.toml
  crates/rx_core_operator_debounce_time/readme.md
  crates/rx_core_operator_debounce_time/src/debounce_time_extension_compose.rs
  crates/rx_core_operator_debounce_time/src/debounce_time_extension_pipe.rs
  crates/rx_core_operator_debounce_time/src/debounce_time_operator.rs
  crates/rx_core_operator_debounce_time/src/debounce_time_subscriber.rs
  crates/rx_core_operator_debounce_time/src/lib.rs
  crates/rx_core_operator_delay/readme.md
  crates/rx_core_operator_fallback_when_silent/readme.md
  crates/rx_core_operator_observe_on/readme.md
  crates/rx_core_operator_subscribe_on/readme.md
  docs/SUMMARY.md
  docs/operator/debounce_time.md
  readme.md
  release-plz.toml
Due: rx_bevy, rx_core, rx_core_operator_adsr, rx_core_operator_delay, rx_core_operator_fallback_when_silent

feat(rx_core_operator_throttle_time): added the throttle_time operator
  Cargo.lock
  Cargo.toml
  codecov.yml
  crates/rx_bevy/Cargo.toml
  crates/rx_bevy/examples/gallery.rs
  crates/rx_core/Cargo.toml
  crates/rx_core/examples/operator_throttle_time_example.rs
  crates/rx_core/examples/operator_throttle_time_restart_example.rs
  crates/rx_core/readme.md
  crates/rx_core/src/lib.rs
  crates/rx_core/tests/throttle_time_operator_test.rs
  crates/rx_core_operator_adsr/readme.md
  crates/rx_core_operator_debounce_time/readme.md
  crates/rx_core_operator_delay/readme.md
  crates/rx_core_operator_fallback_when_silent/readme.md
  crates/rx_core_operator_observe_on/readme.md
  crates/rx_core_operator_subscribe_on/readme.md
  crates/rx_core_operator_throttle_time/Cargo.toml
  crates/rx_core_operator_throttle_time/readme.md
  crates/rx_core_operator_throttle_time/src/lib.rs
  crates/rx_core_operator_throttle_time/src/throttle_time_extension_compose.rs
  crates/rx_core_operator_throttle_time/src/throttle_time_extension_pipe.rs
  crates/rx_core_operator_throttle_time/src/throttle_time_operator.rs
  crates/rx_core_operator_throttle_time/src/throttle_time_options.rs
  crates/rx_core_operator_throttle_time/src/throttle_time_subscriber.rs
  docs/SUMMARY.md
  docs/operator/throttle_time.md
  readme.md
  release-plz.toml
Due: rx_bevy, rx_core, rx_core_operator_adsr, rx_core_operator_delay, rx_core_operator_fallback_when_silent

chore: release
  CHANGELOG.md
Due: none

chore: updated crates
  Cargo.lock
  Cargo.toml
  crates/rx_bevy_observable_keyboard/src/keyboard_subscription.rs
Due: rx_bevy_observable_keyboard

feat(tokio): added tokio executor
  Cargo.lock
  Cargo.toml
  codecov.yml
  crates/rx_core/Cargo.toml
  crates/rx_core/src/lib.rs
  crates/rx_core_scheduler_tokio/Cargo.toml
  crates/rx_core_scheduler_tokio/readme.md
  crates/rx_core_scheduler_tokio/src/bridge/broadcast_observable.rs
  crates/rx_core_scheduler_tokio/src/bridge/broadcast_subscription.rs
  crates/rx_core_scheduler_tokio/src/bridge/mod.rs
  crates/rx_core_scheduler_tokio/src/bridge/mpsc_destination.rs
  crates/rx_core_scheduler_tokio/src/bridge/mpsc_observable.rs
  crates/rx_core_scheduler_tokio/src/bridge/mpsc_subscription.rs
  crates/rx_core_scheduler_tokio/src/bridge/watch_observable.rs
  crates/rx_core_scheduler_tokio/src/bridge/watch_subscription.rs
  crates/rx_core_scheduler_tokio/src/lib.rs
  crates/rx_core_scheduler_tokio/src/tokio_executor.rs
  crates/rx_core_scheduler_tokio/src/tokio_scheduler.rs
  crates/rx_core_scheduler_tokio/src/unit_context.rs
  docs/SUMMARY.md
  docs/scheduler/tokio.md
  release-plz.toml
Due: rx_core

feat(rx_bevy)!: upgrade to bevy 0.19
  Cargo.lock
  Cargo.toml
  crates/examples_common/src/subscription_map_resource.rs
  crates/rx_bevy/tests/commands_with_observable_test.rs
  crates/rx_bevy/tests/entity_command_as_proxy_observable_test.rs
  crates/rx_bevy/tests/entity_command_subscribe_test.rs
  crates/rx_bevy/tests/entity_destination_test.rs
  crates/rx_bevy/tests/event_observable_test.rs
  crates/rx_bevy/tests/keyboard_observable_test.rs
  crates/rx_bevy/tests/message_observable_test.rs
  crates/rx_bevy/tests/observable_component_test.rs
  crates/rx_bevy/tests/observable_query_test.rs
  crates/rx_bevy/tests/proxy_observable_test.rs
  crates/rx_bevy/tests/resource_destination_test.rs
  crates/rx_bevy/tests/resource_observable_test.rs
  crates/rx_bevy/tests/scheduler_test.rs
  crates/rx_bevy/tests/subject_component_test.rs
  crates/rx_bevy/tests/subscription_component_test.rs
  crates/rx_bevy_common/src/observable/command_subscribe.rs
  crates/rx_bevy_common/src/observer/resource_destination.rs
  crates/xtask/Cargo.toml
Due: rx_bevy, rx_bevy_common

chore: update bevy to final release version
  Cargo.lock
  Cargo.toml
Due: none

feat: add RandomSeedObservable
  crates/rx_bevy/Cargo.toml
  crates/rx_core/Cargo.toml
  crates/rx_core_observable_random_seed/Cargo.toml
  crates/rx_core_observable_random_seed/src/lib.rs
Due: rx_bevy, rx_core

fix: don't panic when the notification queue empties on the last round
  crates/rx_core/tests/publish_subject_deferred_test.rs
  crates/rx_core_common/src/subscribers/subscriber_shared.rs
  crates/rx_core_common/src/subscriptions/subscription_shared.rs
  crates/rx_core_subject_publish/src/lib.rs
  crates/rx_core_subject_publish/src/multicast.rs
  crates/xtask/src/lints/aggregators.rs
Due: rx_core, rx_core_subject_publish

chore: update crates
  Cargo.lock
  Cargo.toml
Due: none

chore: keep line tables in the test profile
  Cargo.toml
Due: none

ci: add codeql analysis
  .github/workflows/codeql.yml
Due: none

feat(rx_core_testing_mute_panic): extracted and fixed mute_panic
  .github/workflows/release_plz.yml
  Cargo.lock
  Cargo.toml
  codecov.yml
  crates/rx_core/tests/ticking_executor_test.rs
  crates/rx_core_common/Cargo.toml
  crates/rx_core_common/src/subscribers/subscriber_state.rs
  crates/rx_core_macro_common/Cargo.toml
  crates/rx_core_macro_common/src/derive_executor.rs
  crates/rx_core_macro_common/src/derive_observer.rs
  crates/rx_core_macro_common/src/derive_teardown_collection.rs
  crates/rx_core_macro_common/src/helpers.rs
  crates/rx_core_testing/Cargo.toml
  crates/rx_core_testing/readme.md
  crates/rx_core_testing/src/lib.rs
  crates/rx_core_testing/src/mute_panic.rs
  crates/rx_core_testing_mute_panic/Cargo.toml
  crates/rx_core_testing_mute_panic/readme.md
  crates/rx_core_testing_mute_panic/src/lib.rs
  crates/rx_core_testing_mute_panic/src/mute_panic.rs
  crates/rx_core_testing_mute_panic/tests/first_call_while_unwinding_test.rs
  crates/rx_core_testing_mute_panic/tests/suppression_test.rs
  crates/xtask/src/lints/workspace.rs
  release-plz.toml
Due: rx_core, rx_core_macro_common, rx_core_testing

fix: handle zero interval in repeated work
  crates/rx_core/tests/ticking_executor_test.rs
  crates/rx_core_common/src/scheduling/scheduler.rs
  crates/rx_core_observable_interval/src/interval_observable.rs
  crates/rx_core_observable_interval/src/interval_observable_fn.rs
  crates/rx_core_observable_interval/src/interval_observable_options.rs
  crates/rx_core_scheduler_ticking/src/work/ticked_work_repeating.rs
Due: rx_core, rx_core_observable_interval, rx_core_scheduler_ticking

fix!: typos
  Makefile.toml
  crates/rx_bevy/examples/01_a_barely_integrated_observable.rs
  crates/rx_bevy/examples/02_a_somewhat_integrated_observable.rs
  crates/rx_bevy/examples/subscribing_directly_to_an_observable_to_emit_events.rs
  crates/rx_bevy/tests/subscription_satellite_test.rs
  crates/rx_bevy_common/src/notification/notification_event_subscriber.rs
  crates/rx_bevy_common/src/observable/entity_commands_observable.rs
  crates/rx_bevy_common/src/rx_bevy_context.rs
  crates/rx_bevy_common/src/scheduler/rx_scheduler_plugin.rs
  crates/rx_bevy_common/src/subject/signal_observer_satellite.rs
  crates/rx_bevy_common/src/subscription/entity_subscription.rs
  crates/rx_bevy_common/src/subscription/subscribe_event.rs
  crates/rx_bevy_observable_event/src/event_subscription.rs
  crates/rx_bevy_observable_proxy/src/proxy_subscription.rs
  crates/rx_core/examples/subject_behavior_example.rs
  crates/rx_core/examples/subject_publish_self_teardown.rs
  crates/rx_core/tests/connectable_observable_terminal_signals_test.rs
  crates/rx_core/tests/delay_operator_test.rs
  crates/rx_core/tests/merge_all_operator_tests.rs
  crates/rx_core/tests/observe_on_operator_test.rs
  crates/rx_core/tests/publish_subject_deferred_test.rs
  crates/rx_core/tests/ticking_executor_test.rs
  crates/rx_core_common/src/signals/notification_observer.rs
  crates/rx_core_common/src/signals/notification_observer_terminal.rs
  crates/rx_core_common/src/signals/notification_subscriber.rs
  crates/rx_core_common/src/signals/notification_subscription.rs
  crates/rx_core_common/src/subscribers/subscriber_shared.rs
  crates/rx_core_common/src/subscriptions/subscription_shared.rs
  crates/rx_core_common/src/subscriptions/teardown.rs
  crates/rx_core_notification_store/src/notification_state.rs
  crates/rx_core_observable_iterator_on_tick/src/iterator_on_tick_observable_options.rs
  crates/rx_core_operator_find_index/src/find_index_subscriber.rs
  crates/rx_core_scheduler_ticking/src/ticking_executor.rs
  crates/rx_core_subject_publish/src/publish_subject.rs
  crates/rx_core_subject_replay/Cargo.toml
  crates/rx_core_testing/src/notification_collector.rs
  docs/concepts.md
  docs/contracts.md
  docs/rx_in_bevy.md
Due: rx_bevy, rx_bevy_common, rx_bevy_observable_event, rx_bevy_observable_proxy, rx_core, rx_core_notification_store, rx_core_observable_iterator_on_tick, rx_core_operator_find_index, rx_core_scheduler_ticking, rx_core_subject_publish, rx_core_subject_replay, rx_core_testing

feat(rx_core_subject_publish): notify subscribers in subscription order
  crates/rx_core/tests/publish_subject_test.rs
  crates/rx_core_observable_connectable/readme.md
  crates/rx_core_operator_share/readme.md
  crates/rx_core_subject_behavior/readme.md
  crates/rx_core_subject_provenance/readme.md
  crates/rx_core_subject_publish/readme.md
  crates/rx_core_subject_publish/src/multicast.rs
  crates/rx_core_subject_publish/src/publish_subject.rs
  crates/rx_core_subject_replay/readme.md
  docs/concepts.md
Due: rx_core, rx_core_observable_connectable, rx_core_operator_share, rx_core_subject_behavior, rx_core_subject_provenance, rx_core_subject_publish, rx_core_subject_replay

docs: regenerate the stale example output blocks
  crates/rx_core/examples/observable_throw_example.rs
  crates/rx_core/examples/operator_finalize_completion_example.rs
  crates/rx_core/examples/operator_finalize_unsubscribe_example.rs
  crates/rx_core_observable_throw/readme.md
  crates/rx_core_operator_map_error/readme.md
  crates/rx_core_operator_scan/readme.md
  crates/rx_core_operator_tap/readme.md
Due: rx_core, rx_core_observable_throw, rx_core_operator_map_error, rx_core_operator_scan, rx_core_operator_tap

docs(rx_core): label the merge examples merge_observable
  crates/rx_core/examples/observable_merge_example.rs
  crates/rx_core/examples/observable_merge_subject_example.rs
Due: rx_core

fix: invoked work cancellation
  crates/rx_core/tests/ticking_executor_test.rs
  crates/rx_core_scheduler_ticking/src/ticking_executor.rs
Due: rx_core, rx_core_scheduler_ticking

fix(rx_core_notification_store): drop oldest overflow behavior
  crates/rx_core/tests/notification_queue_test.rs
  crates/rx_core_notification_store/src/notification_queue.rs
Due: rx_core, rx_core_notification_store

fix(rx_core_macro_common): teardown field priority
  crates/rx_core_macro_common/src/derive_subscription.rs
  crates/rx_core_macro_common/src/derive_teardown_collection.rs
  crates/rx_core_macro_common/src/helpers.rs
  crates/rx_core_macro_subscriber_derive/readme.md
  crates/rx_core_macro_subscriber_derive/src/lib.rs
Due: rx_core_macro_common, rx_core_macro_subscriber_derive

fix(rx_bevy): build the entity destination example without all features
  crates/rx_bevy/examples/observer_entity_destination.rs
Due: rx_bevy

fix: doc links
  Makefile.toml
  crates/rx_bevy_common/src/observable/entity_command_subscribe.rs
  crates/rx_bevy_common/src/observable/entity_commands_observable.rs
  crates/rx_bevy_common/src/observable/observable_component.rs
  crates/rx_bevy_common/src/observer/entity_destination.rs
  crates/rx_core_common/src/observable.rs
  crates/rx_core_common/src/operators/option_operator.rs
  crates/rx_core_common/src/rx_category.rs
  crates/rx_core_common/src/signals/notification_observer.rs
  crates/rx_core_common/src/signals/notification_observer_terminal.rs
  crates/rx_core_common/src/signals/signal.rs
  crates/rx_core_common/src/subject.rs
  crates/rx_core_common/src/subscriber.rs
  crates/rx_core_common/src/subscriptions/subscription_like.rs
  crates/rx_core_common/src/subscriptions/teardown.rs
  crates/rx_core_common/src/subscriptions/teardown_collection.rs
  crates/rx_core_common/src/upgradeable_observer.rs
  crates/rx_core_observable_closed/src/closed_observable.rs
  crates/rx_core_observable_closed/src/closed_observable_fn.rs
  crates/rx_core_observable_connectable/src/connection_handle.rs
  crates/rx_core_observable_iterator_on_tick/src/iterator_on_tick_observable.rs
  crates/rx_core_operator_element_at/src/element_at_extension_compose.rs
  crates/rx_core_operator_element_at/src/element_at_extension_pipe.rs
  crates/rx_core_operator_identity/src/identity_operator.rs
  crates/rx_core_operator_map_never/src/map_never_both_operator.rs
  crates/rx_core_operator_map_never/src/map_never_error_operator.rs
  crates/rx_core_operator_map_never/src/map_never_next_operator.rs
  crates/rx_core_subscription_inert/src/inert_subscription.rs
  docs/contracts.md
Due: rx_bevy_common, rx_core_observable_closed, rx_core_observable_connectable, rx_core_observable_iterator_on_tick, rx_core_operator_identity, rx_core_subscription_inert

docs: remove the context and drop safety docs
  crates/rx_core_common/src/observable.rs
  crates/rx_core_common/src/subscriptions/teardown.rs
  docs/concepts.md
Due: none

fix: leaking work ids per emission
  crates/rx_core_scheduler_ticking/src/ticking_executor.rs
Due: rx_core_scheduler_ticking

ci: check default feature set on make all
  .github/workflows/ci.yml
  Makefile.toml
Due: none

fix: report invalid rx_upgrades_to value as a compile error
  crates/rx_core_macro_common/src/derive_observer.rs
Due: rx_core_macro_common

fix: teardown field error message
  crates/rx_core_macro_common/src/derive_teardown_collection.rs
Due: rx_core_macro_common

fix: add clone bound to SubjectLike
  crates/rx_bevy_common/src/subject/subject_as_component_extension.rs
  crates/rx_bevy_common/src/subject/subject_component.rs
  crates/rx_core_common/src/subject.rs
Due: rx_bevy_common

chore!: prepare bevy 0.20 upgrade
  Cargo.lock
  Cargo.toml
  crates/rx_bevy/examples/adsr_example.rs
  crates/rx_core_operator_adsr/Cargo.toml
  crates/rx_core_operator_adsr/src/adsr/adsr_envelope.rs
  crates/rx_core_operator_adsr/src/model/adsr_trigger.rs
  readme.md
Due: rx_bevy, rx_core_operator_adsr

feat(rx_bevy)!: upgrade to bevy 0.20
  Cargo.lock
  Cargo.toml
Due: none

style: format with rust 1.99
  crates/rx_core_operator_concat_map/src/concat_map_extension_pipe.rs
  crates/rx_core_operator_exhaust_all/src/exhaust_all_extension_pipe.rs
  crates/rx_core_operator_exhaust_map/src/exhaust_map_extension_pipe.rs
  crates/rx_core_operator_map_error/src/map_error_extension_pipe.rs
  crates/rx_core_operator_map_into/src/map_into_extension_pipe.rs
  crates/rx_core_operator_merge_map/src/merge_map_extension_pipe.rs
  crates/rx_core_operator_on_subscribe/src/on_subscribe_extension_pipe.rs
  crates/rx_core_operator_switch_map/src/switch_map_extension_pipe.rs
  crates/rx_core_operator_with_latest_from/src/with_latest_from_extension_pipe.rs
Due: rx_core_operator_concat_map, rx_core_operator_exhaust_all, rx_core_operator_exhaust_map, rx_core_operator_map_error, rx_core_operator_map_into, rx_core_operator_merge_map, rx_core_operator_on_subscribe, rx_core_operator_switch_map

Path conditions:
  rx_bevy: any of: crates/rx_bevy/**
  rx_bevy_common: any of: crates/rx_bevy_common/**
  rx_bevy_context: any of: crates/rx_bevy_context/**
  rx_bevy_observable_event: any of: crates/rx_bevy_observable_event/**
  rx_bevy_observable_keyboard: any of: crates/rx_bevy_observable_keyboard/**
  rx_bevy_observable_message: any of: crates/rx_bevy_observable_message/**
  rx_bevy_observable_proxy: any of: crates/rx_bevy_observable_proxy/**
  rx_bevy_observable_resource: any of: crates/rx_bevy_observable_resource/**
  rx_core: any of: crates/rx_core/**
  rx_core_notification_store: any of: crates/rx_core_notification_store/**
  rx_core_notification_variadics: any of: crates/rx_core_notification_variadics/**
  rx_core_macro_common: any of: crates/rx_core_macro_common/**
  rx_core_macro_executor_derive: any of: crates/rx_core_macro_executor_derive/**
  rx_core_macro_observable_derive: any of: crates/rx_core_macro_observable_derive/**
  rx_core_macro_observer_derive: any of: crates/rx_core_macro_observer_derive/**
  rx_core_macro_operator_derive: any of: crates/rx_core_macro_operator_derive/**
  rx_core_macro_scheduler_derive: any of: crates/rx_core_macro_scheduler_derive/**
  rx_core_macro_subject_derive: any of: crates/rx_core_macro_subject_derive/**
  rx_core_macro_subscriber_derive: any of: crates/rx_core_macro_subscriber_derive/**
  rx_core_macro_subscription_derive: any of: crates/rx_core_macro_subscription_derive/**
  rx_core_macro_work_derive: any of: crates/rx_core_macro_work_derive/**
  rx_core_observable_closed: any of: crates/rx_core_observable_closed/**
  rx_core_observable_combine_changes: any of: crates/rx_core_observable_combine_changes/**
  rx_core_observable_combine_latest: any of: crates/rx_core_observable_combine_latest/**
  rx_core_observable_concat: any of: crates/rx_core_observable_concat/**
  rx_core_observable_connectable: any of: crates/rx_core_observable_connectable/**
  rx_core_observable_deferred: any of: crates/rx_core_observable_deferred/**
  rx_core_observable_empty: any of: crates/rx_core_observable_empty/**
  rx_core_observable_interval: any of: crates/rx_core_observable_interval/**
  rx_core_observable_iterator: any of: crates/rx_core_observable_iterator/**
  rx_core_observable_iterator_on_tick: any of: crates/rx_core_observable_iterator_on_tick/**
  rx_core_observable_join: any of: crates/rx_core_observable_join/**
  rx_core_observable_merge: any of: crates/rx_core_observable_merge/**
  rx_core_observable_never: any of: crates/rx_core_observable_never/**
  rx_core_observable_of: any of: crates/rx_core_observable_of/**
  rx_core_observable_throw: any of: crates/rx_core_observable_throw/**
  rx_core_observable_timer: any of: crates/rx_core_observable_timer/**
  rx_core_observable_zip: any of: crates/rx_core_observable_zip/**
  rx_core_observer_fn: any of: crates/rx_core_observer_fn/**
  rx_core_observer_noop: any of: crates/rx_core_observer_noop/**
  rx_core_observer_print: any of: crates/rx_core_observer_print/**
  rx_core_operator_adsr: any of: crates/rx_core_operator_adsr/**
  rx_core_operator_composite: any of: crates/rx_core_operator_composite/**
  rx_core_operator_concat_all: any of: crates/rx_core_operator_concat_all/**
  rx_core_operator_concat_map: any of: crates/rx_core_operator_concat_map/**
  rx_core_operator_delay: any of: crates/rx_core_operator_delay/**
  rx_core_operator_dematerialize: any of: crates/rx_core_operator_dematerialize/**
  rx_core_operator_end_with: any of: crates/rx_core_operator_end_with/**
  rx_core_operator_enumerate: any of: crates/rx_core_operator_enumerate/**
  rx_core_operator_error_boundary: any of: crates/rx_core_operator_error_boundary/**
  rx_core_operator_exhaust_all: any of: crates/rx_core_operator_exhaust_all/**
  rx_core_operator_exhaust_map: any of: crates/rx_core_operator_exhaust_map/**
  rx_core_operator_fallback_when_silent: any of: crates/rx_core_operator_fallback_when_silent/**
  rx_core_operator_filter: any of: crates/rx_core_operator_filter/**
  rx_core_operator_filter_map: any of: crates/rx_core_operator_filter_map/**
  rx_core_operator_finalize: any of: crates/rx_core_operator_finalize/**
  rx_core_operator_find: any of: crates/rx_core_operator_find/**
  rx_core_operator_find_index: any of: crates/rx_core_operator_find_index/**
  rx_core_operator_first: any of: crates/rx_core_operator_first/**
  rx_core_operator_identity: any of: crates/rx_core_operator_identity/**
  rx_core_operator_into_result: any of: crates/rx_core_operator_into_result/**
  rx_core_operator_lift_option: any of: crates/rx_core_operator_lift_option/**
  rx_core_operator_lift_result: any of: crates/rx_core_operator_lift_result/**
  rx_core_operator_map: any of: crates/rx_core_operator_map/**
  rx_core_operator_map_error: any of: crates/rx_core_operator_map_error/**
  rx_core_operator_map_into: any of: crates/rx_core_operator_map_into/**
  rx_core_operator_materialize: any of: crates/rx_core_operator_materialize/**
  rx_core_operator_merge_all: any of: crates/rx_core_operator_merge_all/**
  rx_core_operator_merge_map: any of: crates/rx_core_operator_merge_map/**
  rx_core_operator_on_next: any of: crates/rx_core_operator_on_next/**
  rx_core_operator_on_subscribe: any of: crates/rx_core_operator_on_subscribe/**
  rx_core_operator_reduce: any of: crates/rx_core_operator_reduce/**
  rx_core_operator_retry: any of: crates/rx_core_operator_retry/**
  rx_core_operator_scan: any of: crates/rx_core_operator_scan/**
  rx_core_operator_share: any of: crates/rx_core_operator_share/**
  rx_core_operator_skip: any of: crates/rx_core_operator_skip/**
  rx_core_operator_start_with: any of: crates/rx_core_operator_start_with/**
  rx_core_operator_switch_all: any of: crates/rx_core_operator_switch_all/**
  rx_core_operator_switch_map: any of: crates/rx_core_operator_switch_map/**
  rx_core_operator_take: any of: crates/rx_core_operator_take/**
  rx_core_operator_tap: any of: crates/rx_core_operator_tap/**
  rx_core_operator_tap_next: any of: crates/rx_core_operator_tap_next/**
  rx_core_scheduler_ticking: any of: crates/rx_core_scheduler_ticking/**
  rx_core_subject_async: any of: crates/rx_core_subject_async/**
  rx_core_subject_behavior: any of: crates/rx_core_subject_behavior/**
  rx_core_subject_provenance: any of: crates/rx_core_subject_provenance/**
  rx_core_subject_publish: any of: crates/rx_core_subject_publish/**
  rx_core_subject_replay: any of: crates/rx_core_subject_replay/**
  rx_core_subscriber_higher_order_concurrent: any of: crates/rx_core_subscriber_higher_order_concurrent/**
  rx_core_subscriber_higher_order_exhaust: any of: crates/rx_core_subscriber_higher_order_exhaust/**
  rx_core_subscriber_higher_order: any of: crates/rx_core_subscriber_higher_order/**
  rx_core_subscriber_higher_order_all: any of: crates/rx_core_subscriber_higher_order_all/**
  rx_core_subscriber_higher_order_map: any of: crates/rx_core_subscriber_higher_order_map/**
  rx_core_subscriber_rc: any of: crates/rx_core_subscriber_rc/**
  rx_core_subscriber_higher_order_switch: any of: crates/rx_core_subscriber_higher_order_switch/**
  rx_core_subscription_inert: any of: crates/rx_core_subscription_inert/**
  rx_core_testing: any of: crates/rx_core_testing/**
  rx_core_traits: any of: crates/rx_core_traits/**
