Repository AlexAegis/rx_bevy: changes, and which Codecov flags are due for each by the changed paths.
All: rx_bevy, rx_bevy_common, rx_bevy_context, rx_bevy_observable_event, rx_bevy_observable_keyboard, rx_bevy_observable_message, rx_bevy_observable_proxy, rx_bevy_observable_resource, rx_core, rx_core_notification_store, rx_core_notification_variadics, rx_core_macro_common, rx_core_macro_executor_derive, rx_core_macro_observable_derive, rx_core_macro_observer_derive, rx_core_macro_operator_derive, rx_core_macro_scheduler_derive, rx_core_macro_subject_derive, rx_core_macro_subscriber_derive, rx_core_macro_subscription_derive, rx_core_macro_work_derive, rx_core_observable_closed, rx_core_observable_combine_changes, rx_core_observable_combine_latest, rx_core_observable_concat, rx_core_observable_connectable, rx_core_observable_deferred, rx_core_observable_empty, rx_core_observable_interval, rx_core_observable_iterator, rx_core_observable_iterator_on_tick, rx_core_observable_join, rx_core_observable_merge, rx_core_observable_never, rx_core_observable_of, rx_core_observable_throw, rx_core_observable_timer, rx_core_observable_zip, rx_core_observer_fn, rx_core_observer_noop, rx_core_observer_print, rx_core_operator_adsr, rx_core_operator_composite, rx_core_operator_concat_all, rx_core_operator_concat_map, rx_core_operator_delay, rx_core_operator_dematerialize, rx_core_operator_end_with, rx_core_operator_enumerate, rx_core_operator_error_boundary, rx_core_operator_exhaust_all, rx_core_operator_exhaust_map, rx_core_operator_fallback_when_silent, rx_core_operator_filter, rx_core_operator_filter_map, rx_core_operator_finalize, rx_core_operator_find, rx_core_operator_find_index, rx_core_operator_first, rx_core_operator_identity, rx_core_operator_into_result, rx_core_operator_lift_option, rx_core_operator_lift_result, rx_core_operator_map, rx_core_operator_map_error, rx_core_operator_map_into, rx_core_operator_materialize, rx_core_operator_merge_all, rx_core_operator_merge_map, rx_core_operator_on_next, rx_core_operator_on_subscribe, rx_core_operator_reduce, rx_core_operator_retry, rx_core_operator_scan, rx_core_operator_share, rx_core_operator_skip, rx_core_operator_start_with, rx_core_operator_switch_all, rx_core_operator_switch_map, rx_core_operator_take, rx_core_operator_tap, rx_core_operator_tap_next, rx_core_scheduler_ticking, rx_core_subject_async, rx_core_subject_behavior, rx_core_subject_provenance, rx_core_subject_publish, rx_core_subject_replay, rx_core_subscriber_higher_order_concurrent, rx_core_subscriber_higher_order_exhaust, rx_core_subscriber_higher_order, rx_core_subscriber_higher_order_all, rx_core_subscriber_higher_order_map, rx_core_subscriber_rc, rx_core_subscriber_higher_order_switch, rx_core_subscription_inert, rx_core_testing, rx_core_traits

Path conditions:
  rx_bevy: any of: crates/rx_bevy/**
  rx_bevy_common: any of: crates/rx_bevy_common/**
  rx_bevy_context: any of: crates/rx_bevy_context/**
  rx_bevy_observable_event: any of: crates/rx_bevy_observable_event/**
  rx_bevy_observable_keyboard: any of: crates/rx_bevy_observable_keyboard/**
  rx_bevy_observable_message: any of: crates/rx_bevy_observable_message/**
  rx_bevy_observable_proxy: any of: crates/rx_bevy_observable_proxy/**
  rx_bevy_observable_resource: any of: crates/rx_bevy_observable_resource/**
  rx_core: any of: crates/rx_core/**
  rx_core_notification_store: any of: crates/rx_core_notification_store/**
  rx_core_notification_variadics: any of: crates/rx_core_notification_variadics/**
  rx_core_macro_common: any of: crates/rx_core_macro_common/**
  rx_core_macro_executor_derive: any of: crates/rx_core_macro_executor_derive/**
  rx_core_macro_observable_derive: any of: crates/rx_core_macro_observable_derive/**
  rx_core_macro_observer_derive: any of: crates/rx_core_macro_observer_derive/**
  rx_core_macro_operator_derive: any of: crates/rx_core_macro_operator_derive/**
  rx_core_macro_scheduler_derive: any of: crates/rx_core_macro_scheduler_derive/**
  rx_core_macro_subject_derive: any of: crates/rx_core_macro_subject_derive/**
  rx_core_macro_subscriber_derive: any of: crates/rx_core_macro_subscriber_derive/**
  rx_core_macro_subscription_derive: any of: crates/rx_core_macro_subscription_derive/**
  rx_core_macro_work_derive: any of: crates/rx_core_macro_work_derive/**
  rx_core_observable_closed: any of: crates/rx_core_observable_closed/**
  rx_core_observable_combine_changes: any of: crates/rx_core_observable_combine_changes/**
  rx_core_observable_combine_latest: any of: crates/rx_core_observable_combine_latest/**
  rx_core_observable_concat: any of: crates/rx_core_observable_concat/**
  rx_core_observable_connectable: any of: crates/rx_core_observable_connectable/**
  rx_core_observable_deferred: any of: crates/rx_core_observable_deferred/**
  rx_core_observable_empty: any of: crates/rx_core_observable_empty/**
  rx_core_observable_interval: any of: crates/rx_core_observable_interval/**
  rx_core_observable_iterator: any of: crates/rx_core_observable_iterator/**
  rx_core_observable_iterator_on_tick: any of: crates/rx_core_observable_iterator_on_tick/**
  rx_core_observable_join: any of: crates/rx_core_observable_join/**
  rx_core_observable_merge: any of: crates/rx_core_observable_merge/**
  rx_core_observable_never: any of: crates/rx_core_observable_never/**
  rx_core_observable_of: any of: crates/rx_core_observable_of/**
  rx_core_observable_throw: any of: crates/rx_core_observable_throw/**
  rx_core_observable_timer: any of: crates/rx_core_observable_timer/**
  rx_core_observable_zip: any of: crates/rx_core_observable_zip/**
  rx_core_observer_fn: any of: crates/rx_core_observer_fn/**
  rx_core_observer_noop: any of: crates/rx_core_observer_noop/**
  rx_core_observer_print: any of: crates/rx_core_observer_print/**
  rx_core_operator_adsr: any of: crates/rx_core_operator_adsr/**
  rx_core_operator_composite: any of: crates/rx_core_operator_composite/**
  rx_core_operator_concat_all: any of: crates/rx_core_operator_concat_all/**
  rx_core_operator_concat_map: any of: crates/rx_core_operator_concat_map/**
  rx_core_operator_delay: any of: crates/rx_core_operator_delay/**
  rx_core_operator_dematerialize: any of: crates/rx_core_operator_dematerialize/**
  rx_core_operator_end_with: any of: crates/rx_core_operator_end_with/**
  rx_core_operator_enumerate: any of: crates/rx_core_operator_enumerate/**
  rx_core_operator_error_boundary: any of: crates/rx_core_operator_error_boundary/**
  rx_core_operator_exhaust_all: any of: crates/rx_core_operator_exhaust_all/**
  rx_core_operator_exhaust_map: any of: crates/rx_core_operator_exhaust_map/**
  rx_core_operator_fallback_when_silent: any of: crates/rx_core_operator_fallback_when_silent/**
  rx_core_operator_filter: any of: crates/rx_core_operator_filter/**
  rx_core_operator_filter_map: any of: crates/rx_core_operator_filter_map/**
  rx_core_operator_finalize: any of: crates/rx_core_operator_finalize/**
  rx_core_operator_find: any of: crates/rx_core_operator_find/**
  rx_core_operator_find_index: any of: crates/rx_core_operator_find_index/**
  rx_core_operator_first: any of: crates/rx_core_operator_first/**
  rx_core_operator_identity: any of: crates/rx_core_operator_identity/**
  rx_core_operator_into_result: any of: crates/rx_core_operator_into_result/**
  rx_core_operator_lift_option: any of: crates/rx_core_operator_lift_option/**
  rx_core_operator_lift_result: any of: crates/rx_core_operator_lift_result/**
  rx_core_operator_map: any of: crates/rx_core_operator_map/**
  rx_core_operator_map_error: any of: crates/rx_core_operator_map_error/**
  rx_core_operator_map_into: any of: crates/rx_core_operator_map_into/**
  rx_core_operator_materialize: any of: crates/rx_core_operator_materialize/**
  rx_core_operator_merge_all: any of: crates/rx_core_operator_merge_all/**
  rx_core_operator_merge_map: any of: crates/rx_core_operator_merge_map/**
  rx_core_operator_on_next: any of: crates/rx_core_operator_on_next/**
  rx_core_operator_on_subscribe: any of: crates/rx_core_operator_on_subscribe/**
  rx_core_operator_reduce: any of: crates/rx_core_operator_reduce/**
  rx_core_operator_retry: any of: crates/rx_core_operator_retry/**
  rx_core_operator_scan: any of: crates/rx_core_operator_scan/**
  rx_core_operator_share: any of: crates/rx_core_operator_share/**
  rx_core_operator_skip: any of: crates/rx_core_operator_skip/**
  rx_core_operator_start_with: any of: crates/rx_core_operator_start_with/**
  rx_core_operator_switch_all: any of: crates/rx_core_operator_switch_all/**
  rx_core_operator_switch_map: any of: crates/rx_core_operator_switch_map/**
  rx_core_operator_take: any of: crates/rx_core_operator_take/**
  rx_core_operator_tap: any of: crates/rx_core_operator_tap/**
  rx_core_operator_tap_next: any of: crates/rx_core_operator_tap_next/**
  rx_core_scheduler_ticking: any of: crates/rx_core_scheduler_ticking/**
  rx_core_subject_async: any of: crates/rx_core_subject_async/**
  rx_core_subject_behavior: any of: crates/rx_core_subject_behavior/**
  rx_core_subject_provenance: any of: crates/rx_core_subject_provenance/**
  rx_core_subject_publish: any of: crates/rx_core_subject_publish/**
  rx_core_subject_replay: any of: crates/rx_core_subject_replay/**
  rx_core_subscriber_higher_order_concurrent: any of: crates/rx_core_subscriber_higher_order_concurrent/**
  rx_core_subscriber_higher_order_exhaust: any of: crates/rx_core_subscriber_higher_order_exhaust/**
  rx_core_subscriber_higher_order: any of: crates/rx_core_subscriber_higher_order/**
  rx_core_subscriber_higher_order_all: any of: crates/rx_core_subscriber_higher_order_all/**
  rx_core_subscriber_higher_order_map: any of: crates/rx_core_subscriber_higher_order_map/**
  rx_core_subscriber_rc: any of: crates/rx_core_subscriber_rc/**
  rx_core_subscriber_higher_order_switch: any of: crates/rx_core_subscriber_higher_order_switch/**
  rx_core_subscription_inert: any of: crates/rx_core_subscription_inert/**
  rx_core_testing: any of: crates/rx_core_testing/**
  rx_core_traits: any of: crates/rx_core_traits/**

test(rx_bevy_common): added more tests, removed unused code
  crates/rx_bevy_common/src/notification/notification_event_observer.rs
  crates/rx_bevy_common/src/notification/notification_event_subscriber.rs
  crates/rx_bevy_common/src/notification/notification_event_subscription.rs
  crates/rx_bevy_common/src/observable/command_subscribe.rs
  crates/rx_bevy_common/src/observable/observable_component.rs
  crates/rx_bevy_common/src/observable/subscribe_observer_relationship.rs
  crates/rx_bevy_common/src/rx_bevy_context.rs
  crates/rx_bevy_common/src/subject/subject_component.rs
  crates/rx_bevy_common/src/subscription_component.rs
  crates/rx_bevy_common/tests/observable_component_test.rs
  crates/rx_core_common/src/signals/notification_subscription.rs
Due: rx_bevy_common

feat(rx_core): added the with_latest_from operator
  Cargo.lock
  Cargo.toml
  codecov.yml
  crates/rx_bevy/Cargo.toml
  crates/rx_core/Cargo.toml
  crates/rx_core/src/lib.rs
  crates/rx_core_operator_with_latest_from/Cargo.toml
  crates/rx_core_operator_with_latest_from/examples/with_latest_from_operator_example.rs
  crates/rx_core_operator_with_latest_from/readme.md
  crates/rx_core_operator_with_latest_from/src/lib.rs
  crates/rx_core_operator_with_latest_from/src/with_latest_from_extension_compose.rs
  crates/rx_core_operator_with_latest_from/src/with_latest_from_extension_pipe.rs
  crates/rx_core_operator_with_latest_from/src/with_latest_from_inner_destination.rs
  crates/rx_core_operator_with_latest_from/src/with_latest_from_operator.rs
  crates/rx_core_operator_with_latest_from/src/with_latest_from_subscriber.rs
  crates/rx_core_operator_with_latest_from/tests/with_latest_from_operator_test.rs
  docs/SUMMARY.md
  docs/operator/with_latest_from.md
Due: rx_bevy, rx_core

test(rx_bevy_observable_event): added tests
  crates/rx_bevy_common/src/scheduler/mod.rs
  crates/rx_bevy_common/src/scheduler/rx_bevy_executor.rs
  crates/rx_bevy_common/tests/entity_destination_test.rs
  crates/rx_bevy_observable_event/src/event_subscription.rs
  crates/rx_bevy_observable_event/tests/event_observable_test.rs
  crates/rx_core_scheduler_ticking/src/ticking_executor.rs
Due: rx_bevy_common, rx_bevy_observable_event, rx_core_scheduler_ticking

test(rx_bevy_observable_keyboard): added tests
  crates/rx_bevy_observable_event/src/event_subscription.rs
  crates/rx_bevy_observable_event/tests/event_observable_test.rs
  crates/rx_bevy_observable_keyboard/src/keyboard_subscription.rs
  crates/rx_bevy_observable_keyboard/tests/keyboard_observable_test.rs
  crates/rx_core_common/src/subscriptions/teardown.rs
  crates/rx_core_common/src/subscriptions/teardown_collection.rs
  crates/rx_core_scheduler_ticking/src/work/ticked_work_continuous.rs
  crates/rx_core_scheduler_ticking/tests/ticking_executor_test.rs
  docs/contracts.md
Due: rx_bevy_observable_event, rx_bevy_observable_keyboard, rx_core_scheduler_ticking

test(rx_bevy_observable_message): added tests
  crates/rx_bevy_observable_message/src/message_subscription.rs
  crates/rx_bevy_observable_message/tests/message_observable_test.rs
Due: rx_bevy_observable_message

test(rx_bevy_observable_resource): added tests
  crates/rx_bevy_observable_keyboard/tests/keyboard_observable_test.rs
  crates/rx_bevy_observable_resource/examples/ad_hoc_resource_observable_example.rs
  crates/rx_bevy_observable_resource/examples/resource_observable_example.rs
  crates/rx_bevy_observable_resource/src/resource_observable.rs
  crates/rx_bevy_observable_resource/src/resource_observable_options.rs
  crates/rx_bevy_observable_resource/src/resource_subscription.rs
  crates/rx_bevy_observable_resource/tests/resource_observable_test.rs
Due: rx_bevy_observable_keyboard, rx_bevy_observable_resource

test(rx_bevy_observable_proxy): added tests
  crates/rx_bevy_common/tests/scheduler_test.rs
  crates/rx_bevy_observable_proxy/examples/proxy_observable_example.rs
  crates/rx_bevy_observable_proxy/src/proxy_subscription.rs
  crates/rx_bevy_observable_proxy/tests/proxy_observable_test.rs
  crates/rx_bevy_observable_resource/tests/resource_observable_test.rs
Due: rx_bevy_common, rx_bevy_observable_proxy, rx_bevy_observable_resource

test(rx_core): added and fixed contracts for concat and merge observables
  Cargo.lock
  crates/rx_core_observable_concat/src/concat_observable.rs
  crates/rx_core_observable_concat/tests/concat_observable_test.rs
  crates/rx_core_observable_merge/src/merge_observable.rs
  crates/rx_core_observable_merge/tests/merge_observable_test.rs
  crates/rx_core_subscriber_higher_order/src/higher_order_subscriber_inner.rs
  crates/rx_core_subscriber_higher_order_concurrent/src/concurrent_subscriber.rs
Due: rx_core_observable_concat, rx_core_observable_merge, rx_core_subscriber_higher_order_concurrent, rx_core_subscriber_higher_order

test(rx_core): added contract tests
  crates/rx_core_common/src/subscribers/subscriber_arc_mutex.rs
  crates/rx_core_common/src/subscribers/subscriber_arc_rw_lock.rs
  crates/rx_core_common/src/subscribers/subscriber_arc_weak_mutex.rs
  crates/rx_core_observable_closed/tests/closed_observable_test.rs
  crates/rx_core_observable_combine_changes/src/combine_changes_observable.rs
  crates/rx_core_observable_combine_changes/src/combine_changes_subscriber.rs
  crates/rx_core_observable_combine_changes/tests/combine_changes_observable_test.rs
  crates/rx_core_observable_combine_latest/src/combine_latest_observable.rs
  crates/rx_core_observable_combine_latest/src/combine_latest_subscriber.rs
  crates/rx_core_observable_combine_latest/tests/combine_latest_observable_test.rs
  crates/rx_core_observable_connectable/tests/connectable_observable_test.rs
  crates/rx_core_observable_deferred/tests/deferred_observable_test.rs
  crates/rx_core_observable_empty/tests/empty_observable_test.rs
  crates/rx_core_observable_interval/tests/interval_observable_test.rs
  crates/rx_core_observable_iterator/tests/iterator_observable_test.rs
  crates/rx_core_observable_iterator_on_tick/tests/iterator_on_tick_observable_test.rs
  crates/rx_core_observable_join/src/join_observable.rs
  crates/rx_core_observable_join/tests/join_observable_test.rs
  crates/rx_core_observable_never/tests/never_observable_test.rs
  crates/rx_core_observable_of/tests/of_observable_test.rs
  crates/rx_core_observable_throw/tests/throw_observable_test.rs
  crates/rx_core_observable_timer/tests/timer_observable_test.rs
  crates/rx_core_observable_zip/src/zip_observable.rs
  crates/rx_core_observable_zip/src/zip_subscriber.rs
  crates/rx_core_observable_zip/tests/zip_observable_test.rs
  crates/rx_core_operator_composite/tests/composite_operator_test.rs
  crates/rx_core_operator_error_boundary/tests/error_boundary_operator_test.rs
  crates/rx_core_operator_fallback_when_silent/tests/fallback_when_silent_operator_test.rs
  crates/rx_core_operator_find/src/find_operator_error.rs
  crates/rx_core_operator_find/tests/find_operator_test.rs
  crates/rx_core_operator_find_index/src/find_index_operator_error.rs
  crates/rx_core_operator_find_index/tests/find_index_operator_test.rs
  crates/rx_core_operator_into_result/tests/into_result_operator_test.rs
  crates/rx_core_operator_map_never/tests/map_never_both_operator_test.rs
  crates/rx_core_operator_map_never/tests/map_never_error_operator_test.rs
  crates/rx_core_subscriber_rc/src/inner_rc_subscriber.rs
Due: rx_core_observable_closed, rx_core_observable_combine_changes, rx_core_observable_combine_latest, rx_core_observable_connectable, rx_core_observable_deferred, rx_core_observable_empty, rx_core_observable_interval, rx_core_observable_iterator, rx_core_observable_iterator_on_tick, rx_core_observable_join, rx_core_observable_never, rx_core_observable_of, rx_core_observable_throw, rx_core_observable_timer, rx_core_observable_zip, rx_core_operator_composite, rx_core_operator_error_boundary, rx_core_operator_fallback_when_silent, rx_core_operator_find, rx_core_operator_find_index, rx_core_operator_into_result, rx_core_subscriber_rc

feat(rx_core_operator_is_empty): added the is_empty operator
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  codecov.yml
  crates/rx_bevy/Cargo.toml
  crates/rx_core/Cargo.toml
  crates/rx_core/src/lib.rs
  crates/rx_core_observer_print/src/print_observer.rs
  crates/rx_core_operator_is_empty/Cargo.toml
  crates/rx_core_operator_is_empty/examples/is_empty_operator_example.rs
  crates/rx_core_operator_is_empty/readme.md
  crates/rx_core_operator_is_empty/src/is_empty_extension_compose.rs
  crates/rx_core_operator_is_empty/src/is_empty_extension_pipe.rs
  crates/rx_core_operator_is_empty/src/is_empty_operator.rs
  crates/rx_core_operator_is_empty/src/is_empty_subscriber.rs
  crates/rx_core_operator_is_empty/src/lib.rs
  crates/rx_core_operator_is_empty/tests/is_empty_operator_test.rs
  docs/SUMMARY.md
  docs/operator/is_empty.md
Due: rx_bevy, rx_core, rx_core_observer_print

docs(rx_core_operator_identity): added description
  crates/rx_core_operator_identity/Cargo.toml
  crates/rx_core_operator_identity/examples/identity_operator_composite_example.rs
  crates/rx_core_operator_identity/examples/identity_operator_example.rs
  crates/rx_core_operator_identity/readme.md
Due: rx_core_operator_identity

chore(rx_core_subject_provenance): renamed fn
  crates/rx_core_operator_enumerate/src/enumerate_operator.rs
  crates/rx_core_subject_provenance/src/provenance_subject.rs
  crates/rx_core_subject_provenance/tests/provenance_subject_test.rs
Due: rx_core_operator_enumerate, rx_core_subject_provenance

docs(rx_core_operator_into_result): added description
  crates/rx_core_operator_identity/Cargo.toml
  crates/rx_core_operator_into_result/Cargo.toml
  crates/rx_core_operator_into_result/examples/into_result_operator_example.rs
  crates/rx_core_operator_into_result/readme.md
  crates/rx_core_operator_into_result/src/into_result_operator.rs
Due: rx_core_operator_identity, rx_core_operator_into_result

docs(rx_core): added rx_core logo
  docs/assets/rx_bevy_logo.png
  docs/assets/rx_core_logo.png
  docs/introduction.md
Due: none

docs(rx_core_operator_is_empty): added description
  crates/rx_core_operator_is_empty/Cargo.toml
  crates/rx_core_operator_is_empty/readme.md
  crates/rx_core_operator_is_empty/src/is_empty_operator.rs
Due: none

docs(rx_core_observable_closed): added description
  crates/rx_core_observable_closed/Cargo.toml
  crates/rx_core_observable_closed/readme.md
  crates/rx_core_observable_closed/src/closed_observable.rs
  crates/rx_core_observable_closed/src/closed_observable_fn.rs
  crates/rx_core_operator_into_result/readme.md
  crates/rx_core_operator_into_result/src/into_result_extension_compose.rs
  crates/rx_core_operator_into_result/src/into_result_extension_pipe.rs
  crates/rx_core_operator_is_empty/src/is_empty_extension_compose.rs
  crates/rx_core_operator_is_empty/src/is_empty_extension_pipe.rs
  crates/rx_core_operator_is_empty/src/is_empty_operator.rs
Due: rx_core_observable_closed, rx_core_operator_into_result

docs(rx_core): draft readme structure
  crates/rx_core/readme.md
  readme.md
Due: rx_core

chore: removed all control files used to compare behavior
  crates/rx_core_observable_combine_latest/control/combine_latest.ts
  crates/rx_core_observable_connectable/control/connectable.ts
  crates/rx_core_observable_connectable/control/defer.ts
  crates/rx_core_observable_zip/control/zip.ts
  crates/rx_core_operator_delay/control/delay.ts
  crates/rx_core_operator_finalize/control/finalize_operator_complete_then_unsubscribe.ts
  crates/rx_core_operator_finalize/control/finalize_operator_take.ts
  crates/rx_core_operator_finalize/control/finalize_operator_unsubscribe_then_complete.ts
  crates/rx_core_operator_switch_map/control/operate.ts
  crates/rx_core_operator_switch_map/control/switchMap.ts
  crates/rx_core_operator_switch_map/control/switchMapSubscription.ts
  crates/rx_core_subject_publish/control/of_completion_unsubscribes.ts
  crates/rx_core_subject_publish/control/subject_completion_unsubscribes.ts
  crates/rx_core_subject_publish/control/subject_error_unsubscribes.ts
Due: rx_core_observable_combine_latest, rx_core_observable_connectable, rx_core_observable_zip, rx_core_operator_delay, rx_core_operator_finalize, rx_core_operator_switch_map, rx_core_subject_publish

feat(rx_bevy_observable_event): now completes when the target entity despawns
  crates/rx_bevy_common/src/observable/command_subscribe.rs
  crates/rx_bevy_common/src/observable/commands_with_observable.rs
  crates/rx_bevy_common/src/observable/entity_commands_observable.rs
  crates/rx_bevy_common/src/observable/mod.rs
  crates/rx_bevy_common/src/observable/observable_component.rs
  crates/rx_bevy_common/src/observable/observable_subscription_relationship.rs
  crates/rx_bevy_common/src/observable/subscribe_observer_relationship_erased.rs
  crates/rx_bevy_common/src/subject/subject_component.rs
  crates/rx_bevy_common/src/subscription/entity_subscription.rs
  crates/rx_bevy_common/src/subscription/mod.rs
  crates/rx_bevy_common/src/subscription/subscribe_event.rs
  crates/rx_bevy_common/src/subscription/subscription_satellite_relationship.rs
  crates/rx_bevy_common/src/subscription_component.rs
  crates/rx_bevy_common/tests/observable_component_test.rs
  crates/rx_bevy_observable_event/examples/event_example.rs
  crates/rx_bevy_observable_event/examples/event_observable_minimal_example.rs
  crates/rx_bevy_observable_event/readme.md
  crates/rx_bevy_observable_event/src/event_subscription.rs
  crates/rx_bevy_observable_event/tests/event_observable_test.rs
  crates/rx_bevy_observable_keyboard/readme.md
  crates/rx_bevy_observable_message/tests/message_observable_test.rs
  crates/rx_core_common/src/scheduling/scheduler.rs
  crates/rx_core_common/src/subscriptions/mod.rs
  crates/rx_core_common/src/subscriptions/subscription_extension_share.rs
Due: rx_bevy_common, rx_bevy_observable_event, rx_bevy_observable_keyboard, rx_bevy_observable_message

refactor(rx_bevy_common): subjects signal observer now uses a dedicated relationship
  crates/rx_bevy_common/src/observable/observable_component.rs
  crates/rx_bevy_common/src/observable/subscribe_observer_relationship_erased.rs
  crates/rx_bevy_common/src/subject/mod.rs
  crates/rx_bevy_common/src/subject/signal_observer_relationship.rs
  crates/rx_bevy_common/src/subject/subject_component.rs
  crates/rx_bevy_observable_event/readme.md
  crates/rx_core_common/src/observer.rs
  crates/rx_core_scheduler_ticking/src/ticking_scheduler.rs
Due: rx_bevy_common, rx_bevy_observable_event, rx_core_scheduler_ticking

refactor(rx_bevy_common): refactored some satellites to have a bundle as the primary way to spawn them
  crates/rx_bevy_common/src/observable/commands_with_observable.rs
  crates/rx_bevy_common/src/observable/mod.rs
  crates/rx_bevy_common/src/observable/observable_component.rs
  crates/rx_bevy_common/src/observable/subscribe_observer_relationship.rs
  crates/rx_bevy_common/src/observable/subscribe_observer_satellite.rs
  crates/rx_bevy_common/src/subject/mod.rs
  crates/rx_bevy_common/src/subject/signal_observer_relationship.rs
  crates/rx_bevy_common/src/subject/signal_observer_satellite.rs
  crates/rx_bevy_common/src/subject/subject_component.rs
  crates/rx_bevy_common/src/subscription/mod.rs
  crates/rx_bevy_common/src/subscription/subscription_satellite.rs
  crates/rx_bevy_common/src/subscription/subscription_satellite_relationship.rs
  crates/rx_bevy_common/src/subscription_component.rs
  crates/rx_bevy_common/tests/subscription_component_test.rs
  crates/rx_bevy_observable_event/src/event_subscription.rs
Due: rx_bevy_common, rx_bevy_observable_event

chore(rx_bevy_common): removed the debug plugin prototype
  Cargo.lock
  crates/rx_bevy_common/Cargo.toml
  crates/rx_bevy_common/src/debug/debug_inspector.rs
  crates/rx_bevy_common/src/debug/mod.rs
  crates/rx_bevy_common/src/lib.rs
  crates/rx_bevy_common/src/observable/observable_component.rs
  crates/rx_bevy_common/src/observable/observable_subscription_relationship.rs
  crates/rx_bevy_common/src/observable/subscribe_observer_relationship_erased.rs
  crates/rx_bevy_common/src/observable/subscribe_observer_satellite.rs
  crates/rx_bevy_common/src/subject/signal_observer_satellite.rs
  crates/rx_bevy_common/src/subject/subject_component.rs
Due: rx_bevy_common

chore: removed unused crate
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  Makefile.toml
  crates/feature_checker/Cargo.toml
  crates/feature_checker/readme.md
  crates/feature_checker/src/main.rs
  crates/xtask/src/lints/codecov.rs
Due: none

chore: removed the unused async subscription prototype
  crates/rx_bevy_common/src/subscription/async_subscription.rs
  crates/rx_bevy_common/src/subscription/mod.rs
Due: rx_bevy_common

test(rx_bevy_common): added tests for subscription satellite
  crates/rx_bevy_common/tests/subscription_satellite_test.rs
Due: rx_bevy_common

test(rx_bevy_common): added tests for observable query
  crates/rx_bevy_common/src/subject/subject_component.rs
  crates/rx_bevy_common/tests/observable_query_test.rs
Due: rx_bevy_common

test(rx_bevy_common): added test for failed subscriptions
  crates/rx_bevy_common/tests/observable_component_test.rs
Due: rx_bevy_common

test(rx_bevy_common): added more tests
  crates/rx_bevy_common/tests/commands_with_observable_test.rs
  crates/rx_bevy_common/tests/entity_command_subscribe_test.rs
  crates/rx_bevy_common/tests/observable_query_test.rs
  crates/rx_bevy_observable_proxy/tests/entity_command_as_proxy_observable_test.rs
Due: rx_bevy_common, rx_bevy_observable_proxy

feat(rx_core_observable_create): added the create observable
  Cargo.lock
  Cargo.toml
  codecov.yml
  crates/rx_bevy/Cargo.toml
  crates/rx_core/Cargo.toml
  crates/rx_core/src/lib.rs
  crates/rx_core_common/src/signals/notification_subscription.rs
  crates/rx_core_common/src/subscriptions/subscription_extension_share.rs
  crates/rx_core_common/src/subscriptions/subscription_shared.rs
  crates/rx_core_observable_create/Cargo.toml
  crates/rx_core_observable_create/examples/create_example.rs
  crates/rx_core_observable_create/readme.md
  crates/rx_core_observable_create/src/create_observable.rs
  crates/rx_core_observable_create/src/create_observable_fn.rs
  crates/rx_core_observable_create/src/lib.rs
  crates/rx_core_observable_create/tests/create_observable_test.rs
  docs/SUMMARY.md
  docs/observable/create.md
Due: rx_bevy, rx_core

test(rx_core_operator_adsr): added contract tests
  crates/rx_core_operator_adsr/src/adsr/adsr_envelope.rs
  crates/rx_core_operator_adsr/src/model/adsr_signal.rs
  crates/rx_core_operator_adsr/tests/adsr_operator_tests.rs
Due: rx_core_operator_adsr

test(rx_core): added tests for optional operators
  crates/rx_core/tests/option_operator_test.rs
Due: rx_core

test(rx_bevy_common): added tests for component removal
  crates/examples_common/src/alternate_system_on_press.rs
  crates/examples_common/src/subscription_map_resource.rs
  crates/rx_bevy_common/src/observable/observable_component.rs
  crates/rx_bevy_common/src/scheduler/rx_plugin.rs
  crates/rx_bevy_common/src/subject/subject_component.rs
  crates/rx_bevy_common/tests/observable_component_test.rs
  crates/rx_bevy_common/tests/subject_component_test.rs
  crates/rx_bevy_common/tests/utilities.rs
Due: rx_bevy_common

test(rx_core_observer_noop): added tests
  crates/rx_core_observer_noop/tests/noop_observer_test.rs
Due: rx_core_observer_noop

test(rx_core_observer_fn): added tests
  crates/rx_core_observer_fn/tests/dyn_fn_observer_test.rs
  crates/rx_core_observer_fn/tests/fn_observer_test.rs
Due: rx_core_observer_fn

test(rx_core_observer_print): added tests
  crates/rx_core_observer_print/tests/print_observer_test.rs
Due: rx_core_observer_print
